// ----------------------------------------------------------------------------
// This file contains all styles related to the home page
// ----------------------------------------------------------------------------
