/*=============================================================================
    Anything to do with content, padding, border, margin
================================--|--========================================*/

// Padding
.fluff-loose--full {
    padding: 10px;
}

.fluff-loose--top {
    padding-top: 10px;
}

// Margin
.gutter-left--window {
    margin-left: 4em;
}

.gutter-right-window {
    margin-right: 4em;
}

.gutter-top-small {
    margin-top: 1em;
}

// Border

.separate-bottom {
    border-bottom: 1px solid #23527C;
}

.separate-top {
    border-top: 1px solid #23527C;
}
