// ----------------------------------------------------------------------------
// This file contains all styles related to the footer of the app
// ----------------------------------------------------------------------------
