.device {
    &-menu {
        &--large {
            display: none;
        }
    }
    &-ballot {
        &--large {
            float: none;
            width: 100%;
        }
    }
}

@media all and (max-width : 480px) {
    .device {
    }
}

@media all and (min-width : 480px) {
    .device {
        &-menu {
            &--large {
                display: inline-block;
                left: 0;
                min-width: 30%;
                position: absolute;
                top: 96px;
                white-space: nowrap;
            }
        }
        &-footer {
            &--large {
                background: transparent;
                border-color: #fff;
                display: inline-block;
                height: 75px;
                left: auto;
                right: 100px;
                top: 0;

                .separate-top {
                    border-top: none;
                }
            }

        }
        &-icon {
            &--large {
                display: none;
            }
        }
        &-small {
            &--hide {
                display: none;
            }
        }
    }
    .ballot {
        &-list {
            float: right;
            width: 65%;
        }
    }

    .font {
        &-footer {
            &_icon {
                font-size: 1.25em;
            }
        }
    }
}
