// Overrides - for app-wide overrides. Isolated overrides can be left in contextually appropriate places.
$white-text-color: $white;

.h1 { // TODO: replace this custom hack with responsive set of typographic classes
  font-size: 22px;
  @include breakpoints(medium) {
    font-size: 28px;
  }
}


// Required because Google Auto-complete needs to appear above Material-UI modal: https://material-ui.com/customization/z-index/
// This is used for the address auto-complete field (.pac-container is injected via Google)
.pac-container {
  z-index: 1301 !important;
}

.pac-icon {
  display: none !important;
}

// Used to prevent scrolling underneath a modal(modal)
// Reference: Issue #1415
.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

// Used to color the arrow at top of Popovers
.bs-popover-bottom > .arrow::after,
.bs-popover-auto[x-placement^='bottom'] > .arrow::after {
  top: 1px;
  border-width: 0 .5rem .5rem .5rem;
  border-bottom-color: $brand-blue;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
