// stylelint-disable selector-max-type
$cordova-container-main-top-margin-ios:       3vh;
$cordova-container-main-top-margin-ios-notch: 8vh;

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: $app-background-color;
  height: 100%;
}

.app-wrapper {
  min-height: 100%;
  position: relative;
  @include breakpoints($max-page-container-width) {
    margin: $space-none $space-auto;
  }
}

.page-content-container {
  margin: $space-none $space-auto;
  max-width: $max-page-container-width;
  position: relative;
  z-index: 0;
}

.container-main {
  padding-top: $space-md;
  padding-bottom: $space-xl;
  &__candidate-ios-notch {
    padding-top: $cordova-container-main-top-margin-ios-notch;
  }
  &__candidate-ios-older {
    padding-top: $cordova-container-main-top-margin-ios;
  }
}

.container-settings {
  padding-top: $space-none;
  padding-bottom: $space-xl;
}

// Disable cut and paste in Cordova, if not in an input field.  Otherwise it is a giveaway that this is a hybrid app (a wrapper).
.cordova-base {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cordova-base-iphonex {
  padding-top: $space-lg;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

// stylelint-enable
