html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #F5F4F1;
  height: 100%;
  letter-spacing: -0.02em;
}

#app {
  min-height: 100%;
  max-width: $max-page-container-width;
}

.container-main {
  padding-top: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}
