// stylelint-disable selector-max-type

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: $app-background-color;
  height: 100%;
}

.app-wrapper {
  min-height: 100%;
  position: relative;
  @include breakpoints($max-page-container-width) {
    margin: $space-none $space-auto;
  }
}

.page-content-container {
  margin: $space-none $space-auto;
  max-width: $max-page-container-width;
  position: relative;
  z-index: 0;
}

.container-main {
  padding-top: $space-md;
  padding-bottom: $space-xl;
}

.container-settings {
  padding-top: $space-none;
  padding-bottom: $space-xl;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

// stylelint-enable
