// stylelint-disable selector-max-type

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: $app-background-color;
  height: 100%;
}

.app-wrapper {
  min-height: 100%;
  position: relative;
  @include breakpoints($max-page-container-width) {
    margin: $space-none $space-auto;
  }
}

.page-content-container {
  margin: $space-none $space-auto;
  max-width: $max-page-container-width;
  position: relative;
  z-index: 0;
}

.container-main {
  padding-top: $space-md;
  padding-bottom: $space-xl;
}

.container-settings {
  padding-top: $space-none;
  padding-bottom: $space-xl;
}

// Disable cut and paste in Cordova, if not in an input field.  Otherwise it is a giveaway that this is a hybrid app (a wrapper).
.cordova-base {
  -webkit-user-select: none;
  -html-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// stylelint-disable sh-waqar/declaration-use-variable
.headroom-webapp-secondary      { margin-top: 9vh; }
.headroom-webapp-backto         { margin-top: 3vh; }
.headroom-webapp-full           { margin-top: 3vh; }
.headroom-ios-notch-secondary   { margin-top: 10vh; }
.headroom-ios-notch-backto      { margin-top: 8vh; }
.headroom-ios-notch-full        { margin-top: -2vh; }
.headroom-ios-678-secondary     { margin-top: 10vh; }
.headroom-ios-678-backto        { margin-top: -1vh; }
.headroom-ios-678-full          { margin-top: -5vh; }
.headroom-ios-678plus-secondary { margin-top: 10vh; }
.headroom-ios-678plus-backto    { margin-top: 6vh; }
.headroom-ios-678plus-full      { margin-top: -4vh; }
.headroom-ios-ipad-secondary    { margin-top: 7vh; }
.headroom-ios-ipad-backto       { margin-top: 3vh; }
.headroom-ios-ipad-full         { margin-top: 1vh; }
.headroom-android-xl-secondary  { margin-top: 7vh; }
.headroom-android-xl-backto     { margin-top: -3vh; }
.headroom-android-xl-full       { margin-top: -8vh; }
.headroom-android-lg-secondary  { margin-top: 8vh; }
.headroom-android-lg-backto     { margin-top: -3vh; }
.headroom-android-lg-full       { margin-top: -8vh; }
.headroom-android-md-secondary  { margin-top: 8vh; }
.headroom-android-md-backto     { margin-top: -3vh; }
.headroom-android-md-full       { margin-top: -8vh; }
.headroom-android-sm-secondary  { margin-top: 10vh; }
.headroom-android-sm-backto     { margin-top: -5vh; }
.headroom-android-sm-full       { margin-top: -10vh; }
// stylelint-enable sh-waqar/declaration-use-variable

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

// stylelint-enable
