// stylelint-disable selector-max-type


html {
  box-sizing: border-box;
}

svg.map-svg, path.map-svg {
  fill: #2E3C5D70;
  text {
    pointer-events: none;
    fill: white !important;
  }
}

body {
  background-color: $app-background-color;
}

svg {
  width: 100%;
}

.us-state-map path:hover {
  fill: #2e3c5d !important;
  cursor: pointer;
}

.app-wrapper {
  height: 100%;
  min-height: 100%;
  position: relative;
  @include breakpoints($max-page-container-width) {
    margin: $space-none $space-auto;
  }
  &__cordova {
    position: relative;
    height: unset;
    min-height: unset;
  }
}

$toast-cordova-iphone: 24px;
$toast-cordova-iphone-notch: 40px;

.app-toast-cordova {
  &__iphone {
    margin-top: $toast-cordova-iphone !important;
  }
  &__iphone-notch {
    margin-top: $toast-cordova-iphone-notch !important;
  }
}

.page-content-container {
  margin: $space-none $space-auto;
  max-width: $max-page-container-width;
  position: relative;
  z-index: 0;
}

.container-main {
  padding-top: $space-md;
  padding-bottom: $space-xl;
}

.container-settings {
  padding-top: $space-none;
  padding-bottom: $space-xl;
}

// Disable cut and paste in Cordova, if not in an input field.  Otherwise it is a giveaway that this is a hybrid app (a wrapper).
.cordova-base {
  -webkit-user-select: none;
  -html-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

// Remove blue border around buttons in Chrome
button:focus {
  outline: 0 !important;
}

// stylelint-enable
