// ----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// ----------------------------------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);


@font-face {
  font-family: "app-fonts";
  src:url("../fonts/app-fonts.eot");
  src:url("../fonts/app-fonts.eot?#iefix") format("embedded-opentype"),
    url("../fonts/app-fonts.woff") format("woff"),
    url("../fonts/app-fonts.ttf") format("truetype"),
    url("../fonts/app-fonts.svg#app-fonts") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "app-fonts" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "app-fonts" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-vote-3-4:before {
    content: "a";
}
.icon-icon-person-placeholder-6-1:before {
    content: "b";
}
.icon-icon-org-placeholder-6-2:before {
    content: "c";
}
.icon-icon-more-opinions-2-2:before {
    content: "d";
}
.icon-icon-connect-1-3:before {
    content: "e";
    font-size: 25px;
    line-height: .5;
}
.icon-icon-add-friends-2-1:before {
    content: "f";
}
.icon-icon-activity-1-4:before {
    content: "g";
    font-size: 25px;
    line-height: .5;
}
.icon-icon-connect1-3:before {
    content: "h";
}

.icon-xl {
  font-size: 10em;
}

.icon-lg {
  font-size: 8em;
}

.icon-medium {
  font-size: 2em;
}

.icon-small {
  font-size: 15px;
}

.icon-main {
  color: #23527C;
}

.icon-org-resting-color {
  color: #A9A9A9;
}

.icon-org-lg {
  font-size: 4em;
}

.icon-org-medium {
  font-size: 2em;
}

.icon-org-small {
  font-size: 15px;
}
