.image-lg {
  width: 50px;
}
.image-12x12 {
  height: 12px;
  width: 12px;
}

.image-16x16 {
  height: 16px;
  width: 16px;
}

.image-24x24 {
  height: 24px;
  width: 24px;
}

.image-border-gray-border {
  border: 1px solid $gray-mid;
  border-radius: 4px;
}

.image-border-support {
  border: 1px solid rgb(31, 192, 111);
  border-radius: 4px;
}

.image-border-oppose {
  border: 1px solid rgb(255, 73, 34);
  border-radius: 4px;
}

.image-issue-photo-placeholder {
  background-color: $gray-mid;
  // Prevents display of Issues as block of scrunched up words
  min-height: 80px;
  min-width: 80px;
}

.image-issue-placeholder {
  vertical-align: middle;
}

.image-organization-placeholder {
  vertical-align: middle;
}

.image-person-placeholder {
  vertical-align: middle;
}

//@debug 'gulp processed _images.scss';
