.image-lg {
  width: 50px;
}

.image-issue-photo-placeholder {
  background-color: $gray-mid;
  // Prevents display of Issues as block of scrunched up words
  min-height: 80px;
  min-width: 80px;
}

.image-issue-placeholder {
  vertical-align: middle;
}

.image-organization-placeholder {
  vertical-align: middle;
}

.image-person-placeholder {
  vertical-align: middle;
}

//@debug 'gulp processed _images.scss';
