// ----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// ----------------------------------------------------------------------------

@import "./mixins/breakpoints";
@import "./mixins/media-object";


/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}


/// Micro Clearfix
/// @link http://nicolasgallagher.com/micro-clearfix-hack

@mixin clearfix {
  &::before,
  &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}


/// Hide Text

@mixin hide-text {
  text-indent: -10000em;
  overflow: hidden;
  white-space: nowrap;
}

// Print mixin

@mixin print {
  @media print {
    @content;
  }
}
