$base-font-size: 16px;
$html-base-size: 16px;

// stylelint-disable selector-no-type

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $base-font-size;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading-font-stack;
}

html {
  font-size: $html-base-size;
}

body {
  color: $gray-darker;
  font-family: $body-font-stack;
  line-height: 1.4;
}

// p {
//   max-width: 50em;
// }

// stylelint-enable
