// ----------------------------------------------------------------------------
// Basic typography style for copy text
// ----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-stack;
}

body {
    color: $darker-gray;
    font-family: $text-font-stack;
    font-size: 125%;
    line-height: 1.4;
}

.text-uppercase {
    text-transform: uppercase;
}

@include breakpoints(max mid-small) {
    .link-text-to-opinions {
        font-size: .85em;
    }
}
