// ----------------------------------------------------------------------------
// Basic typography style for copy text
// ----------------------------------------------------------------------------

body {
    color: $text-color;
    font: normal 125% / 1.4 $text-font-stack;
}

.text-uppercase {
    text-transform: uppercase;
}

@media all and (max-width: 480px) {
    .link-text-to-opinions {
        font-size: .85em;
    }
}
