// ----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// ----------------------------------------------------------------------------


// ===========================================
// Fonts
// ===========================================

/// Heading font family
/// @type List
$heading-font-stack: 'Source Sans Pro', sans-serif;

/// Regular font family
/// @type List
$body-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



// ===========================================
// Spacing
// ===========================================

// Spacing Tokens
// Don't modify these!
$space-none:   0;
$space-xxs:  2px;
$space-xs:   4px;
$space-sm:   8px;
$space-md:  16px;
$space-lg:  32px;
$space-xl:  64px;
$space-auto: auto; // this is currently required because the 'declaration-use-variable' linter doesn't allow for specific value exceptions when requriing variables
// these are spaces to indent the size of the we vote logo sizes on small and large screens
$space-logo-sm: 55px;
$space-logo-lg: 133px;

// Inset: padding
$space-inset-xs: $space-xs; // 4px
$space-inset-sm: $space-sm; // 8px
$space-inset-md: $space-md; // 16px
$space-inset-lg: $space-lg; // 32px


// Inset Squish classes
$space-inset__squish-sm: $space-xs $space-sm; // 4px 8px
$space-inset__squish-md: $space-sm $space-md; // 8px 16px
$space-inset__squish-lg: $space-md $space-lg; // 16px 32px

// Inset Stretch classes
$space-inset-stretch-sm: $space-sm $space-xs; // 8px 4px
$space-inset-stretch-md: $space-md $space-sm; // 16px 8px
$space-inset-stretch-lg: $space-lg $space-md; // 32px 16px


// Inline (margin-right)
$space-inline-xxs: 0 $space-xxs 0 0; // 2px
$space-inline-xs:  0 $space-xs 0 0;  // 4px
$space-inline-sm:  0 $space-sm 0 0;  // 8px
$space-inline-md:  0 $space-md 0 0;  // 16px
$space-inline-lg:  0 $space-lg 0 0;  // 32px


// Stack (margin-bottom)
$space-stack-xs:   0 0 $space-xs 0;  // 4px
$space-stack-sm:   0 0 $space-sm 0;  // 8px
$space-stack-md:   0 0 $space-md 0;  // 16px
$space-stack-lg:   0 0 $space-lg 0;  // 32px
$space-stack-xl:   0 0 $space-xl 0;  // 64px



// Border Radii
// * Uses a slightly shifted scale to acknowledge smaller common values
$radius-none: 0; // for overrides
$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 8px;
$radius-rounded: 100rem;


// Misc spacing
$gutter-width: 30px; // from Bootstrap
$half-gutter-width: $gutter-width/2; // from Bootstrap
$gutter-offset: -$gutter-width/2;

// ===========================================
// Colors
// ===========================================

$white: #fff;
$black: #000;

// Grays
$gray-pale:    #f8f8f8 !default;
$gray-lighter: #eee !default;
$gray-border:  #ddd !default;
$gray-light:   #ccc !default;
$gray-mid:     #999 !default;
$gray-dark:    #555 !default;
$gray-darker:  #333 !default;

$brand-blue: #1c2f4b;
$page-header-color: $brand-blue;
$brand-white: #fff;
$page-header-getting-started-background-color: $brand-white;

/// Link color
/// @type Color
$link-color: #00749e !default; // mirrors Bootstrap variable - TODO: set single value globally
$link-color-light: #969dff !default;

$app-background-color: #ebecee;


/// Popover Link Color
/// @type Color
$popover-link-color: #549bb6 !default;

/// Copy text color
/// @type Color
$text-color: $gray-darker !default;

/// Selected text color
/// @type Color
/// tentative color (can be adjusted)

$selected-color: #0d546f !default;
$selected-color-bright: #29b6f6;
$modal-backdrop-color: rgba($black, .7);


// ===========================================
// Layout
// ===========================================

/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-page-container-width: 960px !default;


// ===========================================
// Breakpoints (Media Queries)
// ===========================================

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} breakpoints
$breakpoints: (
  'small': 320px,
  'mid-small': 480px,
  'medium': 768px,
  'large': 960px,
  'wide': 1024px,
  'nav': 695px,
  'iphone5':375px
) !default;


// ===========================================
// Misc
// ===========================================

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$modal-backdrop-opacity: .5;

$default-box-shadow: 0 1px 2px rgba(#000, .2);

$slick-dots-margin-bottom: 2em;
