// @charset 'UTF-8';

// ===============================================
// 1. Setup
// ===============================================

// -------------------------------
// Base Variables & Mixins
// -------------------------------
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/normalize'; // * not sure this is necessary w/ Bootstrap - Jeff


// ===============================================
// 2. Base Styles
// ===============================================

@import 'base/base';
@import 'base/fonts';
@import 'base/typography';


// ===============================================
// 3. Vendor
// ===============================================

// * Bootstrap is currently compiled + linked as a separate stylesheet, but should get pulled in here once we do more to customize/integrate styling.
@import 'vendor/react-burger-menu';
@import 'vendor/react-bootstrap-toggle';


// ===============================================
// 4. Utility & Helpers
// ===============================================

@import 'utility/utility';
@import 'utility/u-bg-colors';
@import 'utility/u-flexbox';
@import 'utility/u-typography';
@import 'utility/u-layout';


// ===============================================
// 5. Objects, Components, Sections, Templates
// ===============================================

// -------------------------------
// Smaller Elements
// -------------------------------
// Relatively simple patterns for (often) smaller UI elements

@import 'components/buttons';
@import 'components/loading-spinner';
@import 'components/twitter-followers';

// -------------------------------
// Reusable Components & Design Patterns
// -------------------------------
// 'Components' that are abstracted and used in more than one or two places

@import 'components/account';
@import 'components/card';
@import 'components/network-positions';
@import 'components/position';

// -------------------------------
// React Components
// -------------------------------
// Styles specific to React Components

@import 'components/ballotList';
@import 'components/itemActionBar';
@import 'components/itemPositionStatementActionBar';
@import 'components/bookmarkAction';
@import 'components/friends';

// -------------------------------
// Sections
// -------------------------------
// Larger areas that are not limited to a single component

@import 'components/device-menu';
@import 'components/header';
@import 'components/intro-story';
@import 'components/loading-screen';
@import 'components/navigator';
@import 'components/ballotElectionList';

// ===============================================
// 6. Overrides
// ===============================================

@import 'overrides/overrides.scss';
@import 'overrides/print.scss';

.pac-container {
   z-index: 10007;
 }
