// @charset 'UTF-8';

// 1. Configuration and helpers
@import
  './utils/_variables',
  './utils/_functions',
  './utils/_mixins',
  './utils/_app';

// 2. Vendors
@import
  './vendor/_normalize',
  './vendor/_vendors';

// 3. Base stuff
@import
  './base/_base',
  './base/_fonts',
  './base/_helpers';

// 4. Layout-related sections
@import
  './layout/_boxmodel',
  './layout/_header',
  './layout/_footer',
  './layout/_root',
  './layout/_lists';

// 5. Components
@import
  './components/_badges',
  './components/_ballotList',
  './components/_itemActionbar',
  './components/_candidate',
  './components/_starAction',
  './components/_navigator',
  './components/_header';

// 6. Page-specific styles
@import
  './pages/_home';

// 7. Themes
@import
  './themes/default';

// 8. Media Queries
@import
  './layout/mediaquery';

// 9. Trumps - !important
@import
  './utils/trumps.scss';
