// @charset 'UTF-8';

// ===============================================
// 1. Setup
// ===============================================

// -------------------------------
// Base Variables & Mixins
// -------------------------------
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/normalize'; // * not sure this is necessary w/ Bootstrap - Jeff


// ===============================================
// 2. Base Styles
// ===============================================

@import 'base/base';
@import 'base/fonts';
@import 'base/typography';
@import 'base/images';

// ===============================================
// 3. Vendor
// ===============================================

// ===============================================
// 4. Utility & Helpers
// ===============================================

@import 'utilities/utility';
@import 'utilities/u-bg-colors';
@import 'utilities/u-flexbox';
@import 'utilities/u-typography';
@import 'utilities/u-layout';


// ===============================================
// 5. Objects, Components, Sections, Templates
// ===============================================


@import 'objects/o-media-object';

// -------------------------------
// Smaller Elements
// -------------------------------
// Relatively simple patterns for (often) smaller UI elements

@import 'components/buttons';
@import 'components/loading-spinner';
@import 'components/nps-input';
@import 'components/twitter-followers';

// -------------------------------
// Reusable Components & Design Patterns
// -------------------------------
// 'Components' that are abstracted and used in more than one or two places

@import 'components/account';
@import 'components/card';
@import 'components/network-positions';
@import 'components/position';
@import 'components/tabs';

// -------------------------------
// React Components
// -------------------------------
// Styles specific to React Components

@import 'components/about';
@import 'components/ballot';
@import 'components/ballotList';
@import 'components/friends';
@import 'components/itemActionBar';
@import 'components/itemPositionStatementActionBar';
@import 'components/searchbar'; // move if necessary
@import 'components/settings';
@import 'components/bootstrap3LeftBehind';

// -------------------------------
// Sections
// -------------------------------
// Larger areas that are not limited to a single component

@import 'components/ballotModals';
@import 'components/device-menu';
@import 'components/header';
@import 'components/footer';
@import 'components/intro-modal';
@import 'components/intro-story';
@import 'components/issues';
@import 'components/loading-screen';
@import 'components/modal-content';
@import 'components/more-tools';
@import 'components/navigator';
@import 'components/network';
@import 'components/scratchpad';
@import 'components/voter-guide';
@import 'components/voter-guide-get-started';

@import 'routes/welcome';

// ===============================================
// 6. Overrides
// ===============================================

@import 'overrides/overrides.scss';
@import 'overrides/print.scss';

// ===============================================
// 7. If you know a better way, then feel free to change how we pull in these styles
// ===============================================

@import 'vendor/react-toggle-style';
