{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-declaration-use-variable"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "block-closing-brace-newline-after": ["always-multi-line", {
      "ignoreAtRules": ["if", "else"]
    }],
    "block-opening-brace-space-before": "always-multi-line",
    "color-hex-case": "lower",
    "declaration-empty-line-before": null,
    "max-empty-lines": 3,
    "number-leading-zero": "never",
    "rule-empty-line-before": null,
    "selector-no-id": true,
    "shorthand-property-no-redundant-values": null,
    "sh-waqar/declaration-use-variable": [["border-radius"]]
  },
  "ignoreFiles": [
    "**/vendor/**/*.scss"
  ]
}
