.utils {
    &-align {
        &--super {
            vertical-align: super;
        }
    }
    &-padding {
      &right0 {
        padding-right: 0 !important;
      }
    }
}

.transparent, .transparent:hover {
  color: transparent;
}
