// Utility classes for colors

// Colors
.gray-pale       { color: $gray-pale; }
.gray-lighter    { color: $gray-lighter; }
.gray-light      { color: $gray-light; }
.gray-mid        { color: $gray-mid; }
.gray-dark       { color: $gray-dark; }
.gray-darker     { color: $gray-darker; }
.gray-border     { color: $gray-border; }

// Background colors
.bg-gray-pale    { background-color: $gray-pale; }
.bg-gray-lighter { background-color: $gray-lighter; }
.bg-gray-light   { background-color: $gray-light; }
.bg-gray-mid     { background-color: $gray-mid; }
.bg-gray-dark    { background-color: $gray-dark; }
.bg-gray-darker  { background-color: $gray-darker; }
.bg-gray-border  { background-color: $gray-border; }
