// Temporary mixins to unify styles until they are refactored.
// Nothing here should remain indefinitely


// Styling for list items such as .position-item and .organization-item

$default-box-shadow: 0 1px 2px rgba(#000, .2);

@mixin card-container() {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: $default-box-shadow;
}

@mixin list-item-card() {
  position: relative;
  padding: 15px;
  margin-top: -1px;
  background-color: $pale-gray;
  border-top: 1px solid $lighter-gray;
  border-bottom: 1px solid $lighter-gray;
  @include breakpoints(max mid-small){
    margin-left: -15px;
    margin-right: -15px;
  }
}

// Styling for basic avatar icons
@mixin list-item-avatar {
  border-radius: 2px;
  max-width: 50px;
}

// content container for the list item
@mixin list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoints(medium) {
    flex-direction: row;
  }
}


// container for org 'follow' buttons and twitter count
@mixin list-item-additional {
  display: flex;
  @include breakpoints(medium) {
    flex-direction: column;
    padding-left: 1em;
    text-align: right;
  }
}
