// Misc Utility & Helper Classes
// All utility classes are prefixed with 'u-'

.u-cursor--pointer:hover {
  cursor: pointer;
}

// Visibility

.u-hide {
  display: none !important;
}

// Spacing

// TEMPORARY! Considering Tachyons for small inline styles
.t-mb3 {
  margin-bottom: 1em;
}

// Text

.t-b {
  font-weight: bold;
}


.t-darker-gray {
  color: $gray-darker;
}


.u-flex {
  display: flex;
}
