// Misc Utility & Helper Classes
// All utility classes are prefixed with 'u-'

.u-cursor--pointer:hover {
  cursor: pointer;
}

// Visibility

.u-hide {
  display: none !important;
}

// Spacing

.t-mt3 { // TEMPORARY! Considering Tachyons for small inline styles
  margin-top: 1em;
}

// Text

.t-b {
  font-weight: bold;
}


.t-darker-gray {
  color: $darker-gray;
}
