// ----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// ----------------------------------------------------------------------------

/// Heading font family
/// @type List
$heading-font-stack: 'Roboto Slab', serif;

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


// TODO break out colors into its own partial

/// Colors

/// Pale gray
/// @type Color
$pale-gray: #f8f8f8 !default;

/// Lighter gray
/// @type Color
$lighter-gray: #eee !default;

/// Border gray
/// @type Color
$border-gray: #ddd !default;

/// Light gray
/// @type Color
$light-gray: #ccc !default;

/// Medium gray
/// @type Color
$mid-gray: #999 !default;

/// Dark gray
/// @type Color
$dark-gray: #555 !default;

/// Darker gray
/// @type Color
$darker-gray: #333 !default;


/// Main brand color
/// @type Color
$brand-color: #E50050 !default;

/// Link color
/// @type Color
$link-color: #337ab7 !default; // mirrors Bootstrap default - TODO: set custom value globally


/// Popover Link Color
/// @type Color
$popover-link-color: #549bb6 !default;

/// Copy text color
/// @type Color
$text-color: $darker-gray !default;

/// Selected text color
/// @type Color
/// tentative color (can be adjusted)

$selected-color: #0D546F !default;



/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-page-container-width: 960px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} breakpoints
$breakpoints: (
  'small': 320px,
  'mid-small': 480px,
  'medium': 768px,
  'large': 960px,
  'wide': 1024px,
  'nav': 695px
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;


$modal-backdrop-opacity: .5;
