
// Bootstrap button override
.bs-btn {
	&-action {
		&:hover {
			background-color: #d9534f !important;
			border-color: #d9534f !important;
			 span {
				display:none;
			}
			&:before {
				content: attr(data-hover);
				width: 100%;
			}
		}
	}
}
