
// Bootstrap button override
.btn {
	&-action {
		&:hover {
			background-color: #d9534f !important;
			border-color: #d9534f !important;
			 span {
				display:none;
			}
			&:before {
				content: attr(data-hover);
				width: 100%;
			}
		}
	}
}

.select-all-btn{
	height: 34px;
	display: none;
	@include breakpoints (max nav) {
		display: block; // show button on small screens
	}
}


.copy-btn {
	height: 34px;
		&__hide-mobile {
			height: 34px;
			@include breakpoints (max nav) {
				display: none; // Hide button on small screens
		}
	}
}


// TODO: Jeff - move styles to <Button> component (doesn't currently exist)
.btn__icon {
	margin-right: .3em;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
