
// Bootstrap button override
.btn {
	&-action {
		&:hover {
			background-color: #d9534f !important;
			border-color: #d9534f !important;
			 span {
				display:none;
			}
			&:before {
				content: attr(data-hover);
				width: 100%;
			}
		}
	}
}

.url-to-copy {
	width: 100% !important;
}

.copy-btn{
	height: 52px;
}

.hide-mobile {
	@include breakpoints (max nav) {
		display: none; // Hide button on small screens
	}
}


// TODO: Jeff - move styles to <Button> component (doesn't currently exist)
.btn__icon {
	margin-right: .3em;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
