.twitter-followers__badge {
  color: $mid-gray;
  display: inline-block;
  line-height: 2rem;
  padding: 5px;
  white-space: nowrap;
}

.twitter-followers__icon {
  font-size: 2rem;
  color: $light-gray;
  margin-right: 3px;
  vertical-align: bottom;
}