// Twitter followers badge


.twitter-followers {
  $size: 1.25rem; // 20px

  &__badge {
    color: $gray-mid;
    display: inline-block;
    line-height: $size;
    padding: 5px 0;
    white-space: nowrap;
  }

  &__icon {
    font-size: $size;
    color: $gray-light;
    margin-right: 3px;
    vertical-align: bottom;
  }
}
