<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security</title>
</head>
<body>
<b>This is just a working file, for developing a security/privacy help screen.</b>
<h3>We Vote's Privacy Commitment to you</h3>
We take our user's security and privacy seriously at We Vote, and although we do save some information
about you to personalize your experience, we never share that information with third parties
or sell your information.  We do not disclose your private information to Twitter, or Facebook without you
affirmatively choosing to share your opinions with your Twitter or Facebook friends.

<h3>SIGN IN WITH TWITTER</h3>
When you click "Sign In With Twitter" We Vote sends you to Twitter to validate your
username and password (we never see that information), and Twitter returns to us
your
<ul>
  <li>
    Twitter Handle
  </li>
  <li>
    Twitter Name
  </li>
  <li>
    Twitter Profile Photo
  </li>
  <li>
    The number of Twitter Followers you have
  </li>
</ul>
While using the We Vote app, you can chose to share your opinions with your Twitter friends,
and/or with the wider population of We Vote voters.  The default for all of our sharing options,
is to not share -- you will only share your opinions if you chose to share them.
<br>
"Sign In With Twitter" means that We Vote uses Twitter to authenticate that you are
who you say you are, and We Vote keeps the information you enter as private as you choose.

<br>
<br>

"Sign In With Twitter" sends you briefly to Twitter to authenticate your login credentials for We Vote, and
leaves you signed into Twitter.
<br>{isWebApp() ? 'If you were previously not logged into Twitter in another tab in your browser,
after "Sign In With Twitter" you would find yourself logged into Twitter once you opened it in a new Tab.' :
' If you were previously not logged into Twitter within the Twitter app, "Sign In With Twitter" logs you into
Twitter within the Twitter app.'}
<br>
If immediately after pressing  "Sign In With Twitter", you navigated to Twitter and then logged out of Twitter, you would still be
authenticated with We Vote, and would stay that way until you press the "Sign Out" button on this page in We Vote,
or {isWebApp() ? 'cleared all the cookies in your browser.' : 'deleted the app.'}
<br>
<br>

<h3>SIGN IN WITH FACEBOOK</h3>
When you click "Sign In With Facebook" We Vote sends you to Facebook to validate your
username and password (we never see that information), and Facebook returns to us
your
<ul><li>
  Facebook User Name
  </li><li>
    Your Gender
  </li><li>
    Your Birthday
  </li><li>
    Your profile photo
  </li><li>
    Your city and state
  </li><li>
    Your email
  </li><li>
    The number of Facebook friends you have
  </li>
</ul>
While using the We Vote app, you can chose to share your opinions with your Facebook friends,
and/or with the wider population of We Vote voters.  The default for all of our sharing options,
is to not share -- you will only share your opinions if you chose to share them.

<br>
<br>

"Sign In With Facebook" sends you briefly to Facebook to authenticate your login credentials for We Vote, and
leaves you signed into Facebook.
<br>{isWebApp() ? 'If you were previously not logged into Facebook in another tab in your browser,
after "Sign In With Facebook" you would find yourself logged into Facebook once you opened it in a new Tab.' :
'If you were previously not logged into Facebook within the Facebook app, "Sign In With Facebook" logs you
into Facebook within the Facebook app.'}
<br>
If immediately after pressing  "Sign In With Facebook", you navigated to Facebook and then logged out of Facebook, you would still be
authenticated with We Vote, and would stay that way until you press the "Sign Out" button on this page in We Vote,
or {isWebApp() ? 'cleared all the cookies in your browser.' : 'deleted the app.'}
<br>

<!--
<h3>SIGN IN WITH GOOGLE</h3>
<h3>SIGN IN WITH APPLE (after iOS 13 goes live, Fall 2019)</h3>
-->

<h3>SIGN IN WITH PHONE NUMBER or EMAIL</h3>
These sign in methods, have no effect on your external social accounts, they
simply associate your web or app session with your We Vote account.  This enablesd you to save
your choices and opinions.  Signing in by text or email, does allow you to share
your opinions with other We Vote users, if you choose to do so.

<h3>SIGN OUT</h3>
Signing out via the "SIGN OUT" button, signs you out of We Vote, but does not automatically
sign you out of Twitter or Facebook if you used "Sign In With Twitter" or "Sign In With Facebook"
to authenticate with We Vote.  If you want to sign out of Twitter or Facebook, you will have to
navigate to those sites, or apps, individually and sign out.

<h3>DISCONNECT</h3>
The "Disconnect" buttons, remove your authentication within the We Vote session for the
selected social sites (Twitter or Facebook), and does not sign you out of We Vote.  This
would be useful if you wanted to stop the sharing of information with one or more of the Social sites.
Disconnect does not log you out from the social sites (in another tab or app).

</body>
</html>
