.iconMedium {
    font-size: 50px;
}

.iconSmall {
    font-size: 30px;
}

.iconXlarge {
    font-size: 80px;
}

.bufferNone {
    margin: 0;
}

.paddingTopSmall {
    padding-top: 5px;
}

.typeMedium {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.typeSmall {
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.typeXLarge {
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.borderTop {
    border-top: 1px solid #ccc;
}
