// ===============================================
// Color utility classes
// ===============================================


// Background colors
.u-bg-gray-pale    { background-color: $gray-pale; }
.u-bg-gray-lighter { background-color: $gray-lighter; }
.u-bg-gray-light   { background-color: $gray-light; }
.u-bg-gray-mid     { background-color: $gray-mid; }
.u-bg-gray-dark    { background-color: $gray-dark; }
.u-bg-gray-darker  { background-color: $gray-darker; }
.u-bg-gray-border  { background-color: $gray-border; }

.u-bg-white    { background-color: $white; }
