// ===============================================
// Layout helpers
// ===============================================

// -------------------------------------------
// Spacing
// -------------------------------------------

// $space-auto: auto;
// $space-none:   0;
// $space-xxs:  2px;
// $space-xs:   4px;
// $space-sm:   8px;
// $space-md:  16px;
// $space-lg:  32px;
// $space-xl:  64px;

// Push classes
// -------------------------------

.u-push--xxs { margin-right: $space-xxs; }
.u-push--xs { margin-right: $space-xs; }
.u-push--sm { margin-right: $space-sm; }
.u-push--md { margin-right: $space-md; }
.u-push--lg { margin-right: $space-lg; }

.u-margin-left--xxs { margin-left: $space-xxs; }
.u-margin-left--xs { margin-left: $space-xs; }
.u-margin-left--sm { margin-left: $space-sm; }
.u-margin-left--md { margin-left: $space-md; }
.u-margin-left--lg { margin-left: $space-lg; }

.u_margin-center { margin: $space-none $space-auto; }

// Stack classes
// -------------------------------

.u-margin-top--xxs { margin-top: $space-xxs; }
.u-margin-top--xs { margin-top: $space-xs; }
.u-margin-top--sm { margin-top: $space-sm; }
.u-margin-top--md { margin-top: $space-md; }
.u-margin-top--lg { margin-top: $space-lg; }

.u-stack--xs { margin-bottom: $space-xs; }
.u-stack--sm { margin-bottom: $space-sm; }
.u-stack--md { margin-bottom: $space-md; }
.u-stack--lg { margin-bottom: $space-lg; }
.u-stack--xl { margin-bottom: $space-xl; }

// Inset classes
// -------------------------------

.u-inset--xs { padding: $space-xs; }
.u-inset--sm { padding: $space-sm; }
.u-inset--md { padding: $space-md; }
.u-inset--lg { padding: $space-lg; }
.u-inset--xl { padding: $space-xl; }

// Inset Squish classes
.u-inset__squish--sm { padding: $space-xs $space-sm; } // 4px 8px
.u-inset__squish--md { padding: $space-sm $space-md; } // 8px 16px
.u-inset__squish--lg { padding: $space-md $space-lg; } // 16px 32px

// Inset Stretch classes
.u-inset__stretch--sm { padding: $space-sm $space-xs; } // 8px 4px
.u-inset__stretch--md { padding: $space-md $space-sm; } // 16px 8px
.u-inset__stretch--lg { padding: $space-lg $space-md; } // 32px 16px

// Inset Vertical
// stylelint-disable declaration-block-single-line-max-declarations
.u-inset__v--xs { padding-top: $space-xs; padding-bottom: $space-xs; }
.u-inset__v--sm { padding-top: $space-sm; padding-bottom: $space-sm; }
.u-inset__v--md { padding-top: $space-md; padding-bottom: $space-md; }
.u-inset__v--lg { padding-top: $space-lg; padding-bottom: $space-lg; }
.u-inset__v--xl { padding-top: $space-xl; padding-bottom: $space-xl; }
// stylelint-enable

.u-hidden { display: none; }
