// ===============================================
// Typographic Utility Classes
// ===============================================


// -------------------------------
// Font Sizes
// -------------------------------

// !!! These font size helpers are a work in progress. Please avoid using or use sparingly for now.

.u-f1,
.u-f2,
.u-f3,
.u-f4,
.u-f5,
.u-f6 {
  font-family: $heading-font-stack;
  line-height: 1.25;
}

.u-f1,
.h1 {
  font-size: 2rem;
  @include breakpoints(medium) {
    // font-size: 2.5rem;
  }
}
.u-f2,
.h2 {
  font-size: 1.5rem;
  @include breakpoints(medium) {
    // font-size: 2rem;
  }
}
.u-f3,
.h3 {
  font-size: 1.25rem;
  @include breakpoints(medium) {
    // font-size: 1.75rem;
  }
}
.u-f4,
.h4 {
  font-size: 1.125rem;
  @include breakpoints(medium) {
    // font-size: 1.5rem;
  }
}
.u-f5,
.h5 {
  font-size: 1.1rem;
  @include breakpoints(medium) {
    // font-size: 1.25rem;
  }
}

.u-font-size6 {
  font-size: 1rem;
}

.u-f6,
.h6 {
  font-size: 1rem;
}

.u-font-size7 {
  font-size: .875rem;
}

.u-f7 {
  font-size: .875rem;
}

.u-f8,
.u-f--small {
  font-size: .75rem;
}


// -------------------------------
// Colors
// -------------------------------

.u-gray-pale       { color: $gray-pale; }
.u-gray-lighter    { color: $gray-lighter; }
.u-gray-light      { color: $gray-light; }
.u-gray-mid        { color: $gray-mid; }
.u-gray-dark       { color: $gray-dark; }
.u-gray-darker     { color: $gray-darker; }
.u-gray-border     { color: $gray-border; }
.u-link-color      { color: $link-color; }
.u-link-color-light { color: $link-color-light; }

// -------------------------------
// 'Measure'
// -------------------------------
// Keeps line width to a readable length

.u-measure { max-width: 30em; }
.u-measure--narrow { max-width: 20em; }
.u-measure--wide { max-width: 34em; }


// -------------------------------
// Basic text formatting
// -------------------------------

.u-bold {
  font-weight: bold;
}

.u-italic {
  font-style: italic;
}

.u-underline {
  text-decoration: underline;
}

.u-no-underline {
  text-decoration: none;
}

// necessary to override bootstrap defaults
:hover,
:focus,
:active {
  &.u-no-underline {
    text-decoration: none;
  }
}

.u-uppercase {
  text-transform: uppercase;
}

.u-mobile-x {
  font-size: 1.3rem;
}

.u-inline {
  display: inline-block;
  width: auto; // helpful for form inputs
}

// Alignment

.u-tr { text-align: right; }
.u-tc { text-align: center; }
.u-tl { text-align: left; }
