// Misc Utility & Helper Classes
// All utility classes are prefixed with 'u-'

.u-cursor--pointer:hover {
  cursor: pointer;
}

.u-min-50 {
  min-width: 50%;
}

.u-gray-border-bottom {
  border-bottom: 1px solid $gray-border;
}
