.team-member {
  margin-bottom: $space-md;
  &__photo {
    border-radius: $radius-sm;
    margin-bottom: $space-sm;
  }
  &__name {
    line-height: 1.2;
  }
  &__title {
    font-style: italic;
  }
}

.team-members-list {
  padding-right: $space-xs;
  padding-left: $space-xs;
  .team-member {
    padding-right: $space-xs;
    padding-left: $space-xs;
  }
}

.open-web-site {
  $space-space: 3px;
  color: $link-color;
  padding-right: $space-space;
  padding-left: $space-space;
  &__no-right-padding {
    padding-right: $space-none;
  }
  &__no-left-padding {
    padding-left: $space-none;
  }
  &__no-padding {
    padding-left: $space-none;
    padding-right: $space-none;
  }
}

.temporaryClassname {
  pointer-events: none !important;
}
