$company-margin: 1em 0 1em 0;
$company-title-color: #555;
$company-logo-margin-bottom: 10px;
$credits-company-max-width: 220px;
$logo-width: 300px;
$logo-max-width: 100%;
$logo-max-height: 120px;
$team-member-photo-border-radius: 50%;
$radio-button-margin-left: 28px;
$radio-button-width: 80px;

.team-member {
  margin-bottom: $space-md;
  &__photo {
    border-radius: $radius-sm;
    margin-bottom: $space-sm;
    @include breakpoints (max medium) {
      border-radius: $team-member-photo-border-radius;
      width: 100%;
    }
  }
  &__name {
    line-height: 1.2;
    margin-top: $radius-sm;
  }
  &__title {
    font-size: .8rem;
  }
}

.team-members-list {
  padding-right: $space-xs;
  padding-left: $space-xs;
  .team-member {
    padding-right: $space-xs;
    padding-left: $space-xs;
  }
}

.open-web-site {
  color: $link-color;
  padding-right: $space-xxs;
  padding-left: $space-xxs;
  &__no-right-padding {
    padding-right: $space-none;
  }
  &__no-left-padding {
    padding-left: $space-none;
  }
  &__no-padding {
    padding-left: $space-none;
    padding-right: $space-none;
  }
}

.credits-company {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $company-margin;
  max-width: $credits-company-max-width;
  @include breakpoints (max medium) {
    max-width: 45%;
    width: 45%;
  }
  &__info {
    //display: flex;
    //flex-flow: column;
  }
  &__title {
    color: $company-title-color;
  }
  &__logo-container {
    margin-bottom: $company-logo-margin-bottom;
  }
  &__logo {
    width: $logo-width;
    max-height: $logo-max-height;
    max-width: $logo-max-width;
  }
}

.donate-frequency {
  display: flex;
  flex-flow: row;
  &__radio-button-div {
    margin-left: $radio-button-margin-left;
    margin-bottom: $space-sm;
    width: $radio-button-width;
  }
}

// Sign in with Apple for WebApp
.signin-button > div > div > svg { // stylelint-disable-line selector-max-type
  height: 50px;
  width: 100%;
}
