.team-members-list {
  padding: 0 5px;
  .team-member {
    padding: 0 5px;
    h4 {
      font-size: 14px;
    }
    h5 {
      font-size: 12px;
      font-weight: normal;
      line-height: 1.4;
    }
  }
}
