$company-margin: 1em 0 1em 0;
$company-title-color: #555;
$company-logo-margin-bottom: 10px;
$logo-width: 300px;
$logo-max-width: 100%;
$logo-max-height: 120px;
$team-member-photo-border-radius: 50%;

.team-member {
  margin-bottom: $space-md;
  &__photo {
    border-radius: $radius-sm;
    margin-bottom: $space-sm;
    @include breakpoints (max medium) {
      border-radius: $team-member-photo-border-radius;
      width: 100%;
    }
  }
  &__name {
    line-height: 1.2;
    margin-top: $radius-sm;
  }
  &__title {
    font-size: .8rem;
  }
}

.team-members-list {
  padding-right: $space-xs;
  padding-left: $space-xs;
  .team-member {
    padding-right: $space-xs;
    padding-left: $space-xs;
  }
}

.open-web-site {
  color: $link-color;
  padding-right: $space-xs;
  padding-left: $space-xs;
  &__no-right-padding {
    padding-right: $space-none;
  }
  &__no-left-padding {
    padding-left: $space-none;
  }
  &__no-padding {
    padding-left: $space-none;
    padding-right: $space-none;
  }
}

.company {
  display: flex;
  flex-flow: column;
  margin: $company-margin;
  &__info {
    display: flex;
    flex-flow: column;
  }
  &__title {
    color: $company-title-color;
  }
  &__logo_container {
    margin-bottom: $company-logo-margin-bottom;
  }
  &__logo {
    width: $logo-width;
    max-height: $logo-max-height;
    max-width: $logo-max-width;
  }
}
