.badgeTotal {
  font-size: 9px;
  left: 13px;
  padding: 3px;
  position: absolute;
  top: -7px;
}

.badge {
  background-color: #db4437;
}

.social-box {
  border: #8799a6 solid 1px;
  border-radius: 3px;
  padding: 0 5px;

  position: absolute;
  right: 18px;
  bottom: 10px;

  font-size: 1.15rem;
}
