.ballot {
  &__election-name {
    // TODO either add some properties to this class or delete it
  }

  &__header-group {
    display: block;
    border-bottom: 0 solid $black;
  }

  &__heading {
    background-color: $white;
  }

  &__header-title {
    display: inline-block;
  }

  &__header-address {
    margin: $space-lg $space-lg 0 0;
  }
}
