@import '../base/variables';

$address-spacing-desktop: 26px 26px $space-none $space-none;
$address-spacing-mobile: -$space-xs $space-none $space-sm $space-none;
$tab-spacing-desktop: 24px;
$tab-spacing-mobile: $space-md;
$header-extension-top: 41%;
$header-correction-webapp: -15vh;
$header-extension-top-voter-guide: 2%;
$header-correction-voter-guide: -1%;
$scrollbar-height: 20px;
$neg-space-sm: -$space-sm;
$neg-space-lg: -$space-lg;
$bottom-spacing-cordova: 50px;
$cordova-shim: 58px;
$mobile-body-padding-top: 150px;
$body-padding-top: 150px;
$race-filter-margin: 8px;
$neg-padding: -10px;

.ballot {
  // ===========================================
  // Ballot Header
  // ===========================================

  &__filter {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;

    &__container {
      overflow: hidden;
    }
  }

  &__heading {
    $pinned-transform: translate3d(0, -53px, 0);
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    padding-top: $cordova-shim;
    transform: $pinned-transform;
    transition: all .2s ease-in-out 0s;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    &__unpinned {
      $unpinned-transform: translate3d(0, -58px, 0);
      position: fixed;
      top: $space-none;
      left: $space-none;
      right: $space-none;
      z-index: 1;
      transform: $unpinned-transform;
      transition: all .2s ease-in-out 0s;
    }
  }

  &__heading-webapp {
    padding-top: $header-extension-top;
    margin-top: $header-correction-webapp;
  }

  &__header {
    &__title {
      display: inline-block;
      margin-bottom: $space-none;
      margin-top: $space-sm;
      font-size: 14px;
      @include breakpoints(medium) {
        font-size: $scrollbar-height;
      }
      &__cordova {
        font-size: 1.5rem;
        margin-top: $space-md;
      }
    }

    &__title-voter-guide {
      display: inline-block;
      margin-top: $space-xs;
      font-size: 1.1rem;
      @include print {
        font-size: 2rem;
      }
    }

    &__address {
      margin: $address-spacing-desktop;

      &--xs {
        margin: $address-spacing-mobile;
      }
    }

    &__group {
      display: block;
      border-bottom: 0 solid $black;
    }

    &__top-cordova {
      margin-top: $space-md;
    }

    &__cordova {
      padding-bottom: $bottom-spacing-cordova;
    }
  }

  &__tabs {
    .tab {
      padding: $space-none $space-none $space-xs;
      margin-right: $tab-spacing-desktop;

      &__item {
        display: inline-block;
        float: none;
      }

      &--active {
        border-bottom: 6px solid $black;
        color: $black;
      }

      &--default {
        color: $gray-mid;
      }

      @include breakpoints (small mid-small) {
        margin-right: $tab-spacing-mobile;
      }
    }

    a:focus,
    a:hover {
      background-color: transparent !important; // stylelint-disable-line sh-waqar/declaration-use-variable
    }

    a.tab--default:focus,
    a.tab--default:hover {
      border-bottom: 6px solid $gray-mid;
    }
  }

  &__filter-row {
    display: flex;
    flex-flow: row;
  }

  // ===========================================
  // Ballot Body
  // ===========================================

  &__body {
    margin-top: $space-md;
    padding-top: $body-padding-top;
    @include breakpoints(small xsmall-bootstrap) {
      padding-top: $mobile-body-padding-top;
    }
  }

  &__body-vg {
    padding-top: $space-none;
  }

  &__item-filter-tabs {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: flex-start;
    margin-top: $race-filter-margin;
    @include breakpoints(medium) {
      overflow-x: hidden;
    }
  }

  &__edit-address-preview {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__edit-address-preview-link {
    color: $link-color;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__voter-guide-body {
    margin-top: $space-md;
    margin-left: $neg-space-lg;
    margin-right: $neg-space-lg;
  }

  &__cordova-shim {
    margin-top: $cordova-shim;
  }

  &__change-address {
    margin-bottom: $space-sm;
    margin-top: $space-md;
  }

  &__no-race-cats {
    margin-top: $neg-padding;
  }
}

.ballot_filter_btns {
  margin-right: $space-xs;
  @include breakpoints(medium) {
    margin-right: $space-md;
  }
}

.ballot-header-divider {
  margin: $space-none;
  width: 200%;
  left: -300px;
  position: absolute;
}
