.BallotList {
  @include print {
    column-count: 1;
  }
}

.BallotItem {
  position: relative;
  margin-bottom: $space-md;

  &__display-name {
    font-family: $heading-font-stack;
    font-size: 24px;
    color: $gray-dark;
    @include breakpoints(max mid-small) {
      font-size: 18px;
      max-width: 100%;
      // padding-right: 30px; // TODO: adjust for bookmark icon
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__learn-more {
    font-size: .8rem;
    font-weight: 200;
    position: relative;
    z-index: 99999;
  }

  &__view-more {
    font-size: .8rem;
    font-weight: 200;
  }

  // //////////////////////////////////////////////
  // These are for the BallotSideBar summary pane
  // //////////////////////////////////////////////

  &__summary {
    &__title {
      font-family: $heading-font-stack;
      font-size: 18px;
      color: $gray-dark;
      padding-bottom: $space-md;
      padding-top: $space-sm;
    }

    &__item {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; // Not working currently
      color: $gray-mid;
      line-height: 19.6px;
      position: relative;
      font-size: 14px;
    }

    &__item-container {
      overflow: hidden;
      align-items: center;
      position: relative;
      margin-top: $space-none;
      margin-bottom: $space-md;
    }

    &__display-name {
      font-family: $heading-font-stack;
      font-size: 15px;
      color: $link-color;
    }
  }
}

// For display of tiny thumbnail images for organizational voter guides
.organization__image--tiny {
  margin-left: $space-xxs;
  width: 32px; // 32px is set in WeVoteServer environment_variables as PROFILE_IMAGE_TINY_WIDTH (formerly 24px)
  border-radius: $radius-xs;
  @include breakpoints(small) {
    // TODO DALE this seems to always get set
    // max-width: 20px;
  }
}

// For display of medium thumbnail images for issues
.issue {
  &__image {
    display: inline;

    &--medium {
      margin-left: $space-xxs;
      width: 48px; // 48px is set in WeVoteServer environment_variables as PROFILE_IMAGE_MEDIUM_WIDTH
      border-radius: $radius-xs;
    }
  }
  &__image-modal {
    display: inline;
  }
}

.BallotItemsSummary {
  padding-top: $space-md;
  margin-bottom: -$space-md; // stylelint-disable-line sh-waqar/declaration-use-variable
  // Has the result of float center
  // float: right;
  // position: relative;
  // left: -50%;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

