$header-extension-top: 40%;
$scrollbar-height: 20px;
$tab-height: 47px;
$tab-height-visible: $tab-height - $scrollbar-height;

.ballot {
  // ===========================================
  // Ballot Header
  // ===========================================

  &__election-name {
    // TODO either add some properties to this class or delete it
  }

  &__filter-container {
    overflow: hidden;
    height: $tab-height-visible;
  }

  &__filter {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: $tab-height;
  }

  &__header-group {
    display: block;
    border-bottom: 0 solid $black;
  }

  &__heading {
    width: 100%; // stylelint-disable-line sh-waqar/declaration-use-variable
    background-color: $white;
    border-bottom: 1px solid #aaa;
    padding-top: $header-extension-top;
    margin-top: -$header-extension-top; // stylelint-disable-line sh-waqar/declaration-use-variable
    overflow: hidden;
  }

  &__header-title {
    display: inline-block;
  }

  &__header-address {
    margin: 26px 26px 0 0; // stylelint-disable-line sh-waqar/declaration-use-variable
  }

  &__header-address-xs {
    margin: -4px 0 8px 0; // stylelint-disable-line sh-waqar/declaration-use-variable
  }

  &__tabs {
    .tab-item {
      display: inline-block;
      float: none;
    }

    .tab {
      padding: 0 0 4px; // stylelint-disable-line sh-waqar/declaration-use-variable
      margin-right: 24px; // stylelint-disable-line sh-waqar/declaration-use-variable
      @include breakpoints (small mid-small) {
        margin-right: 16px; // stylelint-disable-line sh-waqar/declaration-use-variable
      }
    }

    .tab-active {
      border-bottom: 6px solid $black;
      color: $black;
    }

    .tab-default {
      color: $gray-mid;
    }

    a:focus,
    a:hover {
      background-color: transparent !important; // stylelint-disable-line sh-waqar/declaration-use-variable
    }

    a.tab-default:focus,
    a.tab-default:hover {
      border-bottom: 6px solid $gray-mid;
    }
  }

  // ===========================================
  // Ballot Body
  // ===========================================

  &__body {
    margin-top: $space-lg;
  }
}
