$cordova-ballot-top-margin: 5vh;

.ballot-election-list,
.select-address {
  font-size: 12px;
  text-align: center;
  @include breakpoints (max large) {
    width: 100%;
  }

  .modal-header {
    border-bottom: 0;
  }

  &__modal {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 1050;

    &-mobile {
      @include breakpoints(small mid-small) {
        top: 0;
      }
    }
    &-cordova {
      margin-top: $cordova-ballot-top-margin;
    }
  }

  &__h1 {
    font-family: $heading-font-stack;
    font-size: 30px;
    @include breakpoints (max large) {
      font-size: 22px;
    }
    @include breakpoints (small mid-small) {
      font-size: 16px;
    }
  }

  &__h2 {
    font-size: 12px;
  }

  &__button {
    width: 100%;
  }
}

// Overrides

.ballot-election-list {
  &__modal {
    top: 0;
  }

  &__toggle-link {
    $toggle-link-margin: -$space-xs $space-none $space-sm $space-none;

    display: block;
    font-size: 14px;
    margin: $toggle-link-margin;
  }

  &__upcoming {
    margin-top: 50px !important;
  }
}

.modal-backdrop {
  z-index: 1000;
}
