.ballot-list {
  padding-bottom:70px;

  .display-name {
    display: inline-block;
    font-size: 20px;
  }

  .list-group-item {
    margin-bottom: 15px;
    padding-bottom: 0;
  }

}

.ballotList-bg {
  background: adjust_hue(lighten(#f5f5f5, 1), 0);
}

.ballot-item {
  min-height: 85px;
  position: relative;
}
