.ballot-section {
  position: relative;

  &__display-name {
    font-size: 24px;
    color: $dark-gray;
  }
}

.ballot-list {
  padding-bottom:70px;

  .display-name {
    display: inline-block;
    font-size: 20px;
  }

  .bs-list-group-item {
    margin-bottom: 15px;
    padding-bottom: 0;
  }

}

.ballotList-bg {
  background: adjust_hue(lighten(#f5f5f5, 1), 0);
}

// Ballot (Voter Guide) Item

@include media-object('.ballot-item', '.ballot-item__avatar', '.ballot-item__content');


.ballot-item {
  @include list-item-card;
}

.ballot-item__avatar {
  @include list-item-avatar;
}

.ballot-item__content {
  @include list-item-content;
}

.ballot-item__additional {
  @include list-item-additional;
}
