.BallotList {
  @include print {
    column-count: 2;
  }
}

.BallotItem {
  position: relative;
  margin-bottom: $space-md;

  &__display-name {
    font-family: $heading-font-stack;
    font-size: 24px;
    color: $gray-dark;
    @include breakpoints(max mid-small) {
      font-size: 18px;
      max-width: 100%;
      // padding-right: 30px; // TODO: adjust for bookmark icon
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// For display of tiny thumbnail images for organizational voter guides
.organization-image-tiny {
  margin-left: $space-xs;
  width: 30px;
  border-radius: $radius-sm;
  @include breakpoints(small) {
    // TODO DALE this seems to always get set
    // max-width: 20px;
  }
}

.modal-dialog {
  position: relative;
  // top: 20%;
  transform: translateY(-50%);
}
