$address-spacing-desktop: 26px 26px $space-none $space-none;
$address-spacing-mobile: -$space-xs $space-none $space-sm $space-none;
$tab-spacing-desktop: 24px;
$tab-spacing-mobile: $space-md;
$header-extension-top: 41%;
$header-correction-webapp: -15vh;
$header-extension-top-voter-guide: 2%;
$header-correction-voter-guide: -1%;
$scrollbar-height: 20px;
$tab-height: 47px;
$tab-height-visible: $tab-height - $scrollbar-height;
$neg-space-sm: -$space-sm;
$neg-space-lg: -$space-lg;
$bottom-spacing-cordova: 50px;
$cordova-shim: 10px;
$mobile-body-padding-top: 150px;
$body-padding-top: 150px;
$tabs-height: 30px;
$neg-padding: -30px;

.ballot {
  // ===========================================
  // Ballot Header
  // ===========================================

  &__filter {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: $tab-height;

    &__container {
      overflow: hidden;
      height: $tab-height-visible;
    }
  }

  &__heading {
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    padding-top: $cordova-shim;
  }

  &__heading-webapp {
    padding-top: $header-extension-top;
    margin-top: $header-correction-webapp;
  }

  &__header {
    &__title {
      display: inline-block;
      @include breakpoints(xsmall-bootstrap) {
        font-size: $scrollbar-height;
      }
      &__cordova {
        font-size: 1.5rem;
        margin-top: $space-md;
      }
    }

    &__title-voter-guide {
      display: inline-block;
      margin-top: $space-xs;
      font-size: 1.1rem;
      @include print {
        font-size: 2rem;
      }
    }

    &__address {
      margin: $address-spacing-desktop;

      &--xs {
        margin: $address-spacing-mobile;
      }
    }

    &__group {
      display: block;
      border-bottom: 0 solid $black;
    }

    &__top-cordova {
      margin-top: $space-md;
    }

    &__cordova {
      padding-bottom: $bottom-spacing-cordova;
    }
  }

  &__tabs {
    .tab {
      padding: $space-none $space-none $space-xs;
      margin-right: $tab-spacing-desktop;

      &__item {
        display: inline-block;
        float: none;
      }

      &--active {
        border-bottom: 6px solid $black;
        color: $black;
      }

      &--default {
        color: $gray-mid;
      }

      @include breakpoints (small mid-small) {
        margin-right: $tab-spacing-mobile;
      }
    }

    a:focus,
    a:hover {
      background-color: transparent !important; // stylelint-disable-line sh-waqar/declaration-use-variable
    }

    a.tab--default:focus,
    a.tab--default:hover {
      border-bottom: 6px solid $gray-mid;
    }
  }

  // ===========================================
  // Ballot Body
  // ===========================================

  &__body {
    margin-top: $space-md;
    padding-top: $body-padding-top;
    @include breakpoints(small xsmall-bootstrap) {
      padding-top: $mobile-body-padding-top;
    }
  }

  &__item-filter-tabs {
    margin-left: $neg-space-sm;
    margin-right: $neg-space-sm;
    justify-content: center;
    height: $tabs-height;
    margin-top: $neg-padding;
  }

  &__edit-address-preview {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__edit-address-preview-link {
    color: $link-color;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__voter-guide-body {
    margin-top: $space-md;
    margin-left: $neg-space-lg;
    margin-right: $neg-space-lg;
  }

  &__cordova-shim {
    margin-top: $cordova-shim;
  }

  &__change-address {
    margin-bottom: $space-sm;
    margin-top: $space-md;
  }

  &__no-race-cats {
    margin-top: $neg-padding;
  }
}

.ballot_filter_btns {
  margin-right: $space-md;
}
