$address-spacing-desktop: 26px 26px $space-none $space-none;
$address-spacing-mobile: -$space-xs $space-none $space-sm $space-none;
$tab-spacing-desktop: 24px;
$tab-spacing-mobile: $space-md;
$header-extension-top: 41%;
$header-correction: -40%;
$header-correction-cordova-xs-max:  -21vh;
$header-correction-cordova-x:       -33vh;
$header-correction-cordova-xr:      -16vh;
$header-correction-cordova-iplus:   -32vh;
$header-correction-cordova-android: -39vh;
$header-correction-cordova-default: -33vh;
$header-extension-top-voter-guide: 2%;
$header-correction-voter-guide: -1%;
$scrollbar-height: 20px;
$tab-height: 47px;
$tab-height-visible: $tab-height - $scrollbar-height;
$neg-space-sm: -$space-sm;
$neg-space-lg: -$space-lg;
$bottom-spacing-cordova: 50px;

.ballot {
  // ===========================================
  // Ballot Header
  // ===========================================

  &__filter {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: $tab-height;

    &__container {
      overflow: hidden;
      height: $tab-height-visible;
    }
  }

  &__heading {
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid #aaa;
    padding-top: $header-extension-top;
    margin-top: $header-correction;
    overflow: hidden;
  }

  &__heading-cordova-xs-max {
    margin-top: $header-correction-cordova-xs-max;
  }

  &__heading-cordova-x {
    margin-top: $header-correction-cordova-x;
  }

  &__heading-cordova-xr {
    margin-top: $header-correction-cordova-xr;
  }

  &__heading-cordova-i678plus {
    margin-top: $header-correction-cordova-iplus;
  }

  &__heading-cordova-android {
    margin-top: $header-correction-cordova-android;
  }

  &__heading-cordova-default {
    margin-top: $header-correction-cordova-default;
  }

  &__header {
    &__title {
      display: inline-block;
      &__cordova {
        font-size: 1.5rem;
        margin-top: $space-md;
      }
    }

    &__title-voter-guide {
      display: inline-block;
      margin-top: $space-xs;
      font-size: 1.1rem;
      @include print {
        font-size: 2rem;
      }
    }

    &__address {
      margin: $address-spacing-desktop;

      &--xs {
        margin: $address-spacing-mobile;
      }
    }

    &__group {
      display: block;
      border-bottom: 0 solid $black;
    }

    &__top-cordova {
      margin-top: $space-md;
    }

    &__cordova {
      padding-bottom: $bottom-spacing-cordova;
    }
  }

  &__tabs {
    .tab {
      padding: $space-none $space-none $space-xs;
      margin-right: $tab-spacing-desktop;

      &__item {
        display: inline-block;
        float: none;
      }

      &--active {
        border-bottom: 6px solid $black;
        color: $black;
      }

      &--default {
        color: $gray-mid;
      }

      @include breakpoints (small mid-small) {
        margin-right: $tab-spacing-mobile;
      }
    }

    a:focus,
    a:hover {
      background-color: transparent !important; // stylelint-disable-line sh-waqar/declaration-use-variable
    }

    a.tab--default:focus,
    a.tab--default:hover {
      border-bottom: 6px solid $gray-mid;
    }
  }

  // ===========================================
  // Ballot Body
  // ===========================================

  &__body {
    margin-top: $space-md;
  }

  &__item-filter-tabs {
    margin-left: $neg-space-sm;
    margin-right: $neg-space-sm;
  }

  &__edit-address-preview {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__voter-guide-body {
    margin-top: $space-md;
    margin-left: $neg-space-lg;
    margin-right: $neg-space-lg;
  }
}
