// Social button customizations (on About page)

.btn--email {
  $email-btn-color: #f0ad4e;
  $email-btn-border-color: darken($email-btn-color, 15%);
  $email-btn-hover-color: darken($email-btn-color, 10%);
  color: $white;
  background-color: $email-btn-color;
  border-color: $email-btn-border-color;
  &:hover {
    background-color: $email-btn-hover-color;
    color: $white;
  }
  &__icon {
    height: 20px;
  }
}

.btn--medium {
  border-color: $gray-border;
}

// For icons on buttons
.btn__icon {
  margin-right: $space-xs;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.btn_donate {
  margin-bottom: $space-sm;
  margin-right: $space-sm;
}

.btn_ballot_filter {
  $mobile-btn-ballot-filter-width: fit-content;
  $btn-ballot-filter-width: 120px;
  $mobile-btn-ballot-filter-padding: 0 12px;
  $mobile-btn-ballot-filter-line-height: 1.2rem;
  width: $btn-ballot-filter-width;
  margin-bottom: $space-sm !important;
  outline: none !important;
  @include breakpoints (small xsmall-bootstrap) {
    font-size: 10px !important;
    padding: $mobile-btn-ballot-filter-padding !important;
    width: $mobile-btn-ballot-filter-width !important;
    line-height: $mobile-btn-ballot-filter-line-height;
  }
}

// Needed for the Oppose button
.btn-default {
  $btn-primary-color:              $gray-darker;
  $btn-primary-bg:                 $white;
  $btn-primary-border:             $white;
  $btn-primary-border-at:          $gray-light;
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border; // Was $gray-light
  color: $btn-primary-color;
  &:active {
    border-color: $btn-primary-border-at;
  }
  &:hover {
    border-color: $btn-primary-border-at;
  }
  &:link {
    border-color: $btn-primary-border-at;
  }
}

// Needed for the Choose button
.btn-outline-primary {
  $btn-margin-bottom:              0;
  $input-group-btn-margin-left:    -1px;
  $space-inset__squish-btn:        6px 12px;
  $btn-primary-color:              $link-color !default;
  $btn-primary-color-at:           #fff; // White
  $btn-primary-bg:                 $white;
  $btn-primary-bg-at:              #76d00b; // Green
  $btn-primary-border:             darken($btn-primary-color, 5%) !default;
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border;
  color: $btn-primary-color;
  &:active {
    background-color: $btn-primary-bg-at;
    color: $btn-primary-color-at;
  }
  &:hover {
    background-color: $btn-primary-bg-at;
    color: $btn-primary-color-at;
  }
  &:link {
    background-color: $btn-primary-bg-at;
    color: $btn-primary-color-at;
  }
}

.no-outline {
  outline: none !important;
}

.button-icon {
  $btn-icon-margin: .5rem;
  margin-right: $btn-icon-margin;
}
