

// Social button cusotmizations (on About page)
.btn--email {
  $email-btn-color: #f0ad4e;
  $email-btn-border-color: darken($email-btn-color, 15%);
  $email-btn-hover-color: darken($email-btn-color, 10%);
  color: $white;
  background-color: $email-btn-color;
  border-color: $email-btn-border-color;
  &:hover {
    background-color: $email-btn-hover-color;
    color: $white;
  }
  &__icon {
    height: 20px;
  }
}

.btn--medium {
  border-color: $gray-mid;
}

// For icons on buttons
.btn__icon {
  margin-right: .3em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
