// scoped variables
$smallFont: 1.0em;
$mediumFont: 1.6em;
$largeFont: 2em;
.candidate {
  .oppose {
  }
  .oppose-emphasis-small, .support-emphasis-small {
    font-size: $smallFont;
    font-weight: 300;
    @media all and (max-width: 480px) {
      font-size: 1em;
    }
  }
  .support-emphasis-large {
    color: rgba(63,191,63, 1);
  }
  .oppose-emphasis-medium {
    color: rgba(215, 73, 55, 1);
  }
  .oppose-emphasis-medium, .support-emphasis-medium {
    font-size: $smallFont;
    font-weight: 500;
  }
  .oppose-emphasis-large, .support-emphasis-large {
    font-size: $smallFont;
    font-weight: 700;
  }
  .support {
    padding-right: 1em;
  }
  .running-for-office-emphasis {
    font-size: 1.3em;
    font-weight: 500;
  }
  .link-text-to-more-info {
    font-size: 0.8em;
    font-weight: 100;
  }
  .link-text-candidate-party {
    font-size: 0.6em;
    font-weight: 400;
  }
}
