// Candidate Card
// TODO Refactor to merge styles with .card

@include media-object(".candidate-card__media-object", ".candidate-card__media-object-anchor", ".candidate-card__media-object-content");

.cursor-pointer:hover {
  cursor: pointer;
}

.candidate-card {
  $item-padding: 15px;
  position: relative;
  padding: 15px $item-padding 10px;
  font-size: 14px; // remove once global defaults are set

  &__container {
    @include card-container();
    margin-bottom: 1em;
  }

  &__list-group {
    @include list-item-group;
  }

  &__media-object-anchor {
    width: 50px;
    display: flex;
    flex-direction: column;
    @include breakpoints(mid-small) {
      width: 80px;
    }
  }
  &__photo {
    max-width: 50px;
    @include breakpoints(mid-small) {
      max-width: 80px;
    }
    border-radius: 10em;
  }


  .twitter-followers__badge {
    text-align: center;
    margin-left: -.5em; // for visual centering

  }


  &__media-object-content {
    position: relative;
  }

  &__position-icon {
    @include breakpoints(max mid-small) {
      display: inline-block;
      margin-right: 5px;
      vertical-align: top;
    }
    @include breakpoints(mid-small) {
      position: absolute;
      left: -30px;
    }
  }

  &__display-name {
    display: inline-block;
    font-size: 18px;
    @include breakpoints(mid-small) {
      font-size: 24px;
    }
  }

  &__candidacy {
    color: $dark-gray;
  }

  &__political-party,
  &__office {
    font-weight: bold;
    color: $darker-gray;
  }

  &__description {
    color: $dark-gray;
  }

  &__additional {
    @include micro-clearfix;
    margin-top: .5rem;
  }

  &__additional-heading {
    font-family: $heading-font-stack;
    font-size: 18px;
    margin: 15px $item-padding;
  }

  &__no-additional {
    margin: 0 $item-padding 15px;
  }
}

.candidate-card__description-container {

  &--truncated {
    $line-height: 25px;
    $text-container-height: $line-height * 2;
    $read-more-width: 7em;
    overflow: hidden;
    position: relative;
    height: $text-container-height;
    line-height: $line-height;

    &::before {
      content:"";
      float: left;
      width: 5px;
      height: $text-container-height;
    }

    > *:first-child {
      float: right;
      width: 100%;
      margin-left: -5px; }

    &::after {
      content: "\00A0 Read More";

      box-sizing: content-box;
      float: right;
      position: relative;
      top: -$line-height;
      left: 100%;
      width: $read-more-width;
      margin-left: -$read-more-width;
      padding-right: 5px;
      text-align: right;
      background-size: 100% 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white 15%, white);
      font-style: normal;
      color: $link-color;
    }
  }
}

.candidate-card__read-more-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 5;
}
