// 'Card' styling for Candidates, Organizations, etc.

$candidate-font-size: .875rem;
@include media-object('.card-main__media-object', '.card-main__media-object-anchor', '.card-main__media-object-content');

.card {
  $item-padding: $space-md;
  background-color: $white;
  border-radius: $radius-xs;
  box-shadow: $default-box-shadow;
  margin-bottom: $space-md;
  overflow: hidden;
  @include clearfix;
  @include breakpoints(max mid-small) {
    margin-bottom: $space-sm;
    border-radius: $radius-none;
    [class^='col'] & {
      margin-right: $gutter-offset;
      margin-left: $gutter-offset;
    }
  }
  &__body {
    padding: $item-padding;
  }

  // ----------------------------------------
  // Card 'Main'
  // the main subject of the card (candidate, measure, organizations, etc.)


  &-main { // primary subject of card
    position: relative;
    padding: $space-md $item-padding $space-sm;
    font-size: 14px; // remove once global defaults are set
    @include print {
      padding: $space-none;
    }

    &__content {
      position: relative;
      @include print {
        border-top: 1px solid $gray-mid;
        padding-top: $space-md;
      }
    }

    &__media-object {
      // additional styling set with 'media-object' mixin
      @include breakpoints (mid-small) {
        min-width: 260px; // Reset to 320px when bsPrefix="card-popover" bug is fixed
      }
    }

    &__media-object-anchor {
      // additional styling set with 'media-object' mixin
      display: flex;
      flex-direction: column;
    }

    &__media-object-content {
      // additional styling set with 'media-object' mixin
      @include breakpoints (mid-small) {
        //more space and spacing for candidate bio
        padding: 5px 30px;
        margin-bottom: 30px;
        font-size: 16px;
      }
    }

    &__avatar {
      max-width: 60px;
      border-radius: $radius-xs;
      .card-main & {
        @include breakpoints(mid-small) {
          max-width: 60px;
        }
        border-radius: $radius-rounded;
      }
    }

    &__avatar-compressed {
      background-image: url('../../img/global/svg-icons/avatar-generic.svg');
      width: 40px;
      border-radius: $radius-xs;
      .card-main & {
        @include breakpoints(mid-small) {
          width: 40px;
        }
        border-radius: $radius-rounded;
      }
      @include print {
        width: 40px;
      }
    }

    &__org-avatar {
      max-width: 50px;
      @include breakpoints(mid-small) {
        max-width: 80px;
      }
    }

    .icon-lg { // temp - for placeholder icons
      font-size: 50px;
      @include breakpoints(mid-small) {
        font-size: 80px;
      }
    }

    &__position-icon {
      display: inline-block;
      margin-right: $space-xs;
      vertical-align: text-bottom;
    }

    &__candidate-name {
      font-weight: 600;
    }

    &__candidate-name-link {
      color: $link-color;
    }

    &__candidate-party-description {
      font-size: $candidate-font-size;
      color: $gray-dark;
    }

    &__candidate-description {
      font-size: $candidate-font-size;
      color: $gray-mid;
    }

    &__display-name {
      font-family: $heading-font-stack;
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      // margin-right: 24px; // space for bookmark button
      margin-right: $space-sm;  // space between candidate name and description
      margin-bottom: $space-sm;
      vertical-align: middle;
      @include breakpoints(mid-small) {
        font-size: 18px;
      }
      @include print {
        font-size: 18px;
      }
    }

    &__description {
      color: $gray-dark;
    }

    &__rating-description {
      font-size: .875em;

      &__header {
        color: $popover-link-color;
      }
    }

    &__description-container {

      &--truncated {
        $line-height: 25px;
        $text-container-height: $line-height * 2;
        $read-more-width: 7em;
        $truncated-text-spacer: $space-xs;
        overflow: hidden;
        position: relative;
        height: $text-container-height;
        line-height: $line-height;

        &::before {
          content: '';
          float: left;
          width: $truncated-text-spacer;
          height: $text-container-height;
        }

        > *:first-child {
          float: right;
          width: 100%;
          margin-left: -($truncated-text-spacer); // stylelint-disable-line sh-waqar/declaration-use-variable
        }

        &::after {
          content: '\00A0 Read More';
          box-sizing: content-box;
          float: right;
          position: relative;
          top: -($line-height);
          left: 100%;
          width: $read-more-width;
          margin-left: -($read-more-width);  // stylelint-disable-line sh-waqar/declaration-use-variable
          padding-right: $space-xs;
          text-align: right;
          background-size: 100% 100%;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), white 15%, white); // stylelint-disable-line declaration-block-no-shorthand-property-overrides
          font-style: normal;
          color: $link-color;
        }
      }
    }

    &__candidate-read-more-link {
      margin-left: $space-sm;
      top: 0;
      font-family: $body-font-stack;
      font-size: 14px;
      font-weight: 100 !important;
      color: $link-color;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &__measure-read-more-link {
      margin-left: $space-sm;
      font-family: $body-font-stack;
      font-size: 14px;
      font-weight: 100 !important;
      color: $link-color;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &__ballot-name-group {
      display: block;
    }

    &__ballot-name-item {
      float: left;
    }

    &__ballot-name-link {
      color: $link-color;
    }

    &__ballot-name {
      font-weight: 600;
    }

    &__ballot-read-more-link {
      margin-left: $space-sm;
      font-family: $body-font-stack;
      font-size: 14px;
      font-weight: 100 !important;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &__read-more-link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      text-indent: -9999px;
      z-index: 5;
    }

    &__button-linked {
      pointer-events: none !important;
    }
  } // end .card-main

  // ----------------------------------------
  // Card 'Child'
  // previously 'position-item' - candidates or orgs/users and their positions under a card-main

  @include media-object('.card-child', '.card-child__media-object-anchor', '.card-child__media-object-content');

  .card-child {
    position: relative;
    padding: $item-padding;
    margin-top: -1px; // stylelint-disable-line sh-waqar/declaration-use-variable
    background-color: $gray-pale;
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    @include breakpoints(max mid-small) {
      margin-left: -($item-padding); // stylelint-disable-line sh-waqar/declaration-use-variable
      margin-right: -($item-padding); // stylelint-disable-line sh-waqar/declaration-use-variable
    }

    &__list-group {
      padding: $space-none;
      margin: $space-none;
      @include breakpoints(max mid-small) {
        padding: $space-none $item-padding;
      }
      .card__additional-heading {
        @include breakpoints(max mid-small) {
          margin-right: $space-none;
          margin-left: $space-none;
        }
      }
    }

    &__avatar { // placed on the actual image
      max-width: 50px;
      @include breakpoints(max mid-small) {
        max-width: 32px;
      }
      &--round {
        border-radius: $radius-rounded;
        max-width: 50px;
        @include breakpoints(max mid-small) {
          max-width: 32px;
        }
        @include print {
          max-width: 50px; // TODO TESTING - not working
        }
      }
    }
    .icon-lg { // temp - for placeholder icons
      font-size: 50px;
      @include print {
        max-width: 50px; // TODO TESTING - not working
      }
    }

    &__media-object-content { // positioning for media-object pattern
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include breakpoints(medium) {
        flex-direction: row;
      }
    }

    &__content {
      flex: auto;
    }

    &__content-text {
      flex: auto;
      margin: $space-md;
      @include breakpoints(max mid-small) {
        margin-right: $space-none;
        margin-left: $space-none;
      }
    }

    &__display-name {
      font-family: $heading-font-stack;
      // font-size: 18px;
      margin-bottom: $space-xs;
      flex: auto;
    }

    &__organization-description {
      color: $gray-mid;
    }

    &__fine_print {
      font-size: .75em;
      color: $gray-dark;
      margin-top: $space-md;
    }

    &__follow-buttons {
      display: flex;
      align-items: flex-end;
      .btn {
        margin: $space-none $space-xs $space-none $space-none;
      }
      .twitter-followers__badge {
        margin: $space-xs $space-none;
      }
      @include breakpoints(medium) {
        flex-direction: column;
        .btn {
          margin: $space-none $space-none $space-xs;
        }
        .twitter-followers__badge {
          margin: $space-none;
        }
      }
    }

    &__additional {
      display: flex;
      margin-top: $space-sm;
      @include breakpoints(medium) {
        flex-direction: column;
        padding-left: $space-md;
        margin-top: inherit; // stylelint-disable-line sh-waqar/declaration-use-variable
        text-align: right;
      }
    }
    &--not-followed &__additional {
      margin-top: $space-md; // for follow buttons
    }

    .bookmark-action {
      order: 4;
      position: relative;
      // top: 15px;
      // right: 10px;
    }

    .public-friends-indicator {
      color: $gray-mid;
      display: inline-block;
      // right: 40px;
      top: 16px;
      height: 18px;
    }
  } // end .card-child

  // ----------------------------------------

  &__additional {
    @include clearfix;
    border-top: 5px solid $gray-lighter;
  }

  &__additional-heading {
    font-family: $heading-font-stack;
    font-size: 18px;
    margin: $space-md $item-padding;
  }

  &__additional-text {
    margin: $space-md $item-padding;
  }

  &__no-additional {
    margin: $space-md $item-padding;
  }
}

// October 2018 There is a problem with bsPrefix="card-popover" -- this code will be used when that is fixed
.card-popover {
  padding-top: $space-none;
  padding-left: $space-none;
  padding-right: $space-none;
  background-color: $white;
  max-width: 350px;
  @include breakpoints (max mid-small) {
    max-width: 290px;
  }

  &__width--minimum {
    max-width: 290px; // Remove when bsPrefix="card-popover" bug is fixed
    width: 90vw;
  }
}

.card-popover-body {
  max-width: 290px; // Remove when bsPrefix="card-popover" bug is fixed
  padding: $space-inset-xs;
}

.card-popover-header {
  background-color: $brand-blue;
  color: $white;
}
