// 'Card' styling for Candidates, Organizations, etc.

@include media-object('.card-main__media-object', '.card-main__media-object-anchor', '.card-main__media-object-content');

.card {
  $item-padding: 15px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: $default-box-shadow;
  margin-bottom: 20px;
  @include clearfix;
  @include breakpoints(max mid-small){
    margin-right: -15px;
    margin-bottom: 10px;
    margin-left: -15px;
    border-radius: 0;
  }

  // ----------------------------------------
  // Card 'Main'
  // the main subject of the card (candidate, measure, organizations, etc.)


  &-main { // primary subject of card
    position: relative;
    padding: 15px $item-padding 10px;
    font-size: 14px; // remove once global defaults are set

    &__content {
      position: relative;
      & .h5.mobileCandName {
        @include breakpoints(mid-small){
          display: none;
        }
      }
       & .desktopCandName, .desktop-subtitle {
          display: none;
          @include breakpoints(mid-small){
            display: block;
          }
        }

        & .mobile-subtitle {
          display: block;
            @include breakpoints(mid-small){
              display: none;
            }
       }
    }

    &__media_object {
      // additional styling set with 'media-object' mixin
      width: 50px;
      display: flex;
      flex-direction: column;
    }

    &__media-object-anchor {
      // additional styling set with 'media-object' mixin
      display: flex;
      flex-direction: column;
    }

    &__avatar {
      max-width: 50px;
      border-radius: 2px;
      .card-main & {
        @include breakpoints(mid-small) {
          max-width: 80px;
        }
        border-radius: 10em;
      }
    }

    &__org-avatar {
      max-width: 50px;
      @include breakpoints(mid-small) {
        max-width: 80px;
      }
    }

    .icon-lg { // temp - for placeholder icons
      font-size: 50px;
      @include breakpoints(mid-small) {
        font-size: 80px;
      }
    }

    &__position-icon {
      display: inline-block;
      margin-right: 5px;
      vertical-align: text-bottom;
    }
    &__position-icon-vote {
      display: inline-block;
      margin-right: 5px;
    }

    &__display-name {
      font-family: $heading-font-stack;
      display: inline-block;
      font-size: 18px;
      margin-right: 24px; // space for bookmark button
      margin-bottom: $space-md;
      vertical-align: middle;
      @include breakpoints(mid-small) {
        font-size: 24px;
      }
    }

    &__description {
      color: $gray-dark;
    }


    &__description-container {

      &--truncated {
        $line-height: 25px;
        $text-container-height: $line-height * 2;
        $read-more-width: 7em;
        overflow: hidden;
        position: relative;
        height: $text-container-height;
        line-height: $line-height;

        &::before {
          content:"";
          float: left;
          width: 5px;
          height: $text-container-height;
        }

        > *:first-child {
          float: right;
          width: 100%;
          margin-left: -5px; }

        &::after {
          content: "\00A0 Read More";

          box-sizing: content-box;
          float: right;
          position: relative;
          top: -$line-height;
          left: 100%;
          width: $read-more-width;
          margin-left: -$read-more-width;
          padding-right: 5px;
          text-align: right;
          background-size: 100% 100%;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), white 15%, white);
          font-style: normal;
          color: $link-color;
        }
      }
    }

    &__read-more-link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      text-indent: -9999px;
      z-index: 5;
    }
  } // end .card-main

  // ----------------------------------------
  // Card 'Child'
  // previously 'position-item' - candidates or orgs/users and their positions under a card-main

  @include media-object('.card-child', '.card-child__media-object-anchor', '.card-child__media-object-content');

  .card-child {
    position: relative;
    padding: $item-padding;
    margin-top: -1px;
    background-color: $gray-pale;
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    @include breakpoints(max mid-small){
      margin-left: -$item-padding;
      margin-right: -$item-padding;
    }

    &__list-group {
      padding: 0;
      margin: 0;
      @include breakpoints(max mid-small){
        padding: 0 $item-padding;
      }
      .card__additional-heading {
        @include breakpoints(max mid-small){
          margin-right: 0;
          margin-left: 0;
        }
      }
    }

    &__avatar { // placed on the actual image
      max-width: 50px;
      &-round {
        border-radius: 25px;
        max-width: 50px;
      }
    }
    .icon-lg { // temp - for placeholder icons
      font-size: 50px;
    }

    &__media-object-content { // positioning for media-object pattern
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include breakpoints(medium) {
        flex-direction: row;
      }
    }

    &__content {
      flex: auto;
    }

    &__display-name {
      font-family: $heading-font-stack;
      font-size: 18px;
      margin-bottom: .2em;
      flex: auto;
    }

    &__follow-buttons {
      display: flex;
      align-items: flex-end;
      .btn {
        margin: 0 5px 0 0;
      }
      .twitter-followers__badge {
        margin: 5px 0;
      }
      @include breakpoints(medium) {
        flex-direction: column;
        .btn {
          margin: 0 0 5px;
        }
        .twitter-followers__badge {
          margin: 0;
        }
      }
    }

    &__additional {
      display: flex;
      margin-top: .5em;
      @include breakpoints(medium) {
        flex-direction: column;
        padding-left: 1em;
        margin-top: inherit;
        text-align: right;
      }
    }
    &--not-followed &__additional {
      margin-top: 1em; // for follow buttons
    }

    .star-action {
      order: 4;
      position: relative;
      // top: 15px;
      // right: 10px;
    }

    .public-friends-indicator {
      color: $gray-mid;
      display: inline-block;
      // right: 40px;
      top: 16px;
      height: 18px;
    }
  } // end .card-child

  // ----------------------------------------

  &__additional {
    @include clearfix;
    border-top: 5px solid $gray-lighter;
  }

  &__additional-heading {
    font-family: $heading-font-stack;
    font-size: 18px;
    margin: 20px $item-padding 15px;
  }

  &__no-additional {
    margin: 15px $item-padding;
  }
}

.card-popover {
  max-width: 350px;
}

.bm-burger-button button {
  color:red;
}

