// Device Menu (App side-nav)
// ===========================================

.device-menu {
  &--large {
    display: none;
    @include breakpoints(nav) {
      display: block;
      margin-top: 10px;
    }
  }
  &--mobile {
    display: block;
    visibility: inherit;
    @include breakpoints(nav) {
      visibility: hidden;
    }
  }
}

@include breakpoints(max nav) {
  .sidebar-menu {
    // Hacky grid system overrides
    display: none;
  }
  .col-8-container {
    // Hacky grid system overrides
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .container-main {
    margin-bottom: -72px;
    min-height: 100%;
    padding-bottom: 72px;
  }
}

.active-link {
  font-weight: 600;
  background-color: #d9edf7;
}

.header-slide-out-menu-text-left {
  font-size: 1.2rem;
}

.we-vote-promise {
  color: $gray-mid;
  font-size: .9em;
  font-weight: 400;
}

.terms-and-privacy,
.terms-and-privacy a {
  color: $gray-mid;
  font-size: .9em;
  font-weight: 400;
}
