// Device Menu (App side-nav)
// ===========================================


.header-slide-out-menu-text-left {
  color: $black;
  font-size: 1.2rem;
}

.we-vote-promise {
  color: $gray-mid;
  font-size: .9em;
  font-weight: 400;
}

.terms-and-privacy,
.terms-and-privacy a {
  color: $gray-mid;
  font-size: .9em;
  font-weight: 400;
}
