$filter-margin-right: 1rem;
$filter-margin-right-mobile: .5rem;
$filter-padding: 0 8px;
$btn-margin-bottom: 0;
$text-margin: auto 0;

.listFilter,
.groupedFilter {
  border: 1px solid #ccc;
  border-radius: $radius-sm;
  margin-right: $filter-margin-right;
  padding: $filter-padding;
  text-align: center;
  user-select: none;
  display: flex;
  flex-flow: row;
  height: 36px;
  @include breakpoints (0 medium) {
    height: 24px;
    margin-right: $filter-margin-right-mobile;
  }
  white-space: nowrap;
  cursor: pointer;
  transition: background .13s ease-in;
  &:active {
    background: rgb(137, 237, 159);
  }
  &__text {
    font-size: 1rem;
    margin: $text-margin;
    @include breakpoints(small mid-small) {
      font-size: 14px;
    }
    @include breakpoints (mid-small medium) {
      font-size: 16px;
    }
  }
  svg {
    font-size: 18px;
    margin: $text-margin;
    @include breakpoints(small mid-small) {
      font-size: 12px;
    }
    @include breakpoints (mid-small medium) {
      font-size: 16px;
    }
  }
}

.listFilterSelected {
  background: rgb(137, 237, 159);
}

.groupedFilter {
  margin-right: $btn-margin-bottom;
}

.groupedFilterFirst {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.groupedFilterMiddle {
  border-radius: $btn-margin-bottom;
  border-right: none;
}

.groupedFilterLast {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: $filter-margin-right;
  @include breakpoints (0 medium) {
    margin-right: $filter-margin-right-mobile;
  }
}
