$space-footer-bottom: 12px;
$space-footer-top: 10px;


.pageFooter {
  background-color: $brand-blue;
  border-top: 1px solid $gray-light;
  color: $white;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 54px;
  width: 100%;
}


.footerNav {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-right: $space-md;
  margin-left: $space-md;
}
