$space-footer-bottom: 12px;
$space-footer-top: 10px;

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eee;
}

.footer-icon {
  font-size: 24px;
}

.pageFooter {
  background-color: $brand-blue;
  border-top: 1px solid $gray-light;
  color: $white;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 54px;
  width: 100%;
  &__iosNotch {
    height: 65px;
  }
}


.footerNav {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-right: $space-md;
  margin-left: $space-md;
  .badge-total {
    $badge-color: #db4437;
    position: absolute;
    font-family: $body-font-stack;
    background-color: $badge-color; // Override for Bootstrap class .badge
    top: $space-none;
    right: $space-none;
    &--overLimit {
      right: -.5em;
    }
  }
}
