
.friends {
  // ===========================================
  // Friends Header
  // ===========================================

  &__heading {
    $pinned-transform: translate3d(0, -53px, 0);
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    left: $space-none;
    padding-top: 50px;
    transform: $pinned-transform;
    transition: all 100ms ease-in-out 0s;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    &__unpinned {
      $unpinned-transform: translate3d(0, -50px, 0);
      position: fixed;
      top: $space-none;
      left: $space-none;
      right: $space-none;
      z-index: 6 !important;
      transform: $unpinned-transform;
      transition: all 100ms ease-in-out 0s;
    }
  }
}

.invite-inputs {
  position: relative;
  margin-bottom: $space-none;
}

.invite-inputs .input-group {
  width: 100%;
}

.close-on-right {
  position: absolute;
  top: 2rem;
  right: -5px;
}

.display-in-column-with-vertical-scroll {
  border-radius: $radius-sm;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.display-in-column-with-vertical-scroll-contain {
  height: calc(100vh - 384px);
  max-height: 990px; // Doesn't seem to be working as expected
  overflow-y: auto;
}

.friends-list {
  &__grid {
    padding: $space-none $space-md;
  }
  &__welcome {
    padding: $space-none $space-md;
    align-items: center;
  }

  &__welcome-image {
    position: relative;
    padding: $space-xs;
  }

  &__square {
    position: relative;
    text-align: left;
    padding: $space-xs;
  }

  &__square-image {
    height: 100%;
    width: 100%;
    border: 1px solid $gray-border;
    border-radius: $space-sm;
    filter: brightness(90%) contrast(90%);
  }

  &__square-following {
    filter: brightness(60%);
  }

  &__square-check-mark {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(.5);
  }

  &__square-name {
    position: absolute;
    right: 12px;
    bottom: 12px;
    left: 12px;
    font-size: .875rem;
    color: $white;
    text-shadow: 1px 1px 2px rgba($black, .6);

    @include breakpoints (xsmall-bootstrap small-bootstrap) {
      right: 10px;
      bottom: 10px;
      left: 10px;
      font-size: .65rem;
    }

    @include breakpoints (iphone5 mid-small) {
      right: 10px;
      bottom: 10px;
      left: 10px;
      font-size: .65rem;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    @include breakpoints (max iphone5) {
      right: 8px;
      bottom: 8px;
      left: 8px;
      font-size: .6rem;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }

  &__default-text {
    width: 100%;
    padding: $space-md;
    text-align: center;
  }
}
