.invite-inputs {
  position: relative;
  margin-bottom: $space-none;
}

.invite-inputs .input-group {
  width: 100%;
}

.close-on-right {
  position: absolute;
  top: 2rem;
  right: -5px;
}

.display-in-column-with-vertical-scroll {
  border-radius: $radius-sm;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.display-in-column-with-vertical-scroll-contain {
  height: calc(100vh - 384px);
  overflow-y: auto;
}

.friends-list {
  &__grid {
    padding: $space-none $space-md;
  }
  &__welcome {
    padding: $space-none $space-md;
    align-items: center;

    &-image {
      position: relative;
      padding: $space-xs;
    }
  }

  &__square {
    position: relative;
    text-align: left;
    padding: $space-xs;

    &-image {
      height: 100%;
      width: 100%;
      border: 1px solid $gray-border;
      border-radius: $space-sm;
      filter: brightness(90%) contrast(90%);
    }

    &-following {
      filter: brightness(60%);
    }

    &-check-mark {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(.5);
    }

    &-name {
      position: absolute;
      right: 12px;
      bottom: 12px;
      left: 12px;
      font-size: .875rem;
      color: $white;
      text-shadow: 1px 1px 2px rgba($black, .6);

      @include breakpoints (xsmall-bootstrap small-bootstrap) {
        right: 10px;
        bottom: 10px;
        left: 10px;
        font-size: .65rem;
      }

      @include breakpoints (iphone5 mid-small) {
        right: 10px;
        bottom: 10px;
        left: 10px;
        font-size: .65rem;
      }

      @include breakpoints (max iphone5) {
        right: 8px;
        bottom: 8px;
        left: 8px;
        font-size: .6rem;
      }
    }
  }

  &__default-text {
    width: 100%;
    padding: $space-md;
    text-align: center;
  }
}
