@import '../base/variables';

$space-header-height:  20px;
$space-header-x-height: 40px;
$space-search-right:   10%;
$back-button-font-size: .7rem;

.page-header {
  // required overrides for Bootstrap :(
  border: none;
  padding-right: $half-gutter-width;
  padding-bottom: $space-none; // override to avoid Bootstrap collision
  padding-left: $half-gutter-width; // $grid-gutter-width/2
  margin: $space-none auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    background-color: $page-header-color;
  }

  &__container_branding_off {
    background-color: $gray-darker;
    padding: $space-sm $space-none;
  }

  &__search {
    margin: $space-xs;
    position: relative;
    width: 100%;
  }

  &__backToButton {
    background-color: $page-header-color;
    color: $white;
    margin: $space-xs;
    @include breakpoints(small xsmall-bootstrap) {
      font-size: $back-button-font-size !important;
    }

    &:focus {
      background-color: $page-header-color !important;
      color: $white;
    }
    &:hover {
      background-color: $page-header-color !important;
      color: $white;
    }
  }

  &__backToButtonIPhoneX {
    margin-top: $space-xs;
  }

  &__cordova {
    margin: $space-none;
    padding-bottom: $space-xs;
  }

  &__cordova-iphonex {
    margin: $space-none;
    padding-bottom: $space-xs;
    padding-top: $space-md;
  }
}

.header-toolbar {
  $header-padding: 10px;
  width: 100%;
  max-width: 960px;
  @include breakpoints(xsmall-bootstrap) {
    padding-right: $header-padding;
  }
}

.header-backto-toolbar {
  justify-content: space-between;
}

.header-logo-img {
  width: 800px;
  @include breakpoints(mid-small small-bootstrap) {
    width: 250px;
  }
  @include breakpoints(small-bootstrap) {
    width: 150px;
  }
}

.header-link {
  $inherit: inherit;
  color: $inherit;
  text-decoration: none;
  &:hover {
    color: $inherit;
    text-decoration: none;
  }
}

.header-sign-in {
  color: $brand-blue;
  @include breakpoints(small xsmall-bootstrap) {
    font-size: $back-button-font-size !important;
  }
}

.page-header-cordova-ios {
  margin: $space-header-height auto $space-none;
}

.search-cordova {
  width: 100%;
}

.search-cordova-iphonex {
  width: 100%;
  padding-top: $space-header-height;
}

// To cover the space under the iPhone top line menu "Carrier" or "ATT" etc.
.ios-no-notch-spacer {
  top: $space-none;
  position: fixed;
  height: $space-header-height;
  background: $brand-blue;
  width: 100%;
  opacity: 1;
  z-index: 3;
}

.ios-notched-spacer {
  top: $space-none;
  position: fixed;
  height: $space-header-x-height;
  background: $brand-blue;
  width: 100%;
  opacity: 1;
  z-index: 3;
}

.page-secondary-nav-header {
  // required overrides for Bootstrap :(
  border: none;
  @include clearfix;
  @include breakpoints(medium) {
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width; // $grid-gutter-width/2
  }
  padding: $space-none;
  background-color: $brand-white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-secondary-nav-header-background {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  background-color: $brand-white;
}

.page-logo {
  width: 45px;

  @include breakpoints(xsmall-bootstrap) {
    width: 120px;
  }
}

.page-logo > .beta-marker {
  position: relative;
}

.page-logo > .beta-marker > .beta-marker-inner {
  position: absolute;
  font-size: 10px;
  color: $brand-blue;
  text-transform: capitalize;
}

.page-logo-full-size > .beta-marker > .beta-marker-inner {
  right: 0;
  top: 18px;
}

.page-logo-short > .beta-marker > .beta-marker-inner {
  right: -10px;
  top: 24px;
}

.site-search {
  padding: $space-none $space-md;

  &__input-field {
    border: none; // override Bootstrap
  }

  &__button,
  &__clear {
    border: none; // override Bootstrap
    height: 34px;

    &__hidden {
      display: none;
    }
  }

  &__input-field::placeholder {
    opacity: 0;
    @include breakpoints(mid-small) { // 2
      opacity: 1;
    }
  }
}

.search-container {
  $search-result-highlight-color: #d9edf7;
  background-color: $white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  margin: $space-none $space-md;
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
  min-width: 80%;
  z-index: 1;

  @include breakpoints(max mid-small) {
    left: -86px;
    width: 100vw;
  }

  &__hidden {
    display: none !important;
  }

  &__results {
    background-color: $white;
    padding: $space-md;
    display: flex;
    font-size: 1rem;
    align-items: center;

    &--highlighted {
      background-color: $search-result-highlight-color;
    }
  }

  &__links {
    display: block;
    font-size: 1.25rem;

    &:hover {
      text-decoration: none;
    }
  }

  &__election_results {
    background-color: $white;
    padding: $space-md;
    font-size: 1rem;

    &--highlighted {
      background-color: $search-result-highlight-color;
    }
  }

  &__election-details {
    text-align: right;
  }

  &__election-type {
    font-size: 14px;
    color: $gray-mid;
  }

  &--cordova {
    left: 0;
    width: auto;
  }
}

.search-image {
  display: inline-block;
  width: 30px;
  font-size: 30px;
  margin-right: $space-md;
  height: 30px;
  &__filler {
    padding: $space-none $space-md;
  }
  @include breakpoints(max nav) {
    display: none;
  }
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transform: translateY(0);
  transition: all .2s ease-in-out;
  &--pinned {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  }
  &--slide-up {
    transform: translateY(-100%);
  }
  &--slide-down {
    transform: translateY(0);
  }
}
