@import 'base/variables';

.page-header {
  // required overrides for Bootstrap :(
  border: none;
  @include clearfix;
  padding-right: $half-gutter-width;
  padding-bottom: $space-none; // override to avoid Bootstrap collision
  padding-left: $half-gutter-width; // $grid-gutter-width/2
  margin: $space-none auto;
  max-width: $max-page-container-width;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    background-color: $page-header-color;
    padding: $space-sm $space-none;
  }

  &__search {
    margin: $space-none;
    position: relative;
    width: 100%;
  }
}

.page-logo {
  white-space: nowrap;
  margin: $space-none $space-md $space-none $space-none; // zeros to override Bootstrap h4
  margin-top: -$space-sm; // stylelint-disable-line sh-waqar/declaration-use-variable
  margin-bottom: -$space-sm; // stylelint-disable-line sh-waqar/declaration-use-variable
  padding: $space-sm;
  &,
  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    text-shadow: 0 0 3px rgba($white, .3);
  }

  &__version {
    color: $white;
    opacity: .5;
    font-size: .7em;
    margin-left: $space-xs;
    text-transform: uppercase;
    white-space: nowrap;
  }

  @include breakpoints(max mid-small) {
    display: none;
  }

  @include breakpoints(mid-small) {
    display: block;
  }
}

.site-search {
  padding: $space-none $space-md;

  &__input-field {
    border: none; // override Bootstrap
  }

  &__button,
  &__clear {
    border: none; // override Bootstrap
    height: 34px;

    &__hidden {
      display: none;
    }
  }

  &__input-field::placeholder {
    opacity: 0;
    @include breakpoints(mid-small) { // 2
      opacity: 1;
    }
  }
}

.search-container {
  $search-result-highlight-color: #d9edf7;
  background-color: $white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  margin: $space-none $space-md;
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
  min-width: 80%;
  z-index: 1;

  &__hidden {
    display: none !important;
  }

  &__results {
    background-color: $white;
    padding: $space-md;
    display: flex;
    font-size: 1rem;
    align-items: center;

    &--highlighted {
      background-color: $search-result-highlight-color;
    }
  }

  &__links {
    display: block;
    font-size: 1.25rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.search-image {
  display: inline-block;
  width: 30px;
  font-size: 30px;
  margin-right: $space-md;
  height: 30px;
  &__filler {
    padding: $space-none $space-md;
  }
  @include breakpoints(max nav) {
    display: none;
  }
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(0);
  transition: all .2s ease-in-out;
  &--pinned {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  }
  &--slide-up {
    transform: translateY(-100%);
  }
  &--slide-down {
    transform: translateY(0);
  }
}
