
.headroom {
  &--pinned {
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
  }
}

.page-header {
  // required overrides for Bootstrap :(
  margin: 0;
  padding-bottom: 0;
  border: none;

  &__container {
    background-color: $brand-color;
    // border-bottom: 1px solid $gray-border;
    padding: .5em;
  }

  @include clearfix;
  padding-bottom: 0; // override to avoid Bootstrap collision
  margin: 0 auto;
  max-width: $max-page-container-width;
  position: relative;

  &__content { // additional element to exclue Burger Menu element
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }
}

.page-logo {
  white-space: nowrap;
  margin: 0 1em 0 0; // zeros to override Bootstrap h4
  margin-top: -.5em;
  margin-bottom: -.5em;
  padding: 10px 8px;
  &,
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    text-decoration: none;
  }
  &:hover {
    text-shadow: 0 0 3px rgba(255, 255, 255, .3);
  }

  &__version {
    color: #fff;
    opacity: .5;
    font-size: 0.7em;
    margin-left: .3em;
    text-transform: uppercase;
    white-space: nowrap;
  }

  @include breakpoints(max mid-small) {
    display: none;
  }

  @include breakpoints(mid-small) {
    display: block;
  }
}

.site-search {
  padding: 0 1em;

  &__input-field {
    border: none; // override Bootstrap
  }

  &__button {
    border: none; // override Bootstrap
    height: 34px;
  }
  &__input-field::placeholder{
     opacity:0;
     @include breakpoints(mid-small){ // 2
       opacity:1;
     }
  }
}

.search-container {
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  margin: 0 1em;
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
  min-width: 80%;
  z-index: 1;

  &__hidden {
    display: none !important;
  }

  &__results {
    background: #fff;
    margin-bottom: .5em;
    padding: .75em;
    display: flex;
    font-size: 1rem;
    align-items: center;

    &__highlighted {
      background: #d9edf7;
    }
  }

  &__links {
    display: block;
    font-size: 1.25rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.search-image {
  display: inline-block;
  width: 30px;
  font-size: 30px;
  margin: 0 12px 0 0;
  height:30px;
  &__filler {
    padding: 0 21px;
  }
  @include breakpoints(max nav) {
    display: none;
  }
}
  .CANDIDATE {
    border-radius: 15px;
  }

