.page-header {
  margin: 0 auto;
  max-width: $max-page-container-width - 2px;
  position: relative;
  &--unpinned {
    transform: translateY(0px) !important;
  }
}

.page-logo {
  @include breakpoints(max nav) {
    padding-left: 10px;
  }
}
