.intro-modal {
  padding: $space-none;
  min-height: 480px;
  height: 100%;
  width: 100%;
  color: $white;
  text-align: center;

  &__h1 {
    font-weight: 700;
    font-size: 30px;
    padding: $space-md $space-none $space-sm;

    @include breakpoints (mid-small medium) {
      font-size: 24px;
    }

    @include breakpoints (max mid-small) {
      font-size: 18px;
    }
  }
  &__h1--alt {
    font-weight: 700;
    font-size: 30px;
    padding-top: $space-lg;
    @include breakpoints (max medium) {
      font-size: 16px;
    }
  }

  &__h2 {
    font-size: 20px;
    @include breakpoints (max medium) {
      font-size: 16px;
    }
  }

  &-features {
    padding: $space-lg $space-none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__image {
      display: inline-block !important;
      margin-bottom: $space-md;
    }
    &__text {
      font-size: 12px;
      font-weight: 700;
    }
  }

  &__responsive-height {
    min-height: 100px;
    @include breakpoints (mid-small medium) {
      min-height: 120px;
    }
  }

  &__height-full {
    height: 100%;
  }

  &__close {
    position: relative;
    width: 100%;
  }

  &__close-anchor {
    position: absolute;
    top: $space-none;
    right: $space-none;
    width: $space-md * 1.25;
    z-index: 9999;
    @include breakpoints (max mid-small) {
      width: $space-md;
    }
  }

  &__small {
    font-size: 12px;
    margin: $space-none;
  }

  &__p {
    font-size: $base-font-size * .875;
  }

  &__position-wrap {
    min-height: 200px;
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  &__position-img {
    width: 85%;
    max-width: 256px;
  }

  &__position-description-wrap {
    justify-content: space-between;
    display: flex;
    padding-top: $space-md;
    .intro-modal__p:first-child {
      flex: 0 1 45%;
    }
    .intro-modal__p:last-child {
      flex: 0 1 35%;
    }
  }

  &__button {
    position: absolute;
    bottom: 36px;
    width: 180px;
  }

  &__button-follow,
  &__button-disabled {
    width: 180px;
  }

  &__button-wrap {
    display: flex;
    justify-content: center;
  }

  &__span {
    white-space: nowrap;
    overflow: hidden;
    @include breakpoints (max mid-small) {
      text-align: start;
    }
  }

  &__top-description {
    font-size: 20px;
    padding-bottom: $space-md;

    @include breakpoints (mid-small medium) {
      font-size: 18px;
      padding-bottom: $space-sm;
    }

    @include breakpoints (max mid-small) {
      font-size: 14px;
      padding-bottom: $space-sm;
    }
  }

  &__margin-right {
    margin-right: $space-sm;
  }

  &__hide-sm {
    @include breakpoints (max mid-small) {
      display: none;
    }
  }

  &__white-space {
    white-space: normal;
  }

  &__ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__padding {
    padding: $space-md;
    @include breakpoints (max large) {
      padding-top: $space-md;
      padding-bottom: $space-md;
    }
  }

  &__padding-top {
    padding-top: $space-md;
  }

  &__padding--btm {
    padding-bottom: $space-lg;
  }

  &__padding-btn {
    padding-top: $space-lg;
    padding-bottom: $space-lg;
    @include breakpoints (max large) {
      padding-top: $space-lg;
      padding-bottom: $space-md;
    }
  }
  &__btn-center {
    text-align: center;
    position: absolute;
    top: 50%;
  }

  &__img-height {
    height: 200px;
    @include breakpoints (max mid-small) {
      height: 165px;
    }
  }

  &__img-height--extra {
    height: 225px;
    @include breakpoints (max mid-small) {
      height: 175px;
    }
  }

  &__img-width {
    width: 250px;
    @include breakpoints (max mid-small) {
      width: 200px;
    }
  }

  &__background {
    @include breakpoints (small) {
      height: 100vh;
      width: 100vw;
      background-size: cover;
    }
    @include breakpoints (large) {
      height: 300px;
      width: 100%;
      float: left; //This is important to ensure proper alignment with the parent div.
    }
  }

  &__menu-right {
    font-size: 2.5em;
    z-index: 3;
    top: 45%;
    right: 0;
    position: absolute;
    @include breakpoints (max mid-small) {
      display: none;
    }
  }
  &__menu-left {
    font-size: 2.5em;
    z-index: 3;
    top: 45%;
    left: 0;
    position: absolute;
    @include breakpoints (max mid-small) {
      display: none;
    }
  }

  &__footer {
    position: absolute;
    bottom: 20%;
    width: 100%;
    @include breakpoints (mid-small) {
      bottom: 10%;
    }
  }

  &__text-dark {
    color: $gray-darker;
  }

  // Modifies slick default selector type dot styles
  // We need to disable stylelint type selector rule because we need to override existing slick package styles.
  /* stylelint-disable selector-no-type  */
  &__gray-dots li button::before {
    color: $gray-pale;
    font-size: 12px;
  }
  &__gray-dots li.slick-active button::before {
    color: $white;
    opacity: 1;
  }
  /* stylelint-enable */

  &__description-text {
    @extend .intro-modal__p;
    @extend .intro-modal__responsive-height;
    @extend .intro-modal__padding-top;
  }

  &__issue-grid {
    padding: $space-none $space-md;
  }

  &__issue-square {
    position: relative;
    text-align: left;
    padding: $space-xs;

    &-image {
      height: 100%;
      width: 100%;
      border: 1px solid $gray-border;
      border-radius: $space-sm;
      filter: brightness(90%) contrast(90%);
    }

    &-following {
      filter: brightness(60%);
    }

    &-check-mark {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(.5);
    }

    &-name {
      position: absolute;
      right: 12px;
      bottom: 12px;
      left: 12px;
      font-size: .875rem;
      text-shadow: 1px 1px 2px rgba($black, .6);
    }
  }
}

.intro-modal-vertical-scroll {
  // padding: $space-md;
  border-radius: $radius-sm;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  .card-main {
    &:hover {
      cursor: pointer;
      background: $selected-color-bright;
      .card-main__candidate-name,
      .intro-modal__small {
        color: $gray-pale;
      }
    }
  }
}

.child-height-full > :first-child {
  height: 100%;
  > :first-child {
    height: 100%;
  }
}

.intro-modal-vertical-scroll-contain {
  max-height: 40vh;
  overflow-y: auto;

  @include breakpoints (mid-small medium) {
    max-height: 42vh;
  }

  @include breakpoints (max mid-small) {
    max-height: calc(100vh - 256px);
  }
}

// TODO Move to separate file if global, otherwise, rename to be scoped to this component '.intro-story__close-btn'
.x-close {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: $white;
  @include breakpoints (small mid-small) {
    height: 30px;
    width: 30px;
    padding: $space-xs;
  }
}

// Overrides

.story-view {
  .container-main {
    margin: $space-none;
    min-height: 100%;
    padding: $space-none;
  }

  .well {
    margin-bottom: $space-none;
    border: none;
  }
}

.slick-list,
.slick-track {
  height: 100%;
}

.slick-dots {
  bottom: 0;
}

.facebook-intro-connect,
.twitter-intro-connect {
  flex: initial;
  max-width: initial;
}

.calc-height {
  @include breakpoints (max mid-small) {
    height: calc(100vh - 52px);
  }

  @include breakpoints (mid-small) {
    height: 64vh;
  }
}
