.intro-story {
  background-color: $white;
  padding: $space-none;
  height: 100vh;
  width: 100%;
  max-width: 750px;
  color: $black;
  text-align: center;
  @include breakpoints (max large) {
    height: 100vh;
    max-height: 990px; // We set this so that when We Vote is in a frame, the modal isn't too long.
  }
  &__h1 {
    font-weight: 800;
    font-size: 24px;
    padding: $space-lg $space-none $space-md;
    @include breakpoints (mid-small) {
      font-size: 28px;
    }
  }
  &__h1--highlight {
    color: $brand-blue;
  }
  &__h1--alt {
    font-weight: 700;
    font-size: 30px;
    padding-top: $space-lg;
    @include breakpoints (max large) {
      font-size: 22px;
    }
  }

  &__h2 {
    padding-top: $space-lg;
    padding-bottom: $space-md;
    font-size: 20px;
    font-weight: 600;
    @include breakpoints (mid-small) {
      font-size: 24px;
    }
  }
  &__h2--highlight {
    color: $brand-blue;
  }

  &__info {
    color: $gray-dark;
  }

  &__padding {
    padding: $space-md;
    height: 100vh;
    position: relative;
    @include breakpoints (max large) {
      padding-top: $space-md;
      padding-bottom: $space-md;
      height: 100vh;
    }
  }

  &__padding--top {
    padding-top: $space-md;
  }

  &__padding--btm {
    padding-bottom: $space-lg;
  }

  &__padding-btn {
    padding-top: $space-lg;
    padding-bottom: $space-lg;
    @include breakpoints (max large) {
      padding-top: $space-lg;
      padding-bottom: $space-md;
    }
  }

  &__margin--auto {
    margin: $space-none auto;
    max-width: 600px;
  }

  &__img-height {
    width: 100%;
    max-width: 500px;
    margin: $space-none auto;
  }

  &__img-height--extra {
    height: 225px;
    @include breakpoints (max mid-small) {
      height: 175px;
    }
  }

  &__seperator {
    height: 2px;
    background: $gray-lighter;
    border: none;
  }

  // &__placeholder {
  //   background: $gray-lighter;
  //   height: 200px;
  //   border: none;
  //   display: inline-flex;
  //   align-items: center;
  //   justify-content: center;
  //   font-size: 20px;
  //   font-weight: 600;
  //   color: $gray-dark;
  //   margin-top: $space-md;
  // }

  &__background {
    @include breakpoints (small) {
      height: 100vh;
      width: 100vw;
      background-size: cover;
    }
    @include breakpoints (large) {
      height: 600px;
      width: 100%;
      float: left; //This is important to ensure proper alignment with the parent div.
    }
  }

  &__menu-right {
    font-size: 2.5em;
    z-index: 3;
    top: 45%;
    right: 0;
    position: absolute;
    @include breakpoints (max mid-small) {
      display: none;
    }
  }
  &__menu-left {
    font-size: 2.5em;
    z-index: 3;
    top: 45%;
    left: 0;
    position: absolute;
    @include breakpoints (max mid-small) {
      display: none;
    }
  }

  &__footer {
    position: absolute;
    bottom: 20%;
    width: 100%;
    @include breakpoints (mid-small) {
      bottom: 10%;
    }
  }

  &__btn {
    background: $brand-blue;
    color: $white;
    border: none;
    border-radius: $btn-margin-bottom;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 2.2rem;
    z-index: 999;
  }
  &__btn--bottom {
    position: absolute;
    margin-left: $space-md;
    width: calc((100%) - 32px);
    left: 0;
    top: 90vh;
    display: block;
  }
}

.background--image2 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide2-lady-liberty-698x600.jpg');
  }
  @include breakpoints (large) {
    background-image: url('/img/global/intro-story/slide2-lady-liberty-1000x600.jpg');
  }
}

.background--image3 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide3-historic-place-698x600.jpg');
  }
  @include breakpoints (large) {
    background-image: url('/img/global/intro-story/slide3-historic-place-1000x600.jpg');
  }
}

.background--image4 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide4-working-together-698x600.jpg');
  }
  @include breakpoints (large) {
    background-image: url('/img/global/intro-story/slide4-working-together-1000x600.jpg');
  }
}

.background--image5 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide5-flagpole-698x600.jpg');
  }
  @include breakpoints (large) {
    background-image: url('/img/global/intro-story/slide5-flagpole-1000x600.jpg');
  }
}

.sc-htpNat {
  background: white;
}
