// April 2018: Something in our sass processing chain is messing up the utf-8 char in slick-theme.css within Cordova, so force it here.
$slick-dot-character: '\2022' !default;
$backdrop-border-radius: 8px;
$scrollcard-padding: 2px 2px 0 0;

.intro-modal {
  padding: $space-none;
  // min-height: 480px;
  height: 100%;
  width: 100%;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__h1 {
    font-weight: 400;
    font-size: 30px;
    padding: $space-md $space-none $space-sm;

    @include breakpoints (mid-small medium) {
      font-size: 24px;
    }

    @include breakpoints (max mid-small) {
      font-size: 18px;
    }
  }
  &__h1--alt {
    font-weight: 700;
    font-size: 30px;
    padding-top: $space-lg;
    @include breakpoints (max medium) {
      font-size: 16px;
    }
  }

  &__h2 {
    font-size: 20px;
    @include breakpoints (max medium) {
      font-size: 16px;
    }
  }

  &__responsive-height {
    min-height: 100px;
    @include breakpoints (mid-small medium) {
      min-height: 120px;
    }
  }

  &__height-full {
    height: 100%;
  }

  &__close {
    position: relative;
    width: 100%;
  }

  &__close-anchor {
    position: absolute;
    top: $space-none;
    right: $space-none;
    width: $space-md * 3;
    z-index: 9999;
    @include breakpoints (max mid-small) {
      width: $space-md * 1.75;
    }
    /* stylelint-disable selector-max-type */
    img {
      padding: $space-none $space-none $space-md $space-md * 1.7;
      @include breakpoints (max mid-small) {
        padding: $space-none $space-none $space-md * .5 $space-md * .75;
      }
    }
    /* stylelint-enable */
  }

  &__close-anchor-iphonex {
    top: 20px;
  }

  &__small {
    font-size: 12px;
    margin: $space-none;
  }

  &__p {
    font-size: $base-font-size * .875;
  }

  &__position-wrap {
    min-height: 200px;
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  &__position-img {
    width: 85%;
    max-width: 256px;
  }

  &__position-description-wrap {
    justify-content: space-between;
    display: flex;
    padding-top: $space-md;
    .intro-modal__p:first-child {
      flex: 0 1 45%;
    }
    .intro-modal__p:last-child {
      flex: 0 1 35%;
    }
  }

  &__button {
    // position: absolute;
    margin-bottom: $space-lg;
    width: 80%;
  }

  &__button-wrap {
    width: 100%;
    margin-bottom: $space-lg;
  }

  &__span {
    white-space: nowrap;
    overflow: hidden;
    @include breakpoints (max mid-small) {
      text-align: start;
    }
  }

  &__top-description {
    font-size: 20px;
    padding-bottom: $space-md;

    @include breakpoints (mid-small medium) {
      font-size: 18px;
      padding-bottom: $space-sm;
    }

    @include breakpoints (max mid-small) {
      font-size: 14px;
      padding-bottom: $space-sm;
    }
  }

  &__margin-right {
    margin-right: $space-sm;
  }

  &__hide-sm {
    @include breakpoints (max mid-small) {
      display: none;
    }
  }

  &__white-space {
    white-space: normal;
  }

  &__ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__padding {
    padding: $space-md;
    @include breakpoints (max large) {
      padding-top: $space-md;
      padding-bottom: $space-md;
    }
  }

  &__padding-top {
    padding-top: $space-md;
  }

  &__padding--btm {
    padding-bottom: $space-lg;
  }

  &__padding-btn {
    padding-top: $space-lg;
    padding-bottom: $space-lg;
    @include breakpoints (max large) {
      padding-top: $space-lg;
      padding-bottom: $space-md;
    }
  }
  &__btn-center {
    text-align: center;
    position: absolute;
    top: 50%;
  }

  &__img-height {
    height: 200px;
    @include breakpoints (max mid-small) {
      height: 165px;
    }
  }

  &__img-height--extra {
    height: 225px;
    @include breakpoints (max mid-small) {
      height: 175px;
    }
  }

  &__img-width {
    width: 250px;
    @include breakpoints (max mid-small) {
      width: 200px;
    }
  }

  &__background {
    @include breakpoints (small) {
      height: 100vh;
      width: 100vw;
      background-size: cover;
    }
    @include breakpoints (large) {
      height: 300px;
      width: 100%;
      float: left; //This is important to ensure proper alignment with the parent div.
    }
  }

  &__menu-right {
    font-size: 2.5em;
    z-index: 3;
    top: 45%;
    right: 0;
    position: absolute;
    @include breakpoints (max mid-small) {
      display: none;
    }
  }
  &__menu-left {
    font-size: 2.5em;
    z-index: 3;
    top: 45%;
    left: 0;
    position: absolute;
    @include breakpoints (max mid-small) {
      display: none;
    }
  }

  &__footer {
    position: absolute;
    bottom: 20%;
    width: 100%;
    @include breakpoints (mid-small) {
      bottom: 10%;
    }
  }

  &__text-dark {
    color: $gray-darker;
  }

  // Modifies slick default selector type dot styles
  // We need to disable stylelint type selector rule because we need to override existing slick package styles.
  /* stylelint-disable selector-max-type */
  &__gray-dots li button::before {
    color: $gray-mid;
    font-size: 12px;
    content: $slick-dot-character;
    opacity: .5;
  }
  &__gray-dots li.slick-active button::before {
    color: $brand-blue;
    opacity: 1;
    content: $slick-dot-character;
  }
  /* stylelint-enable */

  &__description-text {
    @extend .intro-modal__p;
    @extend .intro-modal__responsive-height;
    @extend .intro-modal__padding-top;
  }

  &__default-text {
    width: 100%;
    color: $black;
    padding: $space-md;
    text-align: center;
  }

  &__grid {
    padding: $space-none $space-md;
  }

  &__square {
    position: relative;
    padding: $space-xxs;
    &__sidebar {
      padding: $space-none;
      text-align: center;
    }
  }

  &__square-image {
    height: 100%;
    width: 100%;
    border-radius: $space-sm;
  }

  &__square-details {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $gray-light;
  }

  &__square-following {
    filter: brightness(60%);
  }

  &__square-check-mark {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(.5);
  }

  &__square-name {
    display: flex;
    flex-flow: column;
    text-align: center;
    position: absolute;
    left: 2px;
    bottom: -6px;
    font-size: .9rem;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 1px 1px 2px rgba($black, .6);
    background: rgba(0, 0, 0, .45);
    padding: $space-xs;
    width: 100%;
    height: 100%;
    border-radius: $backdrop-border-radius;
    border: 2px solid white;
    justify-content: flex-end;
    transition: all .2s ease-in;
    &:hover {
      border: 2px solid $brand-blue;
      background: rgba(0, 0, 0, .55);
    }

    @include breakpoints (mid-small xsmall-bootstrap) {
      padding: $space-sm;
    }

    @include breakpoints (iphone5 mid-small) {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    @include breakpoints (max iphone5) {
      font-size: .85rem;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }

  &__following {
    background: transparent;
    font-weight: bold;
    color: $gray-mid;
    text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    &:hover {
      border: 2px solid transparent;
      background: rgba(0, 0, 0, .1);
    }
  }

  &__details {
    position: absolute;
    top: 12px;
    right: 12px;

    @include breakpoints (xsmall-bootstrap small-bootstrap) {
      top: 10px;
      right: 10px;
    }

    @include breakpoints (iphone5 mid-small) {
      top: 10px;
      right: 10px;
    }

    @include breakpoints (max iphone5) {
      top: 8px;
      right: 8px;
    }
  }

  &__address-box {
    align-self: center;
    width: 80%;
  }
}

// Intro Modal shadow
.intro-modal-shadow-wrap {
  flex-basis: 0;
}

.intro-modal-shadow {
  position: relative;
  top: -25px;
  height: 25px;
  width: 100%;
  background: linear-gradient(to bottom, transparent 1%, #fff 100%);
}

.intro-modal-vertical-scroll {
  // padding: $space-md;

  border-radius: $radius-sm $radius-sm $radius-sm $radius-sm;

  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  .card-main {
    &:hover {
      cursor: pointer;
      background: $selected-color-bright;
      .card-main__candidate-name,
      .intro-modal__small {
        color: $gray-pale;
      }
    }
  }
}


.intro-modal-vertical-scroll.card {
  margin-bottom: $space-none;
  padding: $scrollcard-padding;
}

.child-height-full > :first-child {
  height: 100%;
  > :first-child {
    height: 100%;
  }
}

.intro-modal-vertical-scroll-contain_without_slider {
  height: calc(100vh - 100px);
  max-height: 540px; // Scroll area in modal: 990 - 350 = 640px We set this so that when We Vote is in a frame, the modal isn't too long.
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
  overflow-x: hidden;
}

.intro-modal-vertical-scroll-contain-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.intro-modal-vertical-scroll-contain {
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
  overflow-x: hidden;
}

// TODO Move to separate file if global, otherwise, rename to be scoped to this component '.intro-story__close-btn'
.x-close {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: $white;

  &__cordova {
    top: 30px;
    right: 14px;
  }
  @include breakpoints (small mid-small) {
    height: 30px;
    width: 30px;
    padding: $space-xs;
  }
}

// Overrides

.story-view {
  .container-main {
    margin: $space-none;
    min-height: 100%;
    padding: $space-none;
  }

  .well {
    margin-bottom: $space-none;
    border: none;
  }
}

// .slick-list,
// .slick-track {
//   // height: 100%;
// }

// .slick-slide > div { // stylelint-disable-line selector-max-type
//   // height: 100%;
// }

.slick-dots {
  top: 83vh;
  content: $slick-dot-character;
  height: 0;
}

.facebook-intro-connect,
.twitter-intro-connect {
  flex: initial;
  max-width: initial;
}

.calc-height {
  @include breakpoints (max mid-small) {
    height: calc(100vh - 52px);
    max-height: 548px; // Scroll area in modal: 600 - 52 = 548px We set this so that when We Vote is in a frame, the modal isn't too long.
  }

  @include breakpoints (mid-small) {
    height: calc(100vh - 104px);
    max-height: 496px; // Scroll area in modal: 600 - 104 = 496px We set this so that when We Vote is in a frame, the modal isn't too long.
  }
}

.modal-dialog {
  position: relative;
  // top: 20%;
  // transform: translateY(-50%);

  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;

  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;

  @include breakpoints(medium large) {
    width: 750px;
  }

  @include breakpoints(large) {
    width: 880px;
  }
}

.modal-body {
  @include breakpoints (small) {
    height: inherit;

    // .intro-modal__button-wrap {
    //   // justify-content: auto;  May 7, 2018, auto is not a valid choice
    // }

    .calc-height {
      height: calc(100vh - 100px);
      max-height: 890px; // Modal buttons positioning: 990 - 100 = 640px We set this so that when We Vote is in a frame, the modal isn't too long.
    }

    .intro-modal-vertical-scroll-contain_without_slider {
      height: calc(100vh - 100px);
      max-height: 540px; // Scroll area in modal: 990 - 350 = 640px We set this so that when We Vote is in a frame, the modal isn't too long.
    }
  }
}

.share-modal {
  padding: $space-none;
  width: 100%;
  color: $white;
  text-align: center;

  &__input {
    flex-basis: 80%;
    @include breakpoints (small mid-small) {
      flex-basis: 70%;
    }
    @include breakpoints (mid-small medium) {
      flex-basis: 80%;
    }
    @include breakpoints (medium large) {
      flex-basis: 75%;
    }
  }

  &__button {
    flex-basis: 20%;
    @include breakpoints (small mid-small) {
      flex-basis: 30%;
    }
    @include breakpoints (mid-small medium) {
      flex-basis: 20%;
    }
    @include breakpoints (medium large) {
      flex-basis: 25%;
    }
  }

  &__container {
    width: 100%;
    margin: $space-none 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__default-text {
    width: 100%;
    color: $black;
    text-align: center;
  }

  &__span--right {
    text-align: right;
  }

  &__iphone-xr-xs {
    margin-right: $space-none;
  }

  &-vertical-scroll-contain { // There is also intro-modal-vertical-scroll-contain (CSS needs to be cleaned up)
    height: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
    overflow-x: hidden;
    @include breakpoints (small medium) {
      height: calc(90vh - 100px);
    }
  }
  &__calc-height {
    height: 420px;
    @include breakpoints (small medium) {
      height: calc(100vh - 50px);
    }
  }
}
