.intro-story {
  background-color: $gray-dark;
  padding: $space-none;
  height: 600px;
  width: 100%;
  color: $white;
  text-align: center;
  @include breakpoints (max large) {
    height: 100vh;
  }
  &__h1 {
    font-weight: 700;
    font-size: 30px;
    padding: $space-lg $space-none $space-md;
    @include breakpoints (max large) {
      font-size: 22px;
    }
  }
  &__h1--alt {
    font-weight: 700;
    font-size: 30px;
    padding-top: $space-lg;
    @include breakpoints (max large) {
      font-size: 22px;
    }
  }

  &__h2 {
    padding-top: $space-md;
    font-size: 20px;
    @include breakpoints (max large) {
      font-size: 18px;
    }
  }

  &__padding {
    padding: $space-md;
    @include breakpoints (max large) {
      padding-top: $space-md;
      padding-bottom: $space-md;
    }
  }

  &__padding-top {
    padding-top: $space-md;
  }

  &__padding--btm {
    padding-bottom: $space-lg;
  }

  &__padding-btn {
    padding-top: $space-lg;
    padding-bottom: $space-lg;
    @include breakpoints (max large) {
      padding-top: $space-lg;
      padding-bottom: $space-md;
    }
  }

  &__img-height {
    height: 200px;
    @include breakpoints (max mid-small) {
      height: 165px;
    }
  }

  &__img-height--extra {
    height: 225px;
    @include breakpoints (max mid-small) {
      height: 175px;
    }
  }

  &__img-width {
    width: 250px;
    @include breakpoints (max mid-small) {
      width: 200px;
    }
  }

  &__background {
    @include breakpoints (small) {
      height: 100vh;
      width: 100vw;
      background-size: cover;
    }
    @include breakpoints (large) {
      height: 600px;
      width: 100%;
      float: left; //This is important to ensure proper alignment with the parent div.
    }
  }

  &__menu-right {
    font-size: 2.5em;
    z-index: 3;
    top: 45%;
    right: 0;
    position: absolute;
    @include breakpoints (max mid-small) {
      display: none;
    }
  }
  &__menu-left {
    font-size: 2.5em;
    z-index: 3;
    top: 45%;
    left: 0;
    position: absolute;
    @include breakpoints (max mid-small) {
      display: none;
    }
  }

  &__footer {
    position: absolute;
    bottom: 20%;
    width: 100%;
    @include breakpoints (mid-small) {
      bottom: 10%;
    }
  }
}


.background--image1 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide1-flagpole-mountains-698x600.jpg');
  }
  @include breakpoints (large) {
    //Image for desktop has to be a very specific size otherwise it will tile or wrap
    // onto the next slide (due to div width of react-slick carousel) - approx 1000 width works fine
    background-image: url('/img/global/intro-story/slide1-flagpole-mountains-1000x600.jpg');
  }
}

.background--image2 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide2-lady-liberty-698x600.jpg');
  }
  @include breakpoints (large) {
    background-image: url('/img/global/intro-story/slide2-lady-liberty-1000x600.jpg');
  }
}

.background--image3 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide3-historic-place-698x600.jpg');
  }
  @include breakpoints (large) {
    background-image: url('/img/global/intro-story/slide3-historic-place-1000x600.jpg');
  }
}

.background--image4 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide4-working-together-698x600.jpg');
  }
  @include breakpoints (large) {
    background-image: url('/img/global/intro-story/slide4-working-together-1000x600.jpg');
  }
}

.background--image5 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide5-flagpole-698x600.jpg');
  }
  @include breakpoints (large) {
    background-image: url('/img/global/intro-story/slide5-flagpole-1000x600.jpg');
  }
}

.background--image6 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide6-flag-building-698x600.jpg');
  }
  @include breakpoints (large) {
    background-image: url('/img/global/intro-story/slide6-flag-building-1000x600.jpg');
  }
}

.background--image7 {
  @include breakpoints (small) {
    background-image: url('/img/global/intro-story/slide7-american-bicycle-698x600.jpg');
  }
  @include breakpoints (large) {
    background-image: url('/img/global/intro-story/slide7-american-bicycle-1000x600.jpg');
  }
}

// TODO Move to separate file if global, otherwise, rename to be scoped to this component '.intro-story__close-btn'
.x-close {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: $white;
  @include breakpoints (small mid-small) {
    height: 30px;
    width: 30px;
    padding: $space-xs;
  }
}

// Overrides

.story-view {
  .container-main {
    margin: $space-none;
    min-height: 100%;
    padding: $space-none;
  }

  .well {
    margin-bottom: $space-none;
    border: none;
  }
}

.slick-dots {
  bottom: 2em;
}

.facebook-intro-connect,
.twitter-intro-connect {
  flex: initial;
  max-width: initial;
}
