.intro-story {
  background-color: $gray-dark;
  padding: 0;
  height: 600px;
  width: 100%;
  color: #fff;
  text-align: center;
  @include breakpoints (max large){
    height: 100vh;
  }

}

.intro-story__h1 {
  font-weight: 700;
  font-size: 30px;
  padding: 40px 40px;
  @include breakpoints (max large){
    font-size: 22px;
  }
}

.intro-story__h1-alt {
  font-weight: 700;
  font-size: 30px;
  padding-top: 40px;
  @include breakpoints (max large){
    font-size: 22px;
  }
}

.intro-story__h2 {
  padding-top: 40px;
  font-size: 20px;
  @include breakpoints (max large){
    font-size: 19px;
  }
}

.intro-story__padding {
  padding: 40px;
  @include breakpoints (max large) {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

.intro-story__padding-top {
  padding-top: 15px;
}

.intro-story__padding--btm {
  padding-bottom: 30px;
}

.intro-story__padding-btn {
  padding-top: 40px;
  padding-bottom: 50px;
  @include breakpoints (max large) {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

.intro-story__img-height {
  height: 200px;
    @include breakpoints (max mid-small) {
      height: 150px;
  }
}

.intro-story__img-height--extra {
  height: 225px;
    @include breakpoints (max mid-small) {
      height: 150px;
  }
}

.intro-story__img-width {
  width: 250px;
    @include breakpoints (max mid-small) {
      width: 200px;
  }
}

.intro-story__background {
  @include breakpoints (small) {
    height: 100vh;
    width: 100vw;
    background-size: cover;
  }
  @include breakpoints (large) {
    height: 600px;
    width: 100%;
    float: left; //This is important to ensure proper alignment with the parent div.
  }
}

.background--image1 {
  @include breakpoints (small) {
    background-image: url("/img/global/intro-story/slide1-flagpole-mountains-698x600.jpg");
  }
  @include breakpoints (large) {
    //Image for desktop has to be a very specific size otherwise it will tile or wrap
    // onto the next slide (due to div width of react-slick carousel) - approx 1000 width works fine
    background-image: url("/img/global/intro-story/slide1-flagpole-mountains-1000x600.jpg");
  }
}

.background--image2 {
  @include breakpoints (small) {
    background-image: url("/img/global/intro-story/slide2-historic-place-698x600.jpg");
   }
    @include breakpoints (large) {
    background-image: url("/img/global/intro-story/slide2-historic-place-1000x600.jpg");
  }
}

.background--image3 {
  @include breakpoints (small) {
    background-image: url("/img/global/intro-story/slide3-working-together-698x600.jpg");
  }
    @include breakpoints (large) {
    background-image: url("/img/global/intro-story/slide3-working-together-1000x600.jpg");
  }
}

.background--image4 {
  @include breakpoints (small) {
    background-image: url("/img/global/intro-story/slide4-lady-liberty-698x600.jpg");
  }
    @include breakpoints (large) {
    background-image: url("/img/global/intro-story/slide4-lady-liberty-1000x600.jpg");
  }
}

.background--image5 {
  @include breakpoints (small) {
    background-image: url("/img/global/intro-story/slide5-flagpole-698x600.jpg");
  }
    @include breakpoints (large) {
    background-image: url("/img/global/intro-story/slide5-flagpole-1000x600.jpg");
  }
}

.background--image6 {
  @include breakpoints (small) {
    background-image: url("/img/global/intro-story/slide6-flag-building-698x600.jpg");
  }
    @include breakpoints (large) {
    background-image: url("/img/global/intro-story/slide6-flag-building-1000x600.jpg");
  }
}

.background--image7 {
  @include breakpoints (small) {
    background-image: url("/img/global/intro-story/slide7-american-bicycle-698x600.jpg");
  }
    @include breakpoints (large) {
    background-image: url("/img/global/intro-story/slide7-american-bicycle-1000x600.jpg");
  }
}

.intro-story__menu-right {
  font-size: 2.5em;
  z-index: 3;
  top: 45%;
  right: 0;
  position: absolute;
    @include breakpoints (max mid-small){
    display: none;
    }
}
.intro-story__menu-left {
  font-size: 2.5em;
  z-index: 3;
  top: 45%;
  left: 0;
  position: absolute;
    @include breakpoints (max mid-small){
    display: none;
    }
}

.intro-story__footer {
  position: absolute;
  bottom: 20%;
  width: 100%;
  @include breakpoints (mid-small){
    bottom: 10%;
    }
}

// TODO Move to separate file if global, otherwise, rename to be scoped to this component '.intro-tour__close-btn'
.x-close {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: #fff;
  @include breakpoints (small mid-small) {
    height: 30px;
    width: 30px;
    padding: 5px;
  }
}

// Overrides

.story-view {
  .container-main {
    margin: 0px;
    min-height: 100%;
    padding: 0px;
  }

  .well {
    margin-bottom: 0;
    border: 0;
  }
}

.slick-dots {
  bottom: 2em;
}

