// Issue related styles

.issue-icon-list {
  &__endorsements-label {
    display: flex;
    flex: none;
    align-items: center;
    padding: $space-xxs $space-xs;
    border-radius: $radius-rounded;
    border: 1px solid $gray-lighter;
    // background-color: $gray-lighter;
    margin-right: $space-xs;
  }
  &__endorsement-icon {
    padding: $space-none $space-xxs;
    box-sizing: border-box; // this shouldn't be necessary. Defaults are getting messed up.
  }
  &__endorsement-count {
    min-width: 1em;
    padding: $space-xxs;
    text-align: center;
    font-weight: bold;
    color: $gray-mid;
    margin-left: $space-xxs;
    background-color: $white;
    border-radius: $radius-rounded;
    display: flex;
    align-content: center;
  }
  &__issue-block {
    display: flex;
    flex: 1 0 auto;
    align-items: start;
  }
  &__issue-icon {
    color: $gray-mid;
    height: calc(24px + #{$space-xs});
    width: calc(24px + #{$space-xs});
    flex: none;
    margin-right: $space-xs;
    border: 1px solid $gray-mid;
    border-radius: $radius-rounded;
    padding: $space-xxs;
  }
  &__issue-label-name {
    color: $gray-mid;
    font-size: .7rem;
    text-transform: uppercase;
    min-width: 40px;
    max-width: 120px;
    // Trying to get name to wrap to two lines
    //height: 3em; /* height is 2x line-height, so two lines will display */
    //line-height: 1.5em;
    //overflow: hidden;  /* prevents extra lines from being visible */
    //width: 100px;
  }
}

.issues-list-stacked {
  $bar-height: 10px;
  $icon-size: 20px;
  position: relative;
  width: 100%;
  align-items: center;
  // flex: 5 0 130px;
  // min-width: 130px; // flex-basis not being respected (Chrome)

  &__bar {
    position: absolute;
    display: block;
    height: $bar-height;
    width: 0;
    transition: width .2s ease-out;
    box-sizing: content-box;
  }

  &__info-icon-for-popover {
    color: $gray-mid;
  }

  &__support,
  &__oppose {
    display: flex;
    align-items: center;
    flex: none;
  }

  &__more-opinions {
    color: $gray-mid;
  }

  &__support-score {
    color: $gray-dark;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__support-score-label,
  &__support-label {
    color: $gray-dark;
    font-size: .875rem;
    font-weight: 200;
    line-height: 1.2;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: $space-sm;
    flex: none;

    @include breakpoints (small mid-small) {
      font-size: .875rem;
    }
  }

  // Issues Display List

  &__support-list {
    $scrollbar-height: 21px;
    $list-height: 47px;
    $list-height-visible: $list-height - $scrollbar-height;
    $scroll-icon-margin: $space-none $space-sm;
    $scroll-icon-margin-small: $space-none 13px;
    $support-list-margin-left: $space-none;
    $support-list-margin-right: -16px;
    margin-left: $support-list-margin-left;
    margin-right: $support-list-margin-right;

    &__container-wrap {
      // height: $list-height-visible;
      flex-grow: 1;
    }

    &__container {
      // white-space: nowrap;
      // overflow-x: scroll; // Oct 2018 Causes problems with popover placement (card-popover related)
      // overflow-y: hidden; // Oct 2018 Causes problems with popover placement (card-popover related)
      height: $list-height;
    }

    &__items {
      padding: $space-none;
      margin-bottom: $space-md;
      list-style: none;
      display: inline-flex;
    }

    &__item {
      position: relative;
      display: inline-flex;
    }

    &__scroll-icon {
      color: $gray-mid;
      margin: $scroll-icon-margin;
      margin-top: $space-xs;
      @include breakpoints (medium) {
        margin-top: $space-md;
      }

      &--small {
        @include breakpoints (0 medium) {
          margin-top: $negative-space-sm;
        }
      }

      &--disabled {
        color: $transparent;
        margin: $scroll-icon-margin;
      }

      &--disabled-small {
        color: $transparent;
        margin: $scroll-icon-margin-small;
      }
    }
  }
}
