// Issue related styles
$menu-item-padding: 7px;

.issue-icon-list {
  &__endorsements-label {
    display: flex;
    flex: none;
    align-items: center;
    padding: $space-xxs $space-xs;
    border-radius: $radius-rounded;
    border: 1px solid $gray-light;
    // background-color: $gray-lighter;
    margin-right: $space-xs;
  }
  &__endorsement-icon {
    padding: $space-none $space-xxs;
    box-sizing: border-box; // this shouldn't be necessary. Defaults are getting messed up.
  }
  &__endorsement-count {
    min-width: 1em;
    padding: $space-xxs;
    text-align: center;
    font-weight: bold;
    color: $gray-mid;
    margin-left: $space-xxs;
    background-color: $white;
    border-radius: $radius-rounded;
    display: flex;
    align-content: center;
  }
  &__issue-block {
    display: flex;
    flex: 1 0 auto;
    align-items: start;
  }
  &__issue-icon {
    color: $gray-mid;
    font-weight: 900;
    height: calc(16px + #{$space-xs});
    width: calc(16px + #{$space-xs});
    flex: none;
    margin-right: $space-xs;
    padding: $space-xxs;
  }
  &__issue-label-name {
    $issue-label-name-padding: 6px;
    color: $gray-dark;
    font-size: .7rem;
    padding-top: $issue-label-name-padding;
  }
}

.issues-list-stacked {
  $bar-height: 10px;
  $icon-size: 20px;
  position: relative;
  width: 100%;
  align-items: center;

  &__bar {
    position: absolute;
    display: block;
    height: $bar-height;
    width: 0;
    transition: width .2s ease-out;
    box-sizing: content-box;
  }

  &__info-icon-for-popover {
    color: $gray-mid;
  }

  &__support,
  &__oppose {
    display: flex;
    align-items: center;
    flex: none;
  }

  &__more-opinions {
    color: $gray-mid;
  }

  &__support-score {
    color: $gray-dark;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__support-score-label,
  &__support-label {
    color: $gray-dark;
    font-size: .875rem;
    font-weight: 200;
    line-height: 1.2;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: $space-sm;
    flex: none;

    @include breakpoints (small mid-small) {
      font-size: .875rem;
    }
  }

  // Issues Display List

  &__support-list {
    $scrollbar-height: 21px;
    $list-height: 47px;
    $list-height-visible: $list-height - $scrollbar-height;
    $scroll-icon-margin: $space-none $space-sm;
    $scroll-icon-margin-small: $space-none 13px;
    $support-list-margin-left: $space-none;
    $support-list-margin-right: -16px;
    margin-left: $support-list-margin-left;
    margin-right: $support-list-margin-right;

    &__container-wrap {
      // height: $list-height-visible;
      flex-grow: 1;
    }

    &__container {
      // white-space: nowrap;
      // overflow-x: scroll; // Oct 2018 Causes problems with popover placement (card-popover related)
      // overflow-y: hidden; // Oct 2018 Causes problems with popover placement (card-popover related)
      height: $list-height;
    }

    &__items {
      padding: $space-none;
      margin-bottom: $space-md;
      list-style: none;
      display: inline-flex;
    }

    &__item {
      position: relative;
      display: inline-flex;
    }

    &__scroll-icon {
      color: $gray-mid;
      margin: $scroll-icon-margin;
      margin-top: $space-xs;
      @include breakpoints (medium) {
        margin-top: $space-md;
      }

      &--small {
        @include breakpoints (0 medium) {
          margin-top: $negative-space-sm;
        }
      }

      &--disabled {
        color: $transparent;
        margin: $scroll-icon-margin;
      }

      &--disabled-small {
        color: $transparent;
        margin: $scroll-icon-margin-small;
      }
    }
  }
}

.issues-follow-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 32px !important;
}

.dropdown-toggle::after {
  position: absolute;
  font-size: 16px;
  top: calc(50% - 1px);
  right: calc((35px / 2px) - 6px);
}

.issues-follow-btn {
  height: 100% !important;
  min-width: 0 !important;
  font-size: 12.5px !important;
  padding-left: $space-none !important;
  padding-right: $space-none !important;
  max-height: none !important;
  &--blue {
    background: $brand-blue !important;
    color: $white !important;
  }
  &--white {
    color: $selected-color !important;
    background: white !important;
    font-weight: 600 !important;
  }
  &__main {
    height: 32px !important;
    border-radius: $radius-sm3 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: 1px solid $gray-light !important;
    border-right: none !important;
    padding: $space-xs $space-sm !important;
    flex: 1 0 0 !important;
    text-align: center !important;
    &--radius {
      border-radius: $outline-radius !important;
      border: 1px solid $gray-light !important;
      .issues-follow-btn__dropdown {
        display: none;
      }
    }
    &--radius.dropdown-toggle::after {
      display: none !important;
      font-size: 0 !important;
    }
  }
  &__seperator {
    display: inline-block;
    height: 65%;
    top: 17.5%;
    width: 1px;
    background: rgb(187, 187, 187);
    z-index: 1;
    position: absolute;
    right: 32.98px;
  }
  &__dropdown {
    display: inline-block !important;
    border-radius: $radius-sm3 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    width: 35px !important;
    min-width: 35px !important;
    padding: $space-xs $space-sm !important;
    height: 100% !important;
    vertical-align: middle !important;
    border: 1px solid $gray-light !important;
    border-left: none !important;
  }
  &__dropdown ::after {
    font-size: 16px !important;
  }
  &__icon svg {
    width: 18px !important;
    height: 18px !important;
  }
  &__menu {
    font-size: 12.5px !important;
    position: absolute !important;
    width: 140px !important;
    min-width: 0 !important;
    max-width: 140px !important;
    padding: $space-none !important;
    z-index: 999 !important;
    left: 16px !important;
  }
  &__menu * {
    width: 140px !important;
    max-width: 140px !important;
  }
  &__menu-item {
    padding: $menu-item-padding $space-none !important;
    border-radius: $space-none !important;
  }
  &[disabled] {
    background: $white;
  }
}

.follow-toggle {
  &__values {
    margin-left: $space-auto;
    @include breakpoints (medium) {
      position: absolute;
      right: 0;
      height: 46px;
      .issues-follow-container {
        height: 100% !important;
      }
      .issues-follow-btn {
        height: 100% !important;
        border-radius: $outline-radius !important;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
      }
    }
  }
}

.card-main {
  position: relative !important;
  overflow: auto !important;
}

.dropdown-divider {
  margin: $space-none auto !important;
  width: 75% !important;
  border: none !important;
  height: 1px !important;
  background: $gray-light !important;
}
