
@include media-object(".position-statement", ".position-statement__avatar", ".position-statement__input-group");

.position-statement {
  display: flex;
  flex: 1 1 100%;
  margin-top: 5px;
  width: 100%;

  &__avatar {
    overflow: hidden;
    border-radius: 3px;
    background: #fff;
    height: 34px;
    width: 34px;
    display: inline-block;
    flex-shrink: 0;
  }

  &__input-group {
    display: flex;
  }

  &__input {
    margin-right: 8px;
  }

  &__container {
    background-color: $pale-gray;
    margin-top: 1em;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-right: -15px;
    margin-bottom: -10px;
    margin-left: -15px;

    .inline-phone:hover {
      cursor: pointer;
    }
  }

  &__outer-div {

  }

  &__btn {
    // currently uses Bootstrap .bs-btn styling
    margin-right: 8px;

    &--position-selected {
      color: $selected-color;
    }
  }

  &__speaker-name {
    font-weight: bold;
  }

  &--truncated {
    $line-height: 25px;
    $text-container-height: $line-height * 3;
    $edit-position-width: 7em;
    overflow: hidden;
    position: relative;
    height: $text-container-height;
    line-height: $line-height;

    &::before {
      content:"";
      float: left;
      width: 5px;
      height: $text-container-height;
    }

    > *:first-child {
      float: right;
      width: 100%;
      margin-left: -5px; }

    &::after {
      content: "\00A0 Edit";

      box-sizing: content-box;
      float: right;
      position: relative;
      top: -$line-height;
      left: 100%;
      width: $edit-position-width;
      margin-left: -$edit-position-width;
      padding-right: 5px;
      text-align: right;
      background-size: 100% 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white 15%, white);
      font-style: normal;
      color: $link-color;
      cursor: pointer;
    }
  }
}

.position-statement__edit-position-link {
  @include hide-text;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.position-statement__edit-position-link-long {
  color: $link-color;
}
