
// This style is for when the item-actionbar is on its own line
.item-actionbar {
  display: flex;
  border-top: 1px solid $gray-lighter;
  margin: $space-md $space-none;
  padding-top: $space-sm;

  &__position-btn-label {
    color: $gray-mid;
    @include breakpoints (max mid-small) {
      display: none; // Hide Support/Oppose button labels on small screens
    }
  }

  &__position-at-state {
    color: $gray-pale;
  }

  .support-at-state {
    background-color: $green;
  }

  .oppose-at-state {
    background-color: $red;
  }
}


// This style is for when the item-actionbar is added to a line with other elements (like for a candidate on ballot page)
.item-actionbar--inline {
  display: flex;
  padding-top: $space-none;
  justify-content: flex-end;
  flex: auto;

  &__position-btn-label {
    //@include breakpoints (max large) {
    display: none; // Hide Support/Oppose button labels on all screens
    //}
  }

  .btn-group {
    display: flex;
    flex-wrap: nowrap;
  }

  .support-at-state {
    background-color: $green;
  }

  .oppose-at-state {
    background-color: $red;
  }
}
