
// This style is for when the item-actionbar is on its own line
.item-actionbar {
  display: flex;
  border-top: 1px solid $gray-lighter;
  margin: $space-md $space-none;
  padding-top: $space-sm;

  &__position-bar {
    display: flex;
    align-items: center;
    margin-bottom: $space-sm;

    &--mobile {
      @include breakpoints (max small-bootstrap) {
        display: flex !important;
      }
    }
  }

  &__position-btn-label {
    color: $link-color;
    text-transform: uppercase;

    &--at-state {
      color: $white;
      text-transform: uppercase;
    }
  }

  &__position-choose-btn-label {
    color: $link-color;
    text-transform: uppercase;

    &--at-state {
      // color: $white;
      text-transform: uppercase;
    }
  }

  &__following-text {
    margin-left: $space-sm;
  }

  .support-at-state {
    color: $white;
    background-color: $green;
  }

  .oppose-at-state {
    background-color: $red;
  }
}


// This style is for when the item-actionbar is added to a line with other elements (like for a candidate on ballot page)
.item-actionbar--inline {
  display: flex;
  padding-top: $space-none;
  justify-content: flex-end;
  flex: auto;

  &__position-btn-label {
    color: $link-color;
    text-transform: uppercase;

    &--at-state {
      color: $white;
      text-transform: uppercase;
    }
  }

  &__position-choose-btn-label {
    color: $link-color;
    text-transform: uppercase;

    &--at-state {
      // color: $white;
      text-transform: uppercase;
    }
  }

  .btn-group {
    display: flex;
    flex-wrap: nowrap;
  }

  .support-at-state {
    color: $white;
    background-color: $green;
    border-color: $green;
  }

  .oppose-at-state {
    background-color: $red;
  }
}
