.item-actionbar .inline-phone:hover {
  cursor: pointer;
}

.candidate-card-position-public-toggle {
  flex-grow: 10; // arbitrary value large enough to fill space
  text-align: right;

}

.item-actionbar {
  display: flex;
  border-top: 1px solid #DDD;
  margin: 1em 0 0;
  padding-top: 10px;

  &__btn {
    // currently uses Bootstrap .btn styling
    margin-right: 8px;

    &--position-selected {
      color: $selected-color;
    }
  }

  &__btn-public {
    // currently uses Bootstrap .bs-btn styling
    margin-right: 8px;

    &--position-selected {
      color: $selected-color;
    }
  }

}
