

.item-actionbar {
  display: flex;
  border-top: 1px solid $gray-lighter;
  margin: 1em 0;
  padding-top: 10px;

  &__position-btn-label {
    @include breakpoints (max mid-small) {
      display: none; // Hide Support/Oppose button labels on small screens
    }
  }
}
