.item-actionbar .inline-phone:hover {
  cursor: pointer;
}
.item-actionbar, .item-actionbar2 {
  border-top: 1px solid #DDD;
  padding:10px 5px;

  .action {
    width: 25%;
  }
  .support-emphasis {
    color: rgba(63,191,63, 1);
  }
  .oppose-emphasis {
    color: rgba(215, 73, 55, 1);
  }

  @media all and (max-width: 480px) {
    .inline-phone {
      font-size: .9em;
    }
  }

}
