.background-brand-blue {
  .modal-content {
    background: $brand-blue;
    background: -moz-linear-gradient(-45deg, $brand-blue 0%, #11758e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, $brand-blue 0%, #11758e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, $brand-blue 0%, #11758e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
