$margin-around-textarea: .1em;
$padding-within-textarea: .5rem .7em;

.code-copier {
  background-color: $white;
  box-shadow: 2px 2px 4px 2px $gray-light;
  margin-bottom: $space-lg;
  padding: $space-md $space-md $space-md $space-md;
  text-align: center;
  min-height: 21rem;

  &__image {
    width: 100%;
  }

  &__link {
    color: $gray-mid;
    text-decoration: underline;
  }

  &__status-success {
    color: $green;
  }

  &__status-error {
    color: $red;
  }
}

.textarea-clipboard {
  -webkit-appearance: none;
  background-color: $white;
  border: 1px solid $gray-darker;
  border-radius: $radius-none;
  box-sizing: border-box;
  color: $text-color;
  cursor: auto;
  display: block;
  flex-direction: column;
  font-size: 1rem;
  height: 8rem;
  line-height: 1.3;
  margin: $margin-around-textarea;
  // max-width: 46rem;
  outline: none;
  padding: $padding-within-textarea;
  resize: none;
  user-select: text;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}
