$icon-color-base: $gray-mid;
$icon-color-active: $link-color;
$icon-color-hover: $gray-dark;
$glyph-icon-color: $brand-blue;
$header-height: 54px;
$header-height-cordova-ios: 70px;
$header-height-cordova-ios-iphone-xr: 60px;
$header-height-cordova-android: 50px;
$header-height-secondary-nav: 104px;
$header-height-secondary-nav-iphone-xr: 60px;
$nav-item-secondary-nav-background-hover-color: darken($page-header-secondary-nav-background-color, 5%);
$nav-item-secondary-nav-background-active-color: darken($page-header-secondary-nav-background-color, 10%);
$footer-menu-margin: 130px;
$space-hamburger: 5px;
$hamburger-table-menu-margin: 2em;
$transparent-background: transparent;
$container-margin: -15px;

// Header Nav
// ================================

.profile-menu,
.about-menu {
  max-width: 320px;
  position: absolute;
  top: 50px;
  right: 15px;
  background-color: $white;
  opacity: 0;
  padding: $space-md;
  transition: opacity .25s ease-in-out;
  z-index: 2;
  pointer-events: none;
}

.about-us,
.Donate,
.gettingStarted {
  @include breakpoints(max mid-small) {
    margin-right: $container-margin !important;
    margin-left: $container-margin !important;
  }
}

.profile-foot-menu {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 70px !important;
  bottom: 50px !important;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: $white;
  pointer-events: none;
  transition: 10s ease-in-out;
}

// This is the little triangular arrow, https://css-tricks.com/snippets/css/css-triangle/
.profile-menu::before,
.about-menu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  right: 10px;
  top: -16px;
}

.page-overlay {
  position: fixed;
  width: 200vw;
  height: 200vh;
  top: -10px;
  left: -10px;
  background-color: $modal-backdrop-color;
  z-index: 2;
  pointer-events: none;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}

// css for the Slider, which is commented out 3/8/18
.page-overlay-slidein {
  position: fixed;
  width: 200vw;
  height: 200vh;
  top: -10px;
  left: -10px;
  background-color: $transparent-background;
  z-index: 2;
  pointer-events: none;
  // background: none !important;
  //transition: opacity .4s ease-in-out;
  //opacity: 0;
}

.profile-menu--open .page-overlay,
.profile-foot-menu--open .page-overlay,
.about-menu--open .page-overlay {
  opacity: 1;
  pointer-events: all;
}

.profile-menu--open .profile-menu,
.profile-foot-menu--open .profile-foot-menu,
.about-menu--open .about-menu {
  opacity: 1;
  pointer-events: all;
}

.headroom-wrapper {
  margin-top: $header-height;
  &__cordova-ios {
    margin-top: $header-height-cordova-ios;
  }
  &__cordova-android {
    margin-top: $header-height-cordova-android;
  }
}

.footroom-wrapper {
  margin-bottom: $header-height;
  &__hide {
    display: none;
  }
}

.headroom-secondary-nav__margin {
  @include print {
    margin-top: $space-none;
  }
  margin-top: $header-height-secondary-nav;
}

.headroom-secondary-nav__margin-iphone-xr {
  @include print {
    margin-top: $space-none;
  }
  margin-top: $header-height-secondary-nav-iphone-xr;
}

.nav-secondary-nav__image {
  height: 28px;
  &--fade {
    @extend .nav-secondary-nav__image;
    opacity: .3;
  }
  &--checked {
    height: 16px;
    top: 2px;
    position: absolute;
    z-index: 999;
    right: 12px;
    border-radius: $radius-md;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, .4);
    @include breakpoints(max iphone5) {
      right: $space-none;
    }
  }
}

.header-nav {
  $nav-item-hover-color: darken($page-header-color, 5%);
  $nav-item-active-color: darken($page-header-color, 10%);
  display: flex;
  align-items: center;

  &__label {
    display: block;
    font-size: 10px;
  }

  &__sign-in-label {
    font-size: 14px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 60px;
    height: $header-height;
    padding: $space-sm;
    color: $white;
    opacity: .9;
    text-align: center;

    &:active,
    &.active-icon,
    &:focus,
    &:hover {
      color: $white;
      cursor: pointer;
      opacity: 1;
      text-decoration: none;
    }

    &:active,
    &.active-icon {
      background-color: $nav-item-active-color;
    }

    &:hover {
      background-color: $nav-item-hover-color;
    }
    //
    //&--ballot {
    //  color: red;
    //}

    &.donate {
      padding: $space-none;
      & > .glyphicon {
        max-width: 100%;
        width: 29px;
      }
    }
  }
  .nav-icon {
    font-size: 1rem;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    &--about {
      font-size: .8rem;
    }
    &--ballot {
      justify-content: center;
    }
  }

  &__avatar {
    border-radius: $radius-sm;
    background: #fff;
    overflow: hidden;
    height: 34px;
    width: 34px;
    display: block;
    @include breakpoints(max mid-small) {
      margin-top: $space-xs;
      margin-bottom: $space-xs;
    }
  }

  &__avatar-iphone-xr {
    overflow: unset;
  }

  &__avatar-wrapper {
    z-index: 3; //to float above the account/ProfilePopUp menu option grey div
  }
  &__cordova {
    margin-right: $space-md;
  }
}


.header-secondary-nav {
  $nav-item-secondary-nav-background-hover-color: darken($page-header-secondary-nav-background-color, 5%);
  $nav-item-secondary-nav-background-active-color: darken($page-header-secondary-nav-background-color, 10%);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  &__label {
    display: block;
    color: $gray-dark;
    font-size: 10px;
    &--fade {
      @extend .header-secondary-nav__label;
      opacity: .5;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 48px;
    padding: $space-none;
    color: $glyph-icon-color;
    opacity: .8;
    text-align: center;

    @include breakpoints(small mid-small) {
      width: 65px;
    }

    &:active,
    &.active-icon,
    &:focus,
    &:hover {
      color: $gray-dark;
      opacity: 1;
      text-decoration: none;
    }

    &:active,
    &.active-icon {
      background-color: $nav-item-secondary-nav-background-active-color;
    }

    &:hover {
      background-color: $nav-item-secondary-nav-background-hover-color;
    }
  }

  &__item-image-wrapper {
    height: 24px;
    @include breakpoints(small mid-small) {
      // transform: scale(.8);
    }
  }
  .fa { // override to customize Font Awesome icon size in Secondary nav
    font-size: 1.5rem;
  }

  .nav-icon {
    font-size: 1rem;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__iphone-x-vertical-spacing {
    margin-top: 18px;
  }
}

.hamburger {
  $nav-item-active-color: darken($page-header-color, 10%);
  $hamburger-space: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: $header-height;
  color: $white !important;
  opacity: .8;
  margin-bottom: -.5em; // stylelint-disable-line sh-waqar/declaration-use-variable

  &.active-icon {
    color: $gray-dark;
    opacity: .9;
    text-decoration: none;
    background-color: $nav-item-active-color !important;
  }
}

.hamburger-menu {
  background-color: $white;
  &__table {
    border-top: 40px;
    width: 90%;
    margin-left: $hamburger-table-menu-margin;
    border-top-color: $white;
  }
  &__tr {
    height: 50px;
    border-bottom: 1px solid #e7e7e7;
  }
  &__td-0 {
    padding-left: $space-md !important;
    vertical-align: middle !important;
    max-width: 2.2em;
  }
  &__td-1 {
    font-size: 1.3rem;
    vertical-align: middle !important;
    max-width: 1.3em;
  }
  &__td-2 {
    font-size: 1.3rem;
    vertical-align: middle !important;
  }
  &__td-3 {
    vertical-align: middle !important;
    font-size: 1.3rem;
  }
  &__td-4 {
    vertical-align: middle !important;
    width: 10%;
  }
}

.hamburger-terms {
  $terms-top: 23px;
  $blue: blue;
  &__tr {
    height: 50px !important;
  }

  &__td {
    padding-left: $space-md !important;
    padding-bottom: $space-sm !important;
    padding-top: $terms-top !important;
    margin-left: $hamburger-table-menu-margin;
  }

  &__text {
    font-weight: 300;
    font-size: 13pt;
  }
}
