$icon-color-base: $gray-mid;
$icon-color-active: $link-color;
$icon-color-hover: $gray-dark;
$header-height: 54px;
$header-height-getting-started: 112px;

// Header Nav
// ================================

.account-menu,
.about-menu {
  max-width: 320px;
  position: absolute;
  top: 50px;
  right: 15px;
  background-color: $white;
  opacity: 0;
  padding: $space-md;
  transition: opacity .25s ease-in-out;
  z-index: 2;
  pointer-events: none;
}

.account-menu::before,
.about-menu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  right: 10px;
  top: -16px;
}

.page-overlay {
  position: fixed;
  width: 200vw;
  height: 200vh;
  top: -10px;
  left: -10px;
  background-color: $modal-backdrop-color;
  z-index: 2;
  pointer-events: none;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}

.account-menu--open .page-overlay,
.about-menu--open .page-overlay {
  opacity: 1;
  pointer-events: all;
}

.account-menu--open .account-menu,
.about-menu--open .about-menu {
  opacity: 1;
  pointer-events: all;
}

.headroom-wrapper {
  margin-top: $header-height;
}

.headroom-getting-started__margin {
  margin-top: $header-height-getting-started;
}

.nav-getting-started__image {
  height: 26px;
}

.header-nav {
  $nav-item-hover-color: darken($page-header-color, 5%);
  $nav-item-active-color: darken($page-header-color, 10%);
  display: flex;
  align-items: center;

  &__label {
    display: block;
    font-size: 10px;
  }

  &__sign-in-label {
    font-size: 14px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 60px;
    height: $header-height;
    padding: $space-sm;
    color: $white;
    opacity: .8;
    text-align: center;
    // temporary offsets for .page-header__container padding
    margin-top: -.5em; // stylelint-disable-line sh-waqar/declaration-use-variable
    margin-bottom: -.5em; // stylelint-disable-line sh-waqar/declaration-use-variable
    // &--has-icon {
    //   justify-content: space-between;
    // }

    &:active,
    &.active-icon,
    &:focus,
    &:hover {
      color: $white;
      opacity: 1;
      text-decoration: none;
    }

    &:active,
    &.active-icon {
      background-color: $nav-item-active-color;
    }

    &:hover {
      background-color: $nav-item-hover-color;
    }

    &.donate {
      padding: $space-none;
      & > .glyphicon {
        max-width: 100%;
        width: 29px;
      }
    }
  }
  .nav-icon {
    font-size: 1rem;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon--about {
    padding: $space-xxs;
  }

  &__avatar {
    border-radius: $radius-sm;
    background: #fff;
    overflow: hidden;
    height: 34px;
    display: block;
  }
  &__avatar-wrapper {
    z-index: 3; //to float above the account menu option grey div
  }
}


// Custom styling for ba
.header-nav {
  .badge-total {
    $badge-color: #db4437;
    left: 1em;
    position: absolute;
    top: -7px;
    font-family: $body-font-stack;
    background-color: $badge-color; // Override for Bootstrap class .badge
  }
}

.header-getting-started-nav {
  $nav-item-getting-started-background-hover-color: darken($page-header-getting-started-background-color, 5%);
  $nav-item-getting-started-background-active-color: darken($page-header-getting-started-background-color, 10%);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  &__label {
    display: block;
    color: $gray-dark;
    font-size: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 48px;
    padding: $space-none;
    color: $gray-dark;
    opacity: .8;
    text-align: center;
    // temporary offsets for .page-header__container padding
    margin: -8px $space-none; // stylelint-disable-line sh-waqar/declaration-use-variable

    &-image-wrapper {
      height: 29px;
    }

    &:active,
    &.active-icon,
    &:focus,
    &:hover {
      color: $gray-dark;
      opacity: 1;
      text-decoration: none;
    }

    &:active,
    &.active-icon {
      background-color: $nav-item-getting-started-background-active-color;
    }

    &:hover {
      background-color: $nav-item-getting-started-background-hover-color;
    }
  }
  .nav-icon {
    font-size: 1rem;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
