$full-width: 100%;
$minus-full-width: -$full-width;
$address-margin: 26px 26px 0 0;
$address-margin-xs: -4px 0 8px 0;
$tabs-background-padding: 16px 16px 0 16px;
$tab-padding: 0 0 4px 0;
$tab-spacing: 24px;
$transparent: transparent !important;

.network {
  &__tabs-background {
    background-color: $white;
    border-bottom: 1px solid #aaa;
    padding: $tabs-background-padding;
  }

  &__tabs {
    padding-left: $full-width;
    margin-left: $minus-full-width;
    padding-right: $full-width;
    margin-right: $minus-full-width;
    overflow: hidden;

    .tab {
      padding: $tab-padding;
      margin-right: $tab-spacing;
      float: left;
    }

    .tab-active {
      border-bottom: 2px solid $black;
      color: $black;
    }

    .tab-default {
      color: $gray-mid;
    }

    a:focus,
    a:hover {
      background-color: $transparent;
    }
  }
}
