$button-div-max-width: 240px;
$button-margin-horizontal: 10px;
$description-margin-top: 10px;
$social-left-padding-mobile: 40px;
$social-right-padding-mobile: 9px;
$network-card-margin-mobile: (-$space-md) (-$space-md) $space-none (-$space-md);

.buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .network-btn {
    display: inline-block;
    max-width: $button-div-max-width;
    margin-right: $button-margin-horizontal;
    margin-left: $button-margin-horizontal;
  }
  .mobile-container {
    display: none;
  }
}

@media (max-width: 767px) {
  .network-btn {
    display: inline-block;
    margin-left: $button-margin-horizontal / 2;
  }
  .mobile-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    .btn-social {
      width: 100%;
      padding-left: $social-left-padding-mobile;
      padding-right: $social-right-padding-mobile;
    }
  }
}

.social-btn-description {
  margin-top: $description-margin-top;
  word-wrap: break-word;
  float: left;
  text-align: left;
}

// Network: list of issues to follow

.network-issues-list {
  padding: $space-none;

  .intro-modal__square {
    float: left;
    color: $white;
  }

  .intro-modal__square-name {
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;
    font-size: 1rem;
    word-wrap: break-word;
    color: $white;
    text-shadow: 1px 1px 2px rgba($black, .6);

    @include breakpoints (xsmall-bootstrap medium-bootstrap) {
      right: 8px;
      bottom: 8px;
      left: 8px;
      font-size: .9rem;
    }

    @include breakpoints (iphone5 mid-small) {
      right: 10px;
      bottom: 10px;
      left: 10px;
      font-size: .9rem;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    @include breakpoints (max iphone5) {
      right: 8px;
      bottom: 8px;
      left: 8px;
      font-size: .85rem;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }
}

.network__card {
  @include breakpoints (max mid-small) {
    margin: $network-card-margin-mobile;
  }
}
