// Network Positions bar (ItemSupportOpposeCounts)

.network-positions {
  $bar-height: 10px;
  $icon-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex: 5 0 130px;
  min-width: 130px; // flex-basis not being respected (Chrome)

  &__bar-well {
    display: block;
    position: relative;
    margin-right: $space-sm;
    margin-left: $space-sm;
    flex: 5 0 48px;
    height: $bar-height;
    border-radius: $radius-rounded;
    background-color: $gray-light;
    overflow: hidden;
  }

  &__bar-label {
    position: absolute;
    margin-top: $icon-size;
    width: 100%;
    text-align: center;
    color: $gray-mid;
    @include breakpoints(max 300px) {
      display: none;
    }
  }

  &__bar {
    position: absolute;
    display: block;
    height: $bar-height;
    width: 0;
    transition: width .2s ease-out;
    box-sizing: content-box;
  }

  &__support,
  &__oppose {
    display: flex;
    align-items: center;
    flex: none;
  }

  &__count {
    text-align: center;
    color: $gray-dark;
  }

  &__bar--support {
    left: 0;
    background-color: $green;
    background: linear-gradient(to bottom, $green, darken($green, 5%)); // stylelint-disable-line declaration-block-no-shorthand-property-overrides
    border-right: 2px solid #fff;
  }

  &__bar--oppose {
    right: 0;
    background-color: $red;
    background: linear-gradient(to bottom, $red, darken($red, 5%)); // stylelint-disable-line declaration-block-no-shorthand-property-overrides
    border-left: 2px solid #fff;
  }

  &__support-score {
    font-size: 2rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
  }

  &__show-support-underline {
    border-bottom: solid;
    border-bottom-color: $support-green;
  }

  &__show-oppose-underline {
    border-bottom: solid;
    border-bottom-color: $oppose-red;
  }

  &__to-follow-fade {
    opacity: .4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
  }

  &__to-follow-fade:hover {
    opacity: .6;
    // filter: alpha(opacity=100); /* For IE8 and earlier */
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }
}

.network-positions-stacked {
  $bar-height: 10px;
  $icon-size: 20px;
  position: relative;
  align-items: center;
  // flex: 5 0 130px;
  // min-width: 130px; // flex-basis not being respected (Chrome)

  &__bar {
    position: absolute;
    display: block;
    height: $bar-height;
    width: 0;
    transition: width .2s ease-out;
    box-sizing: content-box;
  }

  &__info-icon-for-popover {
    color: $gray-mid;
  }

  &__support,
  &__oppose {
    display: flex;
    align-items: center;
    flex: none;
  }

  &__more-opinions {
    color: $gray-mid;
  }

  &__support-score {
    color: $gray-dark;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__support-score-label,
  &__support-label {
    color: $gray-dark;
    font-size: .875rem;
    font-weight: 200;
    vertical-align: middle;
    @include breakpoints (small mid-small) {
      font-size: .675rem;
    }
  }

  // Tiny Organization Position Breakdown List

  &__support-list {
    $scrollbar-height: 21px;
    $list-height: 60px;
    $list-height-visible: $list-height - $scrollbar-height;
    $scroll-icon-margin: 6px $space-none $space-none $space-sm;

    &-container-wrap {
      box-sizing: content-box;
      overflow: hidden;
      height: $list-height-visible;
    }

    &-container {
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      height: $list-height;
    }

    &-items {
      padding: $space-none;
      list-style: none;
    }

    &-item {
      position: relative;
      display: inline-block;
      float: none;
    }

    &-scroll-icon {
      color: $gray-mid;
      margin: $scroll-icon-margin;
    }
  }
}

.red-bar { background-color: $red; }
.green-bar { background-color: $green; }
