// Organization Item, (Org 'Card')
// TODO Refactor to merge styles with .card

@include media-object('.organization-item', '.organization-item__avatar', '.organization-item__content');


.organization-item {
  @include list-item-card;

  &__container {
    @include card-container;
  }

  &__list-group {
    @include list-item-group;
  }

  &__avatar {
    @include list-item-avatar;
  }

  &__content {
    @include list-item-content;
  }

  &__additional {
    @include list-item-additional;
  }

  &__follow-buttons {
    display: flex;
    align-items: flex-end;
    .btn {
      margin: 0 5px 0 0;
    }
    @include breakpoints(medium) {
      flex-direction: column;
      .btn {
        margin: 0 0 5px;
      }
    }
  }
}


.org-ignore-enter {
  opacity: 0.01;
}

.org-ignore-enter.org-ignore-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.org-ignore-leave {
  opacity: 1;
}

.org-ignore-leave.org-ignore-leave-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in;
}
