// Organization Item, (Org 'Card')

@include media-object('.organization-item', '.organization-item__avatar', '.organization-item__content');

.organization-item {
  @include list-item-card;
}

.organization-item__avatar {
  @include list-item-avatar;
}

.organization-item__additional {
}
.organization-item__follow-buttons {
  display: inline-block;
  > * {
    margin-right: 5px;
  }
  // position to the right of text, then collapse underneath with less space
}


.org-ignore-enter {
  opacity: 0.01;
}

.org-ignore-enter.org-ignore-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.org-ignore-leave {
  opacity: 1;
}

.org-ignore-leave.org-ignore-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
