// Position Item

@include media-object('.position-item', '.position-item__avatar', '.position-item__content');

.position-item {
  @include list-item-card;

  .star-action {
    top: 15px;
    right: 10px;
  }
}

.position-item__avatar {
  @include list-item-avatar;
}

.position-item__display-name {
  margin-bottom: .2em;
}


// Explicit Positions

@include media-object('.explicit-position', '.explicit-position__icon', '.explicit-position__text', $margin: 5px);

.explicit-position__icon {
  margin-top: 2px;
}

.explicit-position__text {
  padding-top: .2em;
  color: $dark-gray;
}

.explicit-position__position-label {
  font-weight: bold;
}

.explicit-position__source {
  color: $mid-gray;
}


// Position Ratings

.position-rating__percentage {
  font-family: $heading-font-stack;
  font-size: 18px;
}

.position-rating__source {
  color: $mid-gray;
}

@include media-object('.position-rating', '.position-rating__icon', '.position-rating__text', $margin: 5px)
.position-rating__icon {
  margin-top: 2px;
}


.position-rating__candidate-name {
  font-family: $heading-font-stack;
  font-size: 18px;
}