// Positions: Explicit & Ratings


// Explicit Positions

@include media-object('.explicit-position', '.explicit-position__icon', '.explicit-position__text', $margin: 5px);

.explicit-position {
  &__icon {
    margin-top: $space-xxs;
  }

  &__text {
    padding-top: $space-xs;
    color: $gray-dark;
  }

  &__position-label {
    font-weight: bold;
  }

  &__source {
    color: $gray-mid;
  }

  &__media-player {
    max-width: 300px;
    max-height: 231px;
  }

  &__voter-guide-increase {
    font-size: 1.15rem;
  }
}

// Position Ratings

@include media-object('.position-rating', '.position-rating__icon', '.position-rating__text', $margin: 5px);

.position-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end !important;

  &__icon {
    margin: $space-xs;
  }

  &__rating {
    color: $popover-link-color;
  }

  &__percentage {
    font-family: $heading-font-stack;
    font-size: 18px;
  }

  &__source {
    color: $gray-mid;
  }

  &__candidate-name {
    font-family: $heading-font-stack;
    font-size: 18px;
  }
}


// =====================================
// TODO: Jeff - these styles should be melted down (globalize or abstract)

.with-popover {
  color: $popover-link-color;
  &:hover {
    cursor: pointer;
  }
}
.organization-position-item-toggle {
  position: absolute;
  right: 40px;
  top: 17px;
}

.edit-position-action {
  &:hover {
    cursor: pointer;
  }
}

.toggle-override {
  .react-toggle-track-x {
    margin-top: 2px;
  }
  .react-toggle-track-check {
    margin-top: 2px;
  }
}
