// Positions: Explicit & Ratings


// Explicit Positions

@include media-object('.explicit-position', '.explicit-position__icon', '.explicit-position__text', $margin: 5px);

.explicit-position__icon {
  margin-top: 2px;
}

.explicit-position__text {
  padding-top: .2em;
  color: $gray-dark;
}

.explicit-position__position-label {
  font-weight: bold;
}

.explicit-position__source {
  color: $gray-mid;
}

// Position Ratings

@include media-object('.position-rating', '.position-rating__icon', '.position-rating__text', $margin: 5px);

.position-rating {

  &__percentage {
    font-family: $heading-font-stack;
    font-size: 18px;
  }

  &__source {
    color: $gray-mid;
  }

  &__candidate-name {
    font-family: $heading-font-stack;
    font-size: 18px;
  }
}


// =====================================
// TODO: Jeff - these styles should be melted down (globalize or abstract)

.with-popover{
  color: $popover-link-color;
  &:hover {
    cursor: pointer;
  }
}
.organization-position-item-toggle {
  position: absolute;
  right: 40px;
  top: 17px;
}

.edit-position-action {
  &:hover {
    cursor: pointer;
  }
}
