// Position Item

@include media-object('.position-item', '.position-item__avatar', '.position-item__content');

.position-item {
  @include list-item-card;

  .star-action {
    top: 15px;
    right: 10px;
  }

  .friends-only-indicator {
    top: 45px;
    right: 16px;
  }
}

.position-item__avatar {
  @include list-item-avatar;
  &.img-square {
    width: 50px;
  }
}

.position-item__display-name {
  margin-bottom: .2em;
}


// Explicit Positions

@include media-object('.explicit-position', '.explicit-position__icon', '.explicit-position__text', $margin: 5px);

.explicit-position__icon {
  margin-top: 2px;
}

.explicit-position__text {
  padding-top: .2em;
  color: $dark-gray;
}

.explicit-position__position-label {
  font-weight: bold;
}

.explicit-position__source {
  color: $mid-gray;
}

// Position Ratings

@include media-object('.position-rating', '.position-rating__icon', '.position-rating__text', $margin: 5px);

.position-rating {

  &__icon {
    margin-top: 2px;
  }

  &__percentage {
    font-family: $heading-font-stack;
    font-size: 18px;
  }

  &__source {
    color: $mid-gray;
  }

  &__candidate-name {
    font-family: $heading-font-stack;
    font-size: 18px;
  }
}

.with-popover{
  color: $popover-link-color;
  &:hover {
    cursor: pointer;
  }
}
.organization-position-item-toggle {
  position: absolute;
  right: 40px;
  top: 17px;
}

.candidate-link {
  &:hover{
    text-decoration: none;
    color: red;
  }
}

.edit-position-action {
  &:hover {
    cursor: pointer;
  }
}
