$search-bar-border-radius: 0 $radius-sm $radius-sm 0;
$space-1px: 1px; // shifting image to fit inside search bar's border
.search-bar {
  width: 100%;
  height: 34px;
  overflow: hidden;
  position: relative;

  .search-bar-options {
    position: absolute;
    height: 32px;
    right: 0;
    top: 0;
    margin-top: $space-1px;
    margin-right: $space-1px;
    border-radius: $search-bar-border-radius;
    overflow: hidden;

    .search-options-btn {
      height: inherit;
      border: none;
      background-color: $transparent;
      line-height: 30px;
      width: 32px;

      &:hover {
        background-color: $gray-lighter;
      }
    }

    .hidden {
      display: none;
    }
  }
}
