$selected-border-left-space: 2px;
$bottomPaddingCordova: 150px;

.SettingsItem {
  position: relative;
  margin-bottom: $space-md;

  &__summary {
    &__organization-title {
      font-family: $heading-font-stack;
      font-size: 1.6rem;
      color: $gray-dark;
      padding-bottom: $space-none;
      padding-top: $space-sm;
    }
    &__title {
      font-family: $heading-font-stack;
      font-size: 1.6rem;
      color: $gray-dark;
      padding-bottom: $space-none;
      padding-top: $space-md;
    }
    &__election-title {
      font-family: $heading-font-stack;
      font-size: 1.2rem;
      color: $gray-dark;
      padding-bottom: $space-none;
      padding-top: $space-xs;
    }
    &__election-date {
      font-family: $heading-font-stack;
      font-size: 1rem;
      color: $gray-light;
      padding-bottom: $space-md;
      padding-top: $space-xs;
    }

    &__item {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; // Not working currently
      color: $gray-mid;
      line-height: 1.5rem;
      position: relative;
      font-size: 1rem;

      &__display-name {
        color: $link-color;
        font-family: $heading-font-stack;
        font-size: 1.2rem;
        &--selected {
          color: $black;
          font-weight: bold;
          margin-left: $space-md - $selected-border-left-space;
        }
      }
    }

    &__item-container {
      align-items: center;
      margin-bottom: $space-md;
      margin-top: $space-none;
      overflow: hidden;
      position: relative;
      &--selected {
        border-left: $selected-border-left-space solid $red;
        margin-left: $negative-space-md;
      }
    }
  }
}

.SettingsCardBottomCordova {
  padding-bottom: $bottomPaddingCordova;
}

.settingsIssues {
  &__image {
    padding-left: $space-none;

    @include breakpoints (max small) {
      padding-right: $space-none;
    }
  }
}
