// Reusable tabs for WebApp
// Created: 21 August 2017 by @edward-ly
//
// Usage:
//
// let display_component = null;
// switch (this.state.watch_variable) {
//   default:
//   case "{Value 1}":
//     display_component = {Component 1};
//     break;
//   case "{Value 2}":
//     display_component = {Component 2};
//     break;
//   case "{Value 3}":
//     display_component = {Component 3};
//     break;
//   ...
// }
//
// return (
//   <div>
//     <div className="tabs__tabs-container-wrap">
//       <div className="tabs__tabs-container hidden-print">
//         <ul className="nav tabs__tabs">
//           <li className="tab-item">
//             <{ a onClick={function} / Link to={path} } className={this.state.watch_variable === "{Value 1}" ? "tab tab-active" : "tab tab-default"}>
//               <span>{Tab 1 Title}</span>
//             </{ a / Link }>
//           </li>
//
//           <li className="tab-item">
//             <{ a onClick={function} / Link to={path} } className={this.state.watch_variable === "{Value 2}" ? "tab tab-active" : "tab tab-default"}>
//               <span>{Tab 2 Title}</span>
//             </{ a / Link }>
//           </li>
//
//           <li className="tab-item">
//             <{ a onClick={function} / Link to={path} } className={this.state.watch_variable === "{Value 3}" ? "tab tab-active" : "tab tab-default"}>
//               <span>{Tab 3 Title}</span>
//             </{ a / Link }>
//           </li>
//
//           ...
//
//         </ul>
//       </div>
//     </div>
//     {display_component}
//   </div>
// );

$tab-spacing-desktop: 24px;
$tab-spacing-mobile: $space-md;
$scrollbar-height: 20px;
$tab-height: 47px;
$tab-height-visible: $tab-height - $scrollbar-height;
$tab-margin-mobile: (-$space-md);

.tabs {
  &__tabs-container-wrap {
    border-bottom: 1px solid #aaa;
    border-radius: $radius-xs;
    box-shadow: $default-box-shadow;
    background-color: $white;
    box-sizing: content-box;
    padding: $space-sm $space-md $space-none $space-md;
    overflow: hidden;
    height: $tab-height-visible;
    @include breakpoints (small mid-small) {
      margin-right: $tab-margin-mobile;
      margin-left: $tab-margin-mobile;
    }
  }

  &__tabs-container {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: $tab-height;
  }

  &__tabs {
    .tab-item {
      display: inline-block;
      float: none;
    }

    .tab {
      padding: $space-none $space-none $space-xs;
      margin-right: $tab-spacing-desktop;
      @include breakpoints (small mid-small) {
        margin-right: $tab-spacing-mobile;
      }
    }

    .tab-active {
      border-bottom: 6px solid $black;
      color: $black;
    }

    .tab-default {
      color: $gray-mid;
    }

    a:focus,
    a:hover {
      background-color: transparent !important; // stylelint-disable-line sh-waqar/declaration-use-variable
    }

    a.tab-default:focus,
    a.tab-default:hover {
      border-bottom: 6px solid $gray-mid;
    }
  }
}
