// Voter Guide related styles

.organization-banner-image-non-twitter-users {
  height: 100px;
  background-color: $gray-mid;
  display: block;
}

.organization-banner-image-div {
  max-height: 200px;
  overflow: hidden;
}

.organization-banner-image-img {
  width: 100%;
}

.voter-guide {
  &__pledge-to-support {
    &__current-supporters {
      text-align: center;
      font-size: .8rem;
    }

    &__i-stand-with-button {
      @include breakpoints (small mid-small) {
        font-size: .9rem;
      }
    }

    &__i-stand-with-button-description {
      text-align: center;
      font-size: .8rem;
      @include breakpoints (small mid-small) {
        font-size: .9rem;
      }
    }

    &__thank-you-for-supporting {
      font-size: 1.2rem;
    }
  }
}
