// Voter Guide related styles

.organization-banner-image-non-twitter-users {
  height: 100px;
  background-color: $gray-mid;
  display: block;
}

.organization-banner-image-div {
  max-height: 200px;
  overflow: hidden;
}

.organization-banner-image-img {
  width: 100%;
}
