$margin-around-textarea: .1em;
$padding-within-textarea: .5rem .7em;
$padding-left-radio-label: 10px;

.voter-guide-get-started {
  &__wrapper {
    //background-color: $white;
    //box-shadow: 2px 2px 4px 2px $gray-light;
    //display: block;
    //margin-bottom: $space-lg;
    //padding: $space-xs $space-md $space-md $space-md;
    //text-align: center;
    //min-height: 18rem;
    //width: 100%;
  }

  &__twitter-wrapper {
    //background-color: $white;
    //box-shadow: 2px 2px 4px 2px $gray-light;
    //display: block;
    //margin-bottom: $space-lg;
    //padding: $space-xs $space-md $space-md $space-md;
    //text-align: center;
    //min-height: 18rem;
    //width: 100%;
  }

  &__twitter-input {
    //width: 200px;
  }

  &__image {
    width: 100%;
  }

  &__link {
    color: $gray-mid;
    text-decoration: underline;
  }

  &__status-success {
    color: $green;
    font-size: 1.4em;
  }

  &__status-error {
    color: $red;
    font-size: 1.6em;
  }
}

.create-voter-guide {
  background-color: $gray-dark;
  padding: $space-none;
  width: 100%;
  &__h1 {
    color: $white;
    font-weight: 700;
    font-size: 30px;
    padding: $space-lg $space-none $space-none;
    text-align: center;
    @include breakpoints (max large) {
      font-size: 22px;
    }
  }
  &__description {
    color: $white;
    font-weight: 400;
    font-size: 18px;
    padding: $space-md $space-md $space-md $space-md;
    text-align: center;
    @include breakpoints (max large) {
      font-size: 16px;
    }
  }
  &__steps {
    color: $white;
    font-weight: 300;
    font-size: 16px;
    padding: $space-xs $space-none $space-xs;
    text-align: center;
    @include breakpoints (max large) {
      font-size: 14px;
    }
  }

  &__footer {
    position: absolute;
    bottom: 10%;
    width: 100%;
    @include breakpoints (mid-small) {
      bottom: 10%;
    }
  }

  &__organization-container {
    display: inline-block;
  }

  &__radio {
    text-align: left;
  }

  &__radio-label {
    padding-left: $padding-left-radio-label;
  }
}
