/*=============================================================================
    Anything to do with content, padding, border, margin
================================--|--========================================*/
// Box
#app {
  position: relative;
}

.box-loader {
    max-width: 220px;
    text-align: center;
    width: 20%;

    > .fa-spinner {
        line-height: 2;
        font-size: 45px
    }
}
// Padding
.fluff-loose--full {
    padding: 1.5em;
}

.fluff-tight--full {
    padding: .75em;
}

.fluff-loose--top {
    padding-top: 1.5em;
}
@media all and (min-width: 480px) {
    .fluff-loose--top {
        padding-top: .8em;
    }
}

// Margin
.gutter {
    &-left {
        &--window {
            margin-left: 1em;
        }
    }
    &-right {
        &--window {
            margin-right: 1em;
        }
    }
    &-top {
        &--small {
            margin-top: 1em;
        }
    }
}

// Border
.separate {
    &-bottom {
        border-bottom: 1px solid adjust_hue(darken(#f5f5f5, 13), 0);
    }
    &-top {
        border-top: 1px solid adjust_hue(darken(#f5f5f5, 13), 0);
    }
}

.container-fluid--paddingxl {
    padding: 0 10px;
}
