/*=============================================================================
    Anything to do with content, padding, border, margin
================================--|--========================================*/

// Padding
.fluff-loose--full {
  padding: 1.5em;
}

.fluff-tight--full {
  padding: .75em;
}

.fluff-loose--top {
  padding-top: 1.5em;
}

.fluff-full1 {
  padding: 1em;
}

@include breakpoints(mid-small) {
  .fluff-loose--top {
    padding-top: .8em;
  }
}

// Margin
.u-gutter {
  &__top {
    &--small {
      margin-top: 1em;
    }
  }
}
