/*=============================================================================
    Anything to do with content, padding, border, margin
================================--|--========================================*/
// Box
#app {
  position: relative;
}

// Padding
.fluff-loose--full {
  padding: 1.5em;
}

.fluff-tight--full {
  padding: .75em;
}

.fluff-loose--top {
  padding-top: 1.5em;
}

.fluff-full1 {
  padding: 1em;
}

@include breakpoints(mid-small) {
  .fluff-loose--top {
    padding-top: .8em;
  }
}

// Margin
.u-gutter {
  &__left {
    &--window {
      margin-left: 1em;
    }
  }
  &__right {
    &--window {
      margin-right: 1em;
    }
  }
  &__top {
    &--small {
      margin-top: 1em;
    }
  }
}

// Border
.u-separate {
  &__bottom {
    border-bottom: 1px solid $gray-border;
  }
  &__top {
    border-top: 1px solid $gray-border;
  }
}
