// ----------------------------------------------------------------------------
// This file contains all styles related to the header of the app
// ----------------------------------------------------------------------------
