// ----------------------------------------------------------------------------
// This file contains all styles related to the header of the app
// ----------------------------------------------------------------------------
.active-link {
  font-weight: 600;
  background-color: #d9edf7;
}

.we-vote-promise {
  color: #ababab;
  font-size: 0.9em;
  font-weight: 400;
}

.header {

    &-address {
        color: #D8D8D8;
        margin-right: 200px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 30%;
    }
}

.header {
    &-version {
        color: rgba(171,171,171, 1);
        font-size: 0.7em;
        font-weight: 200;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media all and (max-width : 659px) {
	.header {
		&-address {
			margin-right: 10px;
			text-align: right;
		}
	}
}
