.device {
    &-menu {
        &--large {
            display: none;
        }
    }
    &-ballot {
        &--large {
            float: none;
            width: 100%;
        }
    }
}


@media all and (min-width : 660px) {
    .device {
        &-menu {
            &--large {
                display: inline-block;
                margin-top: 10px;
                width: 220px;
            }
        }
        &-footer {
            &--large {
                background: transparent;
                border-color: #fff;
                display: inline-block;
                height: 45px;
                left: auto;
                right: 175px;
                top: 0;

                .separate-top {
                    border-top: none;
                }
            }

        }
        &-icon {
            &--large {
                display: none;
            }
        }
        &-small {
            &--hide {
                display: none;
            }
        }
    }
    .ballot {
        &-list {}
    }

    .font {
        &-footer {
            &_icon {
                font-size: 1.25em;
            }
        }
    }
}

@media all and (max-width: 695px) {
  .no-show {
    display: none;
  }
  .col-xs-8 {
    width: 100%;
  }
}

@media all and (min-width : 960px) {
  #app {
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    margin: 0 auto;
    width: 960px;
  }

  .headroom--pinned {
    margin: 0 auto;
    max-width: 958px;
    width: 958px;
  }
}
