// TODO: Jeff - Refactor all styles here and remove this partial

.view-source {
  display: none;
}

.device {
  &-menu {
    &--large {
      display: none;
    }
    &--mobile {
      visibility: hidden;
    }
  }
}

.icon {
  &-hamburger {
    &--mobile {
      display: none;
    }
  }
}

@include breakpoints(max nav){
  .device {
    &-menu {
      &--mobile {
        display: block;
        visibility: inherit;
      }
    }
  }
  .icon {
    &-hamburger {
      &--mobile {
        display: inline-block;
      }
    }
  }
  .sidebar-menu {
    display: none;
  }
  .col-xs-8-container {
    width: 100%;
  }
  .container-main {
    margin-bottom: -72px;
    min-height: 100%;
    padding-bottom: 72px;
  }
  .display-name {
    margin-top: 0;
  }
}

@include breakpoints(max nav) {
  .device {
    &-headericons--large {
      display: none;
    }
  }
}


@include breakpoints(nav) {
  .navbar-fixed-bottom {
    display: none;
  }

  .view-source {
    display: block;
  }

  .device {
    &-menu { // device-menu
      &--large {
        display: block;
        margin-top: 10px;
      }
    }
    &-icon {
      &--large {
        display: none;
      }
    }
    &-small {
      &--hide {
        display: none;
      }
    }
  }
  .ballot {
    &-list {}
  }

  .font {
    &-footer {
      &_icon {
        font-size: 1.25em;
      }
    }
  }
}
