.device {
  &-menu {
    &--large {
      display: none;
    }
    &--mobile {
      visibility: hidden;
    }
  }
  &-ballot {
    &--large {
      float: none;
      width: 100%;
    }
  }
}

.icon {
  &-hamburger {
    &--mobile {
      display: none;
    }
  }
}

@include breakpoints(max nav){
  .device {
    &-menu {
      &--mobile {
        display: block;
        visibility: inherit;
      }
    }
  }
  .icon {
    &-hamburger {
      &--mobile {
        display: inline-block;
      }
    }
  }
  .sidebar-menu {
    display: none;
  }
  .col-xs-8-container {
    width: 100%;
  }
  .container-main {
    margin-bottom: -72px;
    min-height: 100%;
    padding-bottom: 72px;
  }
  .display-name {
    margin-top: 0;
  }
}


@media all and (max-width: 661px) {
  .device {
    &-headericons--large {
      display: none;
    }
  }
}


@media all and (min-width : 660px) {
  .navbar-fixed-bottom {
    display: none;
  }
  .device {
    &-menu { // device-menu
      &--large {
        display: block;
        margin-top: 10px;
      }
    }
    &-headericons { // device-headericons
      &--large {
        background: transparent;
        border-color: #fff;
        display: inline-block;
        height: 45px;
        left: auto;
        position: absolute;
        right: 0;
        top: 0px;

        .separate-top {
          border-top: none;
        }
      }

    }
    &-icon {
      &--large {
        display: none;
      }
    }
    &-small {
      &--hide {
        display: none;
      }
    }
  }
  .ballot {
    &-list {}
  }

  .font {
    &-footer {
      &_icon {
        font-size: 1.25em;
      }
    }
  }
}



@include breakpoints($max-page-container-width) {
  #app {
    border-right: 1px solid $border-gray;
    border-left: 1px solid $border-gray;
    margin: 0 auto;
  }
}
