.loading-screen {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #337ec9;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  flex-direction: column;
}

.page-content-container {
  margin: 0 auto;
  max-width: $max-page-container-width;
}
