
$loader-duration: 1.4s;
$loader-delay-increment: -120ms;
$loader-size: .8rem;

.u-loading-spinner {
  $dark-spinner: rgba($gray-dark, .7);
  $light-spinner: rgba($white, .7);
  margin: $space-none $space-auto ($loader-size * 2) $space-auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: $loader-delay-increment;
  overflow: visible;
  font-size: $loader-size * 2;
  &,
  &::before,
  &::after {
    border-radius: $radius-rounded;
    width: $loader-size;
    height: $loader-size;
    animation-name: bouncedelay;
    animation-duration: $loader-duration;
    animation-timing-function: ease-in-out;
    animation-timing-function: cubic-bezier(.5, 0, .5, 1);
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    color: $dark-spinner;
  }
  &--light {
    &,
    &::before,
    &::after {
      color: $light-spinner;
    }
  }
  &::before {
    left: -1.5 * $loader-size;
    animation-delay: $loader-delay-increment * 2;
  }
  &::after {
    left: 1.5 * $loader-size;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
  }
  &__wrapper {
    @include clearfix;
    margin: $space-md $space-auto $space-lg $space-auto;
  }
}

@keyframes bouncedelay {
  0%,
  20%,
  100% {
    box-shadow: 0 $loader-size 0 (-1 * $loader-size);
  }
  60% {
    box-shadow: 0 $loader-size 0 0;
  }
}
