$call-to-action-red: #fb2f2f;
$call-to-action-blue: #476480;
$background-pale-blue: #314965;
$header-image-width: 931px;
$features-block-container-height: 275px;
$hero-section-background-color: rgba(255, 255, 255, .75);
$opaque-grey: rgba($gray-dark, .5);

.welcome-page {
  $welcome-top-margin: -10px;
  margin-top: $welcome-top-margin;
  .hero__section {
    position: relative;
    background-image: url('/img/welcome/header-image-desktop.png');
    background-size: cover;
    color: $white;
    margin: $space-none auto;
    max-width: 100%;
    padding-top: $space-xl;
    padding-bottom: $space-xl;
    text-align: center;

    @include breakpoints (iphone5 large) {
      padding-top: $space-md;
      padding-bottom: $space-md;
    }

    &__container {
      background-color: $background-pale-blue;
    }

    &__row {
      font-weight: normal;
      letter-spacing: 1px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $opaque-grey;
    }
  }

  .share-your-vision__h1 {
    @include breakpoints (small mid-small) {
      margin-top: $space-sm;
    }
  }

  // Do not remove or change name. It is being used by bootstrap.
  .form-group {
    padding: $space-none $space-sm;
  }

  // Do not remove or change name. It is being used by bootstrap.
  .form-control {
    width: 100%;
  }

  .form {
    &__section {
      width: 100%;
      padding-top: $space-none;
      background-color: $brand-blue;
    }

    &__email-verfication {
      color: $white;
    }

    &__container {
      padding: $space-lg $space-none;
    }

    &__header {
      margin-bottom: $space-md;
      color: $white;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }

    &__button--disabled {
      color: $gray-darker;
    }

    &__button--disabled:hover {
      color: $white;
    }
  }

  .quick-links {
    $quick-links-button-padding: 1em;

    &__button {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      align-items: center;
      -ms-flex-align: center;
      color: $white;
      font-size: 18px;
      text-align: center;
      padding: $quick-links-button-padding;
      line-height: 1em;
      transition: background .3s;
      width: 60%;
      border-radius: $space-md;


      @include breakpoints (max medium) {
        width: 80%;
        margin-bottom: $space-lg;
      }

      &--left {
        background: $call-to-action-red;
      }

      &--right {
        background: $call-to-action-blue;
      }

      &:hover {
        background: $brand-blue;
        text-decoration: none;
      }
    }

    &__section--desktop {
      padding: $space-md $space-none $space-md $space-none;

      a {
        margin: $space-auto;
        margin-top: $space-lg;
      }
    }

    &__section--mobile {
      padding: $space-none $space-none $space-md $space-none;
      margin-top: $space-sm;

      a {
        margin: $space-auto;
      }
    }
  }

  .features {
    &__section {
      background-color: $brand-blue;
      color: $white;
      padding-top: $scrollbar-height;
      padding-bottom: $space-xl;
    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      margin-bottom: $space-xl;
      min-height: 120px;

      @include breakpoints (max medium) {
        width: 100%;
        height: inherit;
      }

      a {
        color: $white;
        text-decoration: none;

        @include breakpoints (max medium) {
          width: 80%;
        }
      }

      &__container {
        @include breakpoints (max medium) {
          height: $features-block-container-height;
        }
      }

      &__row1 {
        @include breakpoints (max medium) {
          height: 184px;
        }
      }

      &__row1a {
        @include breakpoints (max medium) {
          height: 194px;
        }
      }

      &__row2 {
        @include breakpoints (max medium) {
          height: 144px;
        }
      }

      &__row2a {
        @include breakpoints (max medium) {
          height: 144px;
        }
      }

      &__row3 {
        @include breakpoints (max medium) {
          height: 186px;
        }
      }

      &__row3a {
        @include breakpoints (max medium) {
          height: 236px;
        }
      }
    }

    &__image {
      margin-bottom: $space-md;
      height: auto;
    }

    &__h3 {
      margin-bottom: $description-margin-top;
      font-size: 24px;
      line-height: 1.25;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }

      @include breakpoints (max iphone5) {
        font-size: 20px;
      }
    }

    &__p {
      font-size: 14px;
      padding: $space-none $space-lg;
      height: 66px;

      @include breakpoints (small-bootstrap medium-bootstrap) {
        height: 110px;
      }

      @include breakpoints (max small-bootstrap) {
        padding: $space-none;
      }
    }

    &__title {
      margin-bottom: $space-none;
      font-weight: bold;
      font-size: 2rem;

      @include breakpoints (iphone5 large) {
        font-size: 1.5rem;
      }
    }
  }

  .features-your-mission {
    &__block {
      align-items: center;
      text-align: center;
      padding-bottom: $space-md;

      @include breakpoints (max medium) {
        margin-bottom: $space-xl;
      }

      .h2 {
        font-size: 24px;
        font-weight: normal;
      }
    }
  }

  .network__section {
    padding-top: $space-lg;
    padding-bottom: $space-lg;
    text-align: center;
    background-color: $white;
  }

  .partner__logos {
    margin: $space-none;
    text-align: center;
    list-style: none;
    padding-bottom: $space-none;
  }

  .footer__section {
    background-color: $brand-blue;
    padding-top: $space-xl;
    padding-bottom: $space-xl;
    text-align: center;
    color: $white;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    //Do not change name. It is used by bootstrap.
    .btn-social {
      @include breakpoints (max medium) {
        width: 50%;
        text-align: center;
        margin-bottom: $space-sm;
      }
    }
  }
}
