$call-to-action-red: #fb2f2f;
$call-to-action-blue: #476480;
$background-pale-blue: #314965;
$header-image-width: 931px;
$hero-section-background-color: rgba(255, 255, 255, .75);
$opaque-grey: rgba($gray-dark, .5);

.welcome-page {
  .cta-button {
    background-color: $call-to-action-red;
  }

  .hero-section {
    position: relative;
    background-image: url('/img/welcome/header-image-desktop.png');
    background-size: cover;
    color: $white;
    max-width: $header-image-width;
    padding-top: $space-xl;
    padding-bottom: $space-xl;
    text-align: center;

    @include breakpoints($header-image-width) {
      margin: $space-none calc(50% - #{$header-image-width} / 2);
    }

    &-container {
      background-color: $background-pale-blue;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $opaque-grey;
    }
  }

  .form {
    &-section {
      width: 100%;
      padding-top: $space-lg;
      background-color: $brand-blue;
    }

    &-container {
      padding: $space-lg $space-none;
    }

    &-header {
      margin-bottom: $space-md;
      color: $white;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }

    &-group {
      padding: $space-none $space-sm;
    }

    &-control {
      width: 100%;
    }

    &-button-disabled {
      color: $gray-darker;
    }

    &-button-disabled:hover {
      color: $white;
    }
  }

  .quick-links {
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 1.6em;
      width: 100%;
      text-align: center;
      padding: $network-issue-list-padding;
      line-height: 1em;
      transition: background .3s;

      &-left {
        background: $call-to-action-red;
      }

      &-right {
        background: $call-to-action-blue;
      }

      &:hover {
        background: $brand-blue;
        text-decoration: none;
      }
    }
  }

  .features {
    &-section {
      background-color: $brand-blue;
      color: $white;
      padding-top: $space-lg;
      padding-bottom: $space-xl;
    }

    &-your-mission__block {
      align-items: center;
      text-align: center;
      padding-bottom: $space-md;

      .h1 {
        font-size: 26px;
        line-height: 1.2;
      }

      .h2 {
        font-size: 24px;
        font-weight: normal;
      }
    }

    &__block-container {
      &:nth-child(1),
      &:nth-child(2) {
        .features__block {
          @include breakpoints (max medium) {
            height: 184px;
          }
        }
      }

      &:nth-child(3),
      &:nth-child(4) {
        .features__block {
          @include breakpoints (max medium) {
            height: 176px;
          }
        }
      }

      &:nth-child(5),
      &:nth-child(6) {
        .features__block {
          @include breakpoints (max medium) {
            height: 144px;
          }
        }
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      margin-bottom: $space-xl;
      min-height: 120px;
    }

    &__image {
      margin-bottom: $space-md;
      height: auto;
    }

    &__h3 {
      margin-bottom: $description-margin-top;
      font-size: 24px;
      line-height: 1.25;
      font-weight: 600;

      @include breakpoints (max iphone5) {
        font-size: 20px;
      }
    }

    &__p {
      font-size: 16px;
      padding: $space-none $space-lg;
      height: 66px;

      @include breakpoints (small-bootstrap medium-bootstrap) {
        height: 110px;
      }

      @include breakpoints (max small-bootstrap) {
        padding: $space-none;
      }

      &.hidden-xs {
        font-size: 14px;
      }
    }
  }

  .network-section {
    padding-top: $space-lg;
    padding-bottom: $space-xl;
    text-align: center;
    background-color: $white;
  }

  .partner-logos {
    margin: $space-none;
    text-align: center;
    list-style: none;
  }

  .footer-section {
    background-color: $call-to-action-blue;
    padding-top: $space-xl;
    padding-bottom: $space-xl;
    text-align: center;
    color: $white;

    a {
      color: $white;
      text-decoration: underline;

      &:hover {
        color: $white;
      }
    }
  }
}

.welcome-page {
  .hero-section {
    max-width: 100%;
    margin: $space-none auto;
    padding-top: $space-xl;
    padding-bottom: $space-xl;

    ::before {
      background-color: $hero-section-background-color;
    }
  }

  .form-section {
    padding-top: $space-none;
  }

  .features-section {
    padding-top: $scrollbar-height;
  }

  .features-your-mission__block {
    padding-bottom: $space-none;

    .features-title {
      margin-bottom: $space-none;
      font-weight: bold;
      font-size: 2rem;
    }
  }
}

.hero-section-row {
  font-weight: normal;
  letter-spacing: 1px;

  .h1:nth-child(1) {
    color: $call-to-action-red;
  }

  .h1:nth-child(2) {
    color: $call-to-action-blue;
  }
}

.syv-h1 {
  color: $call-to-action-blue;
}

.welcome-page {
  .section:nth-child(2) {
    padding: $space-md $space-none $space-md $space-none;
  }
}

.welcome-page .features-your-mission__block .h1 {
  margin-bottom: $space-lg;
}

.features__block {
  a {
    color: $white;
    text-decoration: none;

    .h3:hover {
      text-decoration: underline;
    }
  }
}

.welcome-page .features__block-container:nth-child(6) {
  margin-bottom: $space-none;
}

.quick-links-section a {
  font-size: $space-md;
  margin: $space-auto;
  margin-top: $space-lg;
}

.welcome-page .quick-links__button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: $white;
  width: 60%;
  text-align: center;
  padding: $network-issue-list-padding;
  line-height: 1em;
  transition: background .3s;
  border-radius: $space-md;
  font-size: 18px;
}

.welcome-page {
  .network-section {
    padding-top: $space-lg;
    padding-bottom: $space-lg;
  }
}

.container {
  .h2 {
    margin-bottom: $space-md;
  }
}

.partner-logos {
  .img {
    padding-bottom: $space-none;
    margin-bottom: $space-none;
  }
}

.welcome-page .footer-section a {
  text-decoration: none;
}

.welcome-page .footer-section a:hover {
  text-decoration: underline;
}

.u-stack--xl {
  margin-bottom: $space-lg;
}


@media all and (max-width: 767px) {
  .syv-h1 {
    color: $call-to-action-blue;
    margin-top: $space-xl;
  }
  .welcome-page .quick-links__button {
    width: 80%;
    margin-bottom: $space-lg;
  }
  .u-f--small {
    .p:nth-child(1) {
      width: 80%;
      margin: $space-auto;
    }
  }
  .features-block,
  .features__block-container {
    height: 275px;
  }
  .partner-logos {
    .img {
      width: 60%;
      margin-bottom: $space-none;
      padding-bottom: $space-md;
    }
  }
  .list-inline {
    .li {
      margin-bottom: $space-sm;
    }
  }
  .btn-social {
    width: 50%;
    text-align: center;
    margin-bottom: $space-sm;
  }
  .features__block {
    width: 100%;
    height: inherit;
  }
  .features__block a {
    width: 80%;
  }
  .features-your-mission__block {
    margin-bottom: $space-lg;
  }
  .welcome-page {
    .features__p {
      padding: $space-none;
    }

    .features-your-mission__block {
      margin-bottom: $space-xl;
    }
  }
}
