$call-to-action-red: #fb2f2f;
$call-to-action-blue: #476480;
$background-pale-blue: #314965;
$header-image-width: 931px;
$features-block-container-height: 275px;
$hero-section-background-color: rgba(255, 255, 255, .75);
$opaque-grey: rgba($gray-dark, .5);

.welcome-page {
  .hero-section {
    position: relative;
    background-image: url('/img/welcome/header-image-desktop.png');
    background-size: cover;
    color: $white;
    margin: $space-none auto;
    max-width: 100%;
    padding-top: $space-xl;
    padding-bottom: $space-xl;
    text-align: center;

    @include breakpoints (iphone5 large) {
      padding-top: $space-md;
      padding-bottom: $space-md;
    }

    &-container {
      background-color: $background-pale-blue;
    }

    &-row {
      font-weight: normal;
      letter-spacing: 1px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $opaque-grey;
    }
  }

  .share-your-vision-h1{
    @include breakpoints (small mid-small) {
      margin-top: $space-sm;
    }
  }

  .form {
    &-section {
      width: 100%;
      padding-top: $space-none;
      background-color: $brand-blue;
    }

    &-container {
      padding: $space-lg $space-none;
    }

    &-header {
      margin-bottom: $space-md;
      color: $white;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }

    &-group {
      padding: $space-none $space-sm;
    }

    &-control {
      width: 100%;
    }

    &-button-disabled {
      color: $gray-darker;
    }

    &-button-disabled:hover {
      color: $white;
    }
  }

  .quick-links {
    &__button {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      align-items: center;
      -ms-flex-align: center;
      color: $white;
      font-size: 18px;
      width: 100%;
      text-align: center;
      padding: $network-issue-list-padding;
      line-height: 1em;
      transition: background .3s;
      width: 60%;
      border-radius: $space-md;

      @include breakpoints (max medium) {
        width: 80%;
        margin-bottom: $space-lg;
      }

      &-left {
        background: $call-to-action-red;
      }

      &-right {
        background: $call-to-action-blue;
      }

      &:hover {
        background: $brand-blue;
        text-decoration: none;
      }
    }

    &-section-desktop{
      padding: $space-md $space-none $space-md $space-none;

      a{
        margin: $space-auto;
        margin-top: $space-lg;
      }
    }

    &-section-mobile{
      padding: $space-none $space-none $space-md $space-none;
      margin-top: $space-sm;

      a{
        margin: $space-auto;
      }
    }
  }

  .features {
    &-section {
      background-color: $brand-blue;
      color: $white;
      padding-top: $scrollbar-height;
      padding-bottom: $space-xl;
    }

    &-your-mission__block {
      align-items: center;
      text-align: center;
      padding-bottom: $space-md;

      @include breakpoints (max medium) {
        margin-bottom: $space-xl;
      }

      .h2 {
        font-size: 24px;
        font-weight: normal;
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      margin-bottom: $space-xl;
      min-height: 120px;

      @include breakpoints (max medium) {
        width: 100%;
        height: inherit;
      }

      a {
        color: $white;
        text-decoration: none;

        @include breakpoints (max medium) {
          width: 80%;
        }
      }

      &-container{
        @include breakpoints (max medium) {
          height: $features-block-container-height;
        }
      }

      &__row1 {
        @include breakpoints (max medium) {
          height: 184px;
        }
      }

      &__row2{
        @include breakpoints (max medium) {
          height: 176px;
        }
      }

      &__row3{
        @include breakpoints (max medium) {
          height: 144px;
        }
      }
    }

    &__image {
      margin-bottom: $space-md;
      height: auto;
    }

    &__h3 {
      margin-bottom: $description-margin-top;
      font-size: 24px;
      line-height: 1.25;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }

      @include breakpoints (max iphone5) {
        font-size: 20px;
      }
    }

    &__p {
      font-size: 16px;
      padding: $space-none $space-lg;
      height: 66px;

      @include breakpoints (small-bootstrap medium-bootstrap) {
        height: 110px;
      }

      @include breakpoints (max small-bootstrap) {
        padding: $space-none;
      }

      &.hidden-xs {
        font-size: 14px;
      }
    }

    &-title{
      margin-bottom: $space-none;
      font-weight: bold;
      font-size: 2rem;

      @include breakpoints (iphone5 large) {
        font-size: 1.5rem;
      }
    }
  }

  .network-section {
    padding-top: $space-lg;
    padding-bottom: $space-lg;
    text-align: center;
    background-color: $white;

    .partner-logos {
      margin: $space-none;
      text-align: center;
      list-style: none;
      padding-bottom: $space-none;
      margin-bottom: $space-none;
    }
  }

  .footer-section {
    background-color: $call-to-action-blue;
    padding-top: $space-xl;
    padding-bottom: $space-xl;
    text-align: center;
    color: $white;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    .btn-social {
      @include breakpoints (max medium) {
        width: 50%;
        text-align: center;
        margin-bottom: $space-sm;
      }
    }
  }
}
