$cta-color: #fb2f2f;

.welcome-page {
  .cta-button {
    background-color: $cta-color;
  }

  .hero-section {
    position: relative;
    background-image: url('/img/welcome/header-image-desktop.png');
    background-size: cover;
    color: $white;
    padding-top: $space-lg;
    padding-bottom: $space-xl;
    text-align: center;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($gray-dark, .5); // stylelint-disable-line sh-waqar/declaration-use-variable
    }
  }

  .form-group {
    padding: $space-none $space-sm;
  }

  .form-control {
    width: 100%;
  }

  .quick-links {
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 1.6em;
      width: 100%;
      text-align: center;
      padding: 1em; // stylelint-disable-line sh-waqar/declaration-use-variable
      line-height: 1em;
      transition: background .3s;

      &-left {
        background: $cta-color;
      }

      &-right {
        background: #476480;
      }

      &:hover {
        background: $brand-blue;
        text-decoration: none;
      }
    }
  }

  .features {
    &-section {
      background-color: $brand-blue;
      color: $white;
      padding-top: $space-lg;
      padding-bottom: $space-xl;
    }

    &-your-mission__block {
      align-items: center;
      text-align: center;
      padding-bottom: $space-md;

      .h1 {
        line-height: 1.2;
      }

      .h2 {
        font-weight: normal;
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      margin-bottom: $space-xl;
      min-height: 120px;
    }

    &__image {
      margin-bottom: $space-md;
      height: auto;
    }

    &__h3 {
      margin-bottom: 10px; // stylelint-disable-line sh-waqar/declaration-use-variable
      font-size: 24px;
      line-height: 1.25;
      font-weight: 600;
    }

    &__p {
      padding: $space-none $space-lg;
    }
  }

  .network-section {
    padding-top: $space-lg;
    padding-bottom: $space-xl;
    text-align: center;
    background-color: $white;
  }

  .partner-logos {
    margin: $space-none;
    text-align: center;
    list-style: none;
  }

  .footer-section {
    background-color: #476480; // stylelint-disable-line sh-waqar/declaration-use-variable
    padding-top: $space-xl;
    padding-bottom: $space-xl;
    text-align: center;
    color: $white;

    a {
      color: $white;
      text-decoration: underline;

      &:hover {
        color: $white;
      }
    }
  }
}
