// Overrides - for app-wide overrides. Isolated overrides can be left in contextually appropriate places.
$white-text-color: $white;

.h1 { // TODO: replace this custom hack with responsive set of typographic classes
  font-size: 22px;
  @include breakpoints(medium) {
    font-size: 28px;
  }
}


// Required because Google Auto-complete needs to appear above modal: https://github.com/twbs/bootstrap/issues/4160
// This is used for the address auto-complete field (.pac-container is injected via Google)
.pac-container {
  z-index: 1051 !important;
}

// Used to prevent scrolling underneath a modal(modal)
// Reference: Issue #1415
.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

// Used to change the bootstrap popover title background color to WeVote blue and the text to white.
.popover-header {
  background-color: $brand-blue;
  color: $white-text-color;
}

//Used to change the bootstrap popover arrow background color to WeVote blue.
.popover.bottom .arrow::after {
  border-bottom-color: $brand-blue;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Bootstrap overrides
$btn-margin-bottom:              0;
$input-group-btn-margin-left:    -1px;
$space-inset__squish-btn:        6px 12px;
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $link-color;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 1;
  margin-left: $input-group-btn-margin-left;
}
.input-group-btn > .btn + .btn {
  margin-left: $input-group-btn-margin-left;
}
.input-group-addon:last-child,
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group .form-control:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-btn,
.input-group-btn > .btn {
  position: relative;
}
.btn-default {
  color: $gray-darker;
  background-color: $white;
  border-color: $white; // Was $gray-light
}
.btn-primary {
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border;
  color: $btn-primary-color;
  &:active {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
  }
  &:hover {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
  }
  &:link {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
  }
}
.btn {
  display: inline-block;
  //margin-bottom: $btn-margin-bottom;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: $space-inset__squish-btn;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: $radius-sm;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

