@media print {
  @page {
    size: portrait
  }
  //FireFox specific CSS
  @-moz-document url-prefix('') {
    body {
      background-color: white !important;
    }
  }
  body {
    background-color: white !important;
    color: $black;
  }
  //.ballot__filter__container,
  .sidebar-menu {
    display: none;
  }
  .container-main {
    width: 100%;
  }
  .container-settings {
    width: 100%;
  }
  // 'No print' utility class from Bootstrap is .d-print-none
  %d-print-none {
    display: none;
  }
  a[href]::after {
    content: ""; // Override Bootstrap styles adding href
    text-decoration: none;
  }
  a, a:not(.btn) {
    text-decoration: none;
  }
}
