@media print {
  @page {
    size: portrait
  }
  body {
    background-color: $white !important;
    color: $black;
  }
  .headroom-wrapper,
  .page-header__container,
  .sidebar-menu {
    display: none;
  }
  .container-main {
    width: 100%;
  }
  // 'No print' utility class from Bootstrap is .hidden-print
  %hidden-print {
    display: none;
  }
  a[href]::after {
    content: ""; // Override Bootstrap styles adding href
  }
}
